{{!-- Parameters:
resultsForDisplay: {Array<Object>} = {
  cssClass: {String}
  content: {String}
}
outcomeType: {String}
degree: {String | Number}
numberOfDice: {String | Number}
positives: {String | Number}
negatives: {String | Number}
diceComposition: {String}
primaryTitle: {String | undefined}
primaryImage: {String | undefined}
secondaryTitle: {String | undefined}
secondaryImage: {String | undefined}
cssClass: {undefined | String}
showBackFire: {Boolean | String}
obstacle: {Number}
isObstacleRolled: {Boolean}
numberOfObstacleDice: {Number | undefined}
obstacleRolls: {Array<Object> | undefined}
rolledObstacle: {Number | undefined}
--}}
<div class="dice-roll-chat-message-container{{#if cssClass}} {{cssClass}}{{/if}}">
  {{!-- Header --}}
  {{!-- Secondary Title --}}
  {{#if (or (neq secondaryTitle undefined) (neq secondaryImage undefined))}}
    <div class="flex flex-row">
      {{#if secondaryImage}}
      <div class="flex flex-center">
        <img class="inline-img header-image margin-r-sm" name="img" src="{{secondaryImage}}" height="20" width="20" />
      </div>
      {{/if}}
      {{#if secondaryTitle}}
        <h3>
          {{localize secondaryTitle}}
        </h3>
      {{/if}}
    </div>
  {{/if}}
  {{!-- Primary Title --}}
  {{#if (or (neq primaryTitle undefined) (neq primaryImage undefined))}}
    <div class="flex flex-row">
      {{#if primaryImage}}
      <div class="flex flex-center">
        <img class="inline-img header-image margin-r-sm" name="img" src="{{primaryImage}}" height="35" width="35" />
      </div>
      {{/if}}
      {{#if primaryTitle}}
        <h2 class="flex-grow">
          {{localize primaryTitle}}
        </h2>
      {{/if}}
    </div>
  {{/if}}
  {{!-- Obstacle (if rolled for) --}}
  {{#if isObstacleRolled}}
  <div class="sheet-block">
    <div class="dice-number">
      {{localize "ambersteel.roll.obstacle.numberOfDice"}}: {{numberOfObstacleDice}}
    </div>
    <div class="dice-rolls-container">
      <ol class="dice-rolls">
        {{#each obstacleRolls as | obstacleRoll |}}
          <li class="roll die d6 {{obstacleRoll.cssClass}}">{{obstacleRoll.content}}</li>
        {{/each}}
      </ol>
    </div>
    <div>
      {{localize "ambersteel.roll.obstacle.result"}}: {{rolledObstacle}} + 1 = {{obstacle}}
    </div>
  </div>
  {{/if}}
  {{!-- Dice --}}
  <div class="dice-number">
    {{localize "ambersteel.roll.numberOfDice"}}: {{numberOfDice}}
  </div>
  {{#if diceComposition}}
    <div class="dice-composition">
      {{diceComposition}}
    </div>
  {{/if}}
  <div class="dice-rolls-container">
    <ol class="dice-rolls">
      {{#each resultsForDisplay as | resultForDisplay |}}
        <li class="roll die d6 {{resultForDisplay.cssClass}}">{{resultForDisplay.content}}</li>
      {{/each}}
    </ol>
  </div>
  {{!-- Outcome --}}
  <div class="dice-result-container">
    {{#if (eq outcomeType "SUCCESS")}}
      <div class="dice-result success">
        {{localize "ambersteel.roll.success.label"}}!
      </div>
    {{/if}}
    {{#if (eq outcomeType "PARTIAL")}}
      <div class="dice-result partial">
        {{localize "ambersteel.roll.partial.label"}}!
      </div>
    {{/if}}
    {{#if (eq outcomeType "FAILURE")}}
      <div class="dice-result failure">
        {{localize "ambersteel.roll.failure.label"}}!
      </div>
    {{/if}}
    {{#if showBackFire}}
      <div class="dice-result failure flex flex-row flex-middle">
        <i class="fas fa-exclamation-triangle"></i>
        <span class="margin-l-md">{{localize "ambersteel.roll.backFire.label"}}!</span>
      </div>
    {{/if}}
    <div class="dice-degree">
      <span>{{localize "ambersteel.roll.positive.plural"}}: {{positives}}</span>
      <span>{{localize "ambersteel.roll.negative.plural"}}: {{negatives}}</span>
      <span>{{localize "ambersteel.roll.missing.plural"}}: {{missingDiceCount}}</span>
    </div>
  </div>
</div>