{{!-- Parameters:
id: String
primaryTitle: String | undefined
primaryImage: String | undefined
secondaryTitle: String | undefined
secondaryImage: String | undefined
cssClass: {undefined | String}

showIntermediateFaces: Boolean | undefined
intermediateFaces: Array<Object> = {
  cssClass: String
  content: String
}

finalFaces: Array<Object> = {
  cssClass: String
  content: String
}

outcomeType: {String}
degree: String | Number

diceCount: String | Number
hitCount: String | Number
missCount: String | Number
blankCount: String | Number

diceComposition: String

obstacle: Number
unmodifiedObstacle: Number
isObstacleRolled: Boolean
obFormula: String
resolvedObFormula: String

showReminder: Boolean
additionalContent: String
--}}
<div id="{{id}}" class="dice-roll-chat-message-container auto-margin-v-sm custom-system-chat-message{{#if cssClass}} {{cssClass}}{{/if}}">
  {{!-- Header --}}
  {{!-- Secondary Title --}}
  {{#if (or (neq secondaryTitle undefined) (neq secondaryImage undefined))}}
    <div class="flex flex-row">
      {{#if secondaryImage}}
      <div class="flex flex-center">
        <img class="inline-img header-image margin-r-sm" name="img" src="{{secondaryImage}}" height="20" width="20" />
      </div>
      {{/if}}
      {{#if secondaryTitle}}
        <h3>
          {{localize secondaryTitle}}
        </h3>
      {{/if}}
    </div>
  {{/if}}
  {{!-- Primary Title --}}
  {{#if (or (neq primaryTitle undefined) (neq primaryImage undefined))}}
    <div class="flex flex-row">
      {{#if primaryImage}}
      <div class="flex flex-center">
        <img class="inline-img header-image margin-r-sm" name="img" src="{{primaryImage}}" height="35" width="35" />
      </div>
      {{/if}}
      {{#if primaryTitle}}
        <h2 class="flex-grow">
          {{localize primaryTitle}}
        </h2>
      {{/if}}
    </div>
  {{/if}}
  {{!-- Details --}}
  <div class="flex flex-row flex-middle flex-grow flex-wrap auto-margin-h-md">
    {{!-- Number of dice --}}
    <a id="{{id}}-toggle-details" class="flex-grow">
      <div class="flex flex-center roll-details-button pad-sm">
        <span class="strive-pill flex flex-row font-size-default" title="{{localize "system.roll.numberOfDice"}}">
          <div class="flex flex-center">
            <i class="fas fa-dice-three"></i>
          </div>
          <div class="flex flex-center margin-l-md margin-r-md">
            {{> verticalLine}}
          </div>
          <div class="flex flex-center">
            <span class="dice-number">{{diceCount}}</span>
          </div>
        </span>
      </div>
    </a>
  </div>
  <div id="{{id}}-details" class="sheet-block hidden" style="height: 0%;">
    {{!-- Dice composition --}}
    {{#if diceComposition}}
    <div class="dice-composition">{{diceComposition}}</div>
    {{/if}}
    {{!-- Obstacle (if rolled for) --}}
    {{#if isObstacleRolled}}
    <div class="border-solid-t-sm pad-t-sm margin-t-md">
      <span>{{localize "system.roll.obstacle.abbreviation"}}: {{obFormula}}</span>
      <div class="dice-rolls-container mini">
        {{{resolvedObFormula}}}
      </div>
      <span>{{unmodifiedObstacle}} (+ 1) = {{obstacle}}</span>
    </div>
    {{/if}}
    {{#if showIntermediateFaces}}
    {{!-- Intermediate Faces --}}
    <div class="dice-rolls-container mini border-solid-t-sm pad-t-sm margin-t-md">
      <ol class="dice-rolls">
        {{#each intermediateFaces as | face |}}
          <li class="{{face.cssClass}}">{{face.content}}</li>
        {{/each}}
      </ol>
    </div>
    {{/if}}
  </div>
  {{!-- Final Faces --}}
  <div class="dice-rolls-container">
    <ol class="dice-rolls">
      {{#each finalFaces as | face |}}
        <li class="{{face.cssClass}}">{{face.content}}</li>
      {{/each}}
    </ol>
  </div>
  {{!-- Outcome --}}
  <div class="dice-result-container auto-margin-v-md">
    {{#if (eq outcomeType "SUCCESS")}}
      <div class="dice-result success">{{localize "system.roll.success.label"}}!</div>
    {{/if}}
    {{#if (eq outcomeType "PARTIAL")}}
      <div class="dice-result partial">{{localize "system.roll.partial.label"}}!</div>
    {{/if}}
    {{#if (eq outcomeType "FAILURE")}}
      <div class="dice-result failure">{{localize "system.roll.failure.label"}}!</div>
    {{/if}}
    <div class="flex flex-row flex-center flex-wrap auto-margin-h-lg auto-margin-h-sm font-size-default">
      {{!-- Hits --}}
      <span class="strive-pill flex flex-row font-size-default" title="{{localize "system.roll.hit.plural"}}">
        <div class="flex flex-center"><i class="ico dark ico-dice-check-solid" style="width: 1rem; height: 1rem;"></i></div>
        <div class="flex flex-center margin-l-md margin-r-md">{{> verticalLine}}</div>
        <div class="flex flex-center"><span class="dice-number">{{hitCount}}</span></div>
      </span>
      {{!-- Misses --}}
      <span class="strive-pill flex flex-row font-size-default" title="{{localize "system.roll.miss.plural"}}">
        <div class="flex flex-center"><i class="ico dark ico-dice-times-solid" style="width: 1rem; height: 1rem;"></i></div>
        <div class="flex flex-center margin-l-md margin-r-md">{{> verticalLine}}</div>
        <div class="flex flex-center"><span class="dice-number">{{missCount}}</span></div>
      </span>
      {{!-- Missing --}}
      {{#if (neq blankCount 0)}}
      <span class="strive-pill flex flex-row font-size-default" title="{{localize "system.roll.missing.plural"}}">
        <div class="flex flex-center"><i class="ico dark ico-dice-void-line" style="width: 1rem; height: 1rem;"></i></div>
        <div class="flex flex-center margin-l-md margin-r-md">{{> verticalLine}}</div>
        <div class="flex flex-center"><span class="dice-number">{{blankCount}}</span></div>
      </span>
      {{/if}}
    </div>
  </div>
  {{!-- Reminder --}}
  {{#if showReminder}}
  <p class="border-solid-t-sm" style="text-align: center;">{{localize "system.roll.reminder"}}</p>
  {{/if}}
  {{!-- Additional Content --}}
  {{#if additionalContent}}
  <p class="border-solid-t-sm" style="text-align: center;">{{{additionalContent}}}</p>
  {{/if}}
</div>
