{{!-- Parameters:
viewModel: {SkillListItemViewModel}
cssClass: {undefined | String}
--}}
<div class="custom-system-list-item{{#if cssClass}} {{cssClass}}{{/if}}">
  {{!-- Row --}}
  <div class="flex flex-row flex-middle list-item-header">
    {{!-- Roll --}}
    {{> buttonRoll viewModel=viewModel.vmBtnRoll }}
    {{!-- Send to chat --}}
    {{> buttonSendToChat viewModel=viewModel.vmBtnSendToChat }}
    {{!-- Name --}}
    <span class="width-min-xl">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.skill.singular"}}{{/label}}
    </span>
    <div class="list-item-header-img">
      {{> inputImage viewModel=viewModel.vmImg cssClass="custom-icon-sm" }}
    </div>
    <div class="flex-grow margin-r-md">
      {{> inputTextField viewModel=viewModel.vmTfName cssClass="list-item-header" }}
    </div>
    {{!-- Delete --}}
    {{> buttonDelete viewModel=viewModel.vmBtnDelete }}
  </div>
  {{!-- Row --}}
  <div class="flex flex-row">
    {{!-- Related Attribute --}}
    <div class="width-min-xxl">
      {{> inputDropDown viewModel=viewModel.vmDdRelatedAttribute }}
    </div>
    {{!-- Level --}}
    <div class="flex flex-row margin-b-md">
      <div class="width-min-lg">
        {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.advancement.level"}}{{/label}}
      </div>
      <div class="width-md">
        {{> inputNumberSpinner viewModel=viewModel.vmNsLevel }}
      </div>
      {{!-- Modified Level --}}
      <div class="margin-l-sm">
        {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.advancement.moddedLevelAbbreviation"}}{{/label}}
      </div>
      <div class="width-md">
        {{> inputNumberSpinner viewModel=viewModel.vmNsModdedLevel }}
      </div>
    </div>
    {{!-- Spacer --}}
    <div class="flex-grow"></div>
    {{!-- Advancement Requirements --}}
    <div class="flex flex-row margin-b-md">
      <div class="width-min-xl">
        {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.advancement.requirements.abbreviation"}}{{/label}}
      </div>
      <div class="width-md">
        {{#> readOnlyValue}}{{viewModel.successes}} / {{viewModel.failures}}{{/readOnlyValue}}
      </div>
    </div>
    {{!-- Successes --}}
    <div class="flex flex-row margin-b-md">
      <div class="width-min-l margin-l-sm">
        {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.advancement.requirements.success.abbreviation"}}{{/label}}
      </div>
      <div class="width-md">
        {{> inputNumberSpinner viewModel=viewModel.vmNsSuccesses }}
      </div>
    </div>
    {{!-- Failures --}}
    <div class="flex flex-row margin-b-md">
      <div class="width-min-l margin-l-sm">
        {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.advancement.requirements.failure.abbreviation"}}{{/label}}
      </div>
      <div class="width-md">
        {{> inputNumberSpinner viewModel=viewModel.vmNsFailures }}
      </div>
    </div>
  </div>
  {{!-- Row --}}
  {{!-- Description --}}
  <div class="flex flex-column margin-b-md border-solid-t-sm border-solid-b-sm">
    {{> inputRichText viewModel=viewModel.vmRtDescription }}
  </div>
  {{!-- Row --}}
  {{!-- Properties --}}
  <div class="flex flex-row margin-b-sm">
    <span class="width-min-xl">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.general.properties.label"}}{{/label}}
    </span>
    <span class="flex flex-grow">
      {{> inputProperties viewModel=viewModel.vmProperties}}
    </span>
  </div>
  {{!-- Row --}}
  <div class="flex flex-row">
    {{!-- Category --}}
    <div class="width-min-xl">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.general.category"}}{{/label}}
    </div>
    <div class="width-xxl">
      {{> inputTextField viewModel=viewModel.vmTfCategory }}
    </div>
  </div>
  {{!-- Row --}}
  {{!-- Skill Abilites --}}
  {{#> header3 showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.skill.ability.plural"}}{{/header3}}
  {{> "systems/ambersteel/presentation/sheet/item/skill-ability/skill-ability-table.hbs" viewModel=viewModel.vmSkillAbilityTable cssClass=(ifThenElse viewModel.isSkillAbilityListVisible "" "hidden") }}
</div>
