{{!-- Parameters:
viewModel: {SkillChatMessageViewModel}
cssClass: {undefined | String}
--}}
<section class="custom-system-chat-message{{#if cssClass}} {{cssClass}}{{/if}}" 
  data-view-model-id="{{viewModel.id}}"
  data-document-id="{{viewModel.entityId}}"
>
  {{!-- Header --}}
  <div class="flex flex-row">
    <div class="flex flex-center">
      <img class="inline-img header-image margin-r-sm" name="img" src="{{viewModel.document.img}}" title="{{viewModel.document.name}}" height="35" width="35" />
    </div>
    {{#> header2 showFancyFont=viewModel.showFancyFont cssClass="flex-grow"}}{{viewModel.document.name}}{{/header2}}
  </div>
  {{!-- Related Attribute --}}
  <div class="flex flex-row sheet-block margin-b-md{{#if (eq viewModel.isHeadless true)}} hidden{{/if}}">
    <div class="width-min-xxl">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.attribute.singular"}}{{/label}}
    </div>
    <div class="flex-grow">
      {{viewModel.relatedAttribute}}
    </div>
  </div>
  {{!-- Category --}}
  <div class="flex flex-row sheet-block margin-b-md{{#if (eq viewModel.isHeadless true)}} hidden{{/if}}">
    <div class="width-min-xxl">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.general.category"}}{{/label}}
    </div>
    <div class="flex-grow">
      {{viewModel.document.category}}
    </div>
  </div>
  {{!-- Tags --}}
  <div class="flex flex-row sheet-block margin-b-md{{#if (or (neq viewModel.hasTags true) (eq viewModel.isHeadless true))}} hidden{{/if}}">
    {{> inputTags viewModel=viewModel.vmTags }}
  </div>
  {{!-- Description --}}
  <div class="sheet-block scrollable-height-md{{#if (eq viewModel.isHeadless true)}} hidden{{/if}}">
    {{> lazyRichText viewModel=viewModel.vmLazyDescription}}
  </div>
  {{!-- Prerequisites --}}
  <div class="flex flex-column margin-b-sm{{#if (neq viewModel.showPrerequisites true)}} hidden{{/if}}">
    {{#> header3 showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.skill.prerequisite.plural"}}{{/header3}}
    <ul class="unstyled-list">
      {{#each viewModel.prerequisites as |prerequisite index|}}
      <li class="flex flex-row flex-middle sheet-block">
        <span class="flex flex-row flex-grow">
          {{prerequisite.name}}
        </span>
        <span class="width-md flex flex-center">
          {{prerequisite.minimumLevel}}
        </span>
      </li>
      {{/each}}
    </ul>
  </div>
  {{!-- Skill Abilites --}}
  {{#if viewModel.hasAbilities}}
    <div data-vis-group="{{viewModel.id}}-abilities" class="{{#if viewModel.skillAbilitiesInitiallyVisible}}{{else}}hidden{{/if}}">
    {{#with viewModel.templateSkillAbility as | template |}}
    {{#each ../viewModel.skillAbilityViewModels as |vm index|}}
      {{> (template) viewModel=vm}}
    {{/each}}
    {{/with}}
    </div>
    <div class="line-height">
      {{#> buttonToggleVisibility viewModel=viewModel.vmBtnToggleVisibilityExpand fill=true cssClass=(ifThenElse viewModel.skillAbilitiesInitiallyVisible "hidden" "") }}
        <i class="fas fa-angle-double-down"></i>
      {{/buttonToggleVisibility}}
      {{#> buttonToggleVisibility viewModel=viewModel.vmBtnToggleVisibilityCollapse fill=true cssClass=(ifThenElse viewModel.skillAbilitiesInitiallyVisible "" "hidden") }}
        <i class="fas fa-angle-double-up"></i>
      {{/buttonToggleVisibility}}
    </div>
  {{/if}}
</section>