{{!-- Parameters:
viewModel: {SkillListItemViewModel}
cssClass: {undefined | String}
--}}
<div class="custom-system-list-item{{#if cssClass}} {{cssClass}}{{/if}}">
  {{!-- Row --}}
  <div class="flex flex-row flex-middle list-item-header">
    {{!-- Roll --}}
    {{> buttonRoll viewModel=viewModel.vmBtnRoll }}
    {{!-- Send to chat --}}
    {{> buttonSendToChat viewModel=viewModel.vmBtnSendToChat }}
    {{!-- Name --}}
    <span class="width-min-xl">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.skill.singular"}}{{/label}}
    </span>
    <div class="list-item-header-img">
      {{> inputImage viewModel=viewModel.vmImg cssClass="custom-icon-sm" }}
    </div>
    <div class="flex-grow margin-r-md">
      {{> inputTextField viewModel=viewModel.vmTfName cssClass="list-item-header" }}
    </div>
    {{!-- Configure --}}
    {{#> button viewModel=viewModel.vmBtnEdit square=true }}
      <div class="button light square flex flex-center">
        <i class="fas fa-cog"></i>
      </div>
    {{/button}}
    {{!-- Delete --}}
    {{> buttonDelete viewModel=viewModel.vmBtnDelete }}
  </div>
  {{!-- Row --}}
  <div class="flex flex-row margin-b-md">
    {{!-- Level --}}
    <div class="flex flex-row">
      <div class="width-min-lg{{#if (neq viewModel.showLevel true)}} hidden{{/if}}">
        {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.advancement.level"}}{{/label}}
      </div>
      <div class="width-md{{#if (neq viewModel.showLevel true)}} hidden{{/if}}">
        {{> inputNumberSpinner viewModel=viewModel.vmNsLevel }}
      </div>
      {{!-- Level Modifier --}}
      <div class="margin-l-sm{{#if (neq viewModel.showAdvancedData true)}} hidden{{/if}}">
        {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.advancement.levelModAbbreviation"}}{{/label}}
      </div>
      <div class="width-md{{#if (neq viewModel.showAdvancedData true)}} hidden{{/if}}">
        {{> inputNumberSpinner viewModel=viewModel.vmNsLevelModifier }}
      </div>
      {{!-- Modified Level --}}
      <div class="width-md flex flex-middle{{#if (neq viewModel.showAdvancedData true)}} hidden{{/if}}">
        <span class="pad-md font-bold">=</span>
        {{#> readOnlyValue cssClass="width-min-md font-size-lg flex flex-center"}}{{viewModel.modifiedLevel}}{{/readOnlyValue}}
      </div>
    </div>
    {{!-- Spacer --}}
    <div class="flex-grow"></div>
    {{!-- Advancement Requirements --}}
    <div class="flex flex-row{{#if (neq viewModel.showAdvancedData true)}} hidden{{/if}}">
      <div class="width-min-xl">
        {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.advancement.requirements.successAndFailure.abbreviation"}}{{/label}}
      </div>
      <div class="width-min-md">
        {{#> readOnlyValue}}{{viewModel.successes}} / {{viewModel.failures}}{{/readOnlyValue}}
      </div>
    </div>
    {{!-- Successes --}}
    <div class="flex flex-row{{#if (neq viewModel.showAdvancedData true)}} hidden{{/if}}">
      <div class="width-min-l margin-l-sm">
        {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.advancement.requirements.success.abbreviation"}}{{/label}}
      </div>
      <div class="width-md">
        {{> inputNumberSpinner viewModel=viewModel.vmNsSuccesses }}
      </div>
    </div>
    {{!-- Failures --}}
    <div class="flex flex-row{{#if (neq viewModel.showAdvancedData true)}} hidden{{/if}}">
      <div class="width-min-l margin-l-sm">
        {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.advancement.requirements.failure.abbreviation"}}{{/label}}
      </div>
      <div class="width-md">
        {{> inputNumberSpinner viewModel=viewModel.vmNsFailures }}
      </div>
    </div>
    {{!-- Exercised --}}
    <div class="flex flex-row margin-l-lg{{#if (neq viewModel.showAdvancedData true)}} hidden{{/if}}">
      <div class="flex flex-center font-size-lg">
        <i class="fas fa-dumbbell"></i>
      </div>
      <div class="width-sm">
        {{> buttonCheckbox viewModel=viewModel.vmExercised }}
      </div>
    </div>
  </div>
  {{!-- Row --}}
  {{!-- Description --}}
  <div class="flex flex-column margin-b-md border-solid-t-sm border-solid-b-sm{{#if (neq viewModel.showAdvancedData true)}} hidden{{/if}}">
    {{> inputRichText viewModel=viewModel.vmRtDescription }}
  </div>
  {{!-- Related Attribute --}}
  <div class="flex flex-row margin-b-sm{{#if (neq viewModel.showAdvancedData true)}} hidden{{/if}}">
    <span class="width-min-xl">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.skill.relatedAttribute"}}{{/label}}
    </span>
    <span>
      {{> inputDropDown viewModel=viewModel.vmDdRelatedAttribute }}
    </span>  
  </div>
  {{!-- Row --}}
  {{!-- Prerequisites --}}
  <div class="flex flex-column margin-b-sm{{#if (or (neq viewModel.showAdvancedData true) (neq viewModel.showPrerequisites true))}} hidden{{/if}}">
    {{#> header3 showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.skill.prerequisite.plural"}}{{/header3}}
    <ul class="unstyled-list">
      {{#each viewModel.prerequisites as |prerequisite index|}}
      <li class="flex flex-row flex-middle">
        <span class="flex flex-row flex-grow">
          {{#> readOnlyValue cssClass="flex flex-center"}}{{prerequisite.name}}{{/readOnlyValue}}
        </span>
        <span style="width: 144px">
          {{#> label showFancyFont=../viewModel.showFancyFont}}{{localize "ambersteel.character.advancement.minimum"}}{{/label}}
        </span>
        <span class="width-md">
          {{#> readOnlyValue cssClass="font-size-md flex flex-center"}}{{prerequisite.minimumLevel}}{{/readOnlyValue}}
        </span>
      </li>
      {{/each}}
    </ul>
  </div>
  {{!-- Row --}}
  {{!-- Properties --}}
  <div class="flex flex-row margin-b-sm{{#if (neq viewModel.showAdvancedData true)}} hidden{{/if}}">
    <span class="width-min-xl">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.general.properties.label"}}{{/label}}
    </span>
    <span class="flex flex-grow">
      {{> inputProperties viewModel=viewModel.vmProperties}}
    </span>
  </div>
  {{!-- Row --}}
  <div class="flex flex-row{{#if (neq viewModel.showAdvancedData true)}} hidden{{/if}}">
    {{!-- Category --}}
    <div class="width-min-xl">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.general.category"}}{{/label}}
    </div>
    <div class="width-xxl">
      {{> inputTextField viewModel=viewModel.vmTfCategory }}
    </div>
  </div>
  {{!-- Row --}}
  {{!-- Skill Abilites --}}
  {{#if viewModel.showSkillAbilities}}
  {{#> header3 showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.skill.ability.plural"}}{{/header3}}
  {{> "systems/ambersteel/presentation/sheet/item/skill-ability/skill-ability-table.hbs" viewModel=viewModel.vmSkillAbilityTable cssClass=(ifThenElse viewModel.isSkillAbilityListVisible "" "hidden") }}
  {{/if}}
</div>
