{{!-- Parameters:
viewModel: {SkillListItemViewModel}
cssClass: {undefined | String}
--}}
<div id="{{viewModel.id}}" class="custom-system-list-item{{#if cssClass}} {{cssClass}}{{/if}}">
  {{!-- Row --}}
  <div class="flex flex-row flex-middle list-item-header">
    {{!-- Roll --}}
    {{> buttonRoll viewModel=viewModel.vmBtnRoll cssClass="" }}
    {{!-- Send to chat --}}
    {{> buttonSendToChat viewModel=viewModel.vmBtnSendToChat cssClass="" }}
    {{!-- Identity --}}
    <div class="list-item-header-img">
      {{> inputImage viewModel=viewModel.vmImg cssClass="custom-icon-sm" }}
    </div>
    {{#> button viewModel=viewModel.vmHeaderButton leftAlign=true cssClass="flex-grow pad-l-md font-size-lg font-bold" }}{{/button}}
    {{!-- Context Menu --}}
    {{> buttonContextMenu viewModel=viewModel.vmBtnContextMenu cssClass="" }}
    {{!-- Delete --}}
    {{> buttonDelete viewModel=viewModel.vmBtnDelete cssClass="" }}
  </div>
  {{!-- Row --}}
  <div class="flex flex-row flex-wrap margin-b-md auto-margin-h">
    <div class="flex flex-row flex-grow flex-middle auto-margin-h sheet-block">
      {{!-- Related Attribute --}}
      {{#> labeledControl viewModel=viewModel.vmDdRelatedAttribute localizedIconToolTip=(localize "ambersteel.character.skill.relatedAttribute") iconClass="ico-related-attribute-solid" cssClass="flex-grow" }}
        {{> inputDropDown }}
      {{/labeledControl}}
      {{!-- Level --}}
      <div class="flex flex-row auto-margin-h">
        {{#> labeledControl viewModel=viewModel.vmNsLevel localizedIconToolTip=(localize "ambersteel.character.advancement.level") iconClass="ico-level-solid" }}
          <div class="width-sm">
            {{> inputNumberSpinner }}
          </div>
        {{/labeledControl}}
        {{!-- Level Modifier --}}
        {{#> labeledControl viewModel=viewModel.vmNsLevelModifier localizedIconToolTip=(localize "ambersteel.character.advancement.modifier.label") iconClass="ico-level-modifier-solid" }}
          <div class="width-sm">
            {{> inputNumberSpinner }}
          </div>
        {{/labeledControl}}
        {{!-- Modified Level --}}
        <div class="flex flex-middle">
          <span class="pad-t-md pad-b-md pad-r-md font-bold font-bold">=</span>
          {{#> readOnlyValue cssClass="width-sm font-size-lg flex flex-center"}}{{viewModel.modifiedLevel}}{{/readOnlyValue}}
        </div>
      </div>
    </div>
    {{#if viewModel.showAdvancementProgression}}
    {{!-- Advancement Requirements --}}
    <div class="flex flex-row flex-middle auto-margin-h sheet-block">
      <div class="flex flex-row">
        <div class="width-min-xl">
          {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.advancement.requirements.successAndFailure.abbreviation"}}{{/label}}
        </div>
        <div class="width-min-md">
          {{#> readOnlyValue}}{{viewModel.successes}} / {{viewModel.failures}}{{/readOnlyValue}}
        </div>
      </div>
      {{!-- Successes --}}
      {{#> labeledControl viewModel=viewModel.vmNsSuccesses localizedLabel=(localize "ambersteel.character.advancement.requirements.success.abbreviation") }}
        <div class="width-md">
          {{> inputNumberSpinner }}
        </div>
      {{/labeledControl}}
      {{!-- Failures --}}
      {{#> labeledControl viewModel=viewModel.vmNsFailures localizedLabel=(localize "ambersteel.character.advancement.requirements.failure.abbreviation") }}
        <div class="width-md">
          {{> inputNumberSpinner }}
        </div>
      {{/labeledControl}}
    </div>
    {{/if}}
  </div>
  <div id="{{viewModel.id}}-content" {{#if viewModel.isExpanded}}class="" style="height: 100%;"{{else}}class="hidden" style="height: 0%;"{{/if}}>
    {{!-- Row --}}
    {{!-- Description --}}
    <div class="flex flex-column margin-b-md border-solid-t-sm border-solid-b-sm">
      {{> inputRichText viewModel=viewModel.vmRtDescription }}
    </div>
    {{!-- Row --}}
    <div class="grid-2col grid-gap-sm">
      {{!-- Lots of optional content here --}}
      {{!-- AP cost --}}
      <div class="{{#if viewModel.hideApCost}} hidden{{/if}}">
        {{#> labeledControl viewModel=viewModel.vmNsApCost localizedIconToolTip=(localize "ambersteel.actionPoint.plural") iconClass="ico-action-point-solid" cssClass="" }}
          {{> inputNumberSpinner }}
        {{/labeledControl}}
      </div>
      {{!-- Condition --}}
      <div class="{{#if viewModel.hideCondition}} hidden{{/if}}">
        {{#> labeledControl viewModel=viewModel.vmCondition localizedIconToolTip=(localize "ambersteel.character.skill.ability.condition.label") iconClass="ico-condition-solid" cssClass="flex-grow" }}
          {{> inputTextField }}
        {{/labeledControl}}
      </div>
      {{!-- Obstacle --}}
      <div{{#if viewModel.hideObstacle}} class="hidden"{{/if}}>
        {{#> labeledControl viewModel=viewModel.vmTfObstacle localizedIconToolTip=(localize "ambersteel.roll.obstacle.label") iconClass="ico-obstacle-solid" cssClass="flex-grow" }}
          {{> inputTextField }}
        {{/labeledControl}}
      </div>
      {{!-- Opposed By --}}
      <div{{#if viewModel.hideOpposedBy}} class="hidden"{{/if}}>
        {{#> labeledControl viewModel=viewModel.vmTfOpposedBy localizedIconToolTip=(localize "ambersteel.roll.obstacle.opposedBy.label") iconClass="ico-opposed-by-solid" cssClass="" }}
          {{> inputTextField }}
        {{/labeledControl}}
      </div>
      {{!-- Distance --}}
      <div{{#if viewModel.hideDistance}} class="hidden"{{/if}}>
        {{#> labeledControl viewModel=viewModel.vmTfDistance localizedIconToolTip=(localize "ambersteel.character.skill.ability.distance.label") iconClass="ico-distance-solid" cssClass="" }}
          {{> inputTextField }}
        {{/labeledControl}}
      </div>
      {{!-- Attack type --}}
      <div{{#if viewModel.hideAttackType}} class="hidden"{{/if}}>
        {{#> labeledControl viewModel=viewModel.vmDdAttackType localizedIconToolTip=(localize "ambersteel.attackType.label") iconClass=viewModel.attackTypeIconClass cssClass="" }}
          {{> inputDropDown }}
        {{/labeledControl}}
      </div>
    </div>
    {{!-- Row --}}
    {{!-- Damage --}}
    <div class="flex flex-row sheet-block{{#if viewModel.hideDamage}} hidden{{/if}}">
      <div class="flex flex-center">
        <span class="button light square font-size-default flex flex-center" id="{{viewModel.id}}-damage-info">
          <i class="far fa-question-circle info-button"></i>
        </span>
      </div>
      {{> damageDefinitionList viewModel=viewModel.vmDamageDefinitionList}}
    </div>
    {{!-- Row --}}
    {{!-- Prerequisites --}}
    <div class="flex flex-column margin-b-sm{{#if (neq viewModel.showPrerequisites true)}} hidden{{/if}}">
      {{#> header3 showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.skill.prerequisite.plural"}}{{/header3}}
      <ul class="unstyled-list auto-margin-v">
        {{#each viewModel.prerequisites as |prerequisite index|}}
        <li class="flex flex-row flex-middle">
          <span class="flex flex-row flex-grow">
            {{#> readOnlyValue cssClass="flex flex-center"}}{{prerequisite.name}}{{/readOnlyValue}}
          </span>
          <span style="width: 144px">
            {{#> label showFancyFont=../viewModel.showFancyFont}}{{localize "ambersteel.character.advancement.minimum"}}{{/label}}
          </span>
          <span class="width-md">
            {{#> readOnlyValue cssClass="font-size-md flex flex-center"}}{{prerequisite.minimumLevel}}{{/readOnlyValue}}
          </span>
        </li>
        {{/each}}
      </ul>
    </div>
    {{!-- Row --}}
    <div class="flex flex-row flex-middle auto-margin-h sheet-block">
      {{!-- Category --}}
      {{#> labeledControl viewModel=viewModel.vmTfCategory localizedIconToolTip=(localize "ambersteel.general.category") iconClass="fas fa-folder" cssClass="" }}
        <div class="width-xxl">
          {{> inputTextField }}
        </div>
      {{/labeledControl}}
      {{!-- Tags --}}
      {{#> labeledControl viewModel=viewModel.vmTags localizedIconToolTip=(localize "ambersteel.general.tags.label") iconClass="ico-tags-solid" cssClass="" }}
        {{> inputTags }}
      {{/labeledControl}}
    </div>
    {{!-- Row --}}
    {{!-- Skill Abilites --}}
    {{#if viewModel.showSkillAbilities}}
      {{#with viewModel.skillAbilitiesTemplate as |template|}}
      {{> (template) viewModel=../viewModel.vmSkillAbilityTable }}
      {{/with}}
    {{/if}}
  </div>
</div>
