{{!-- Parameters:
viewModel: DynamicInputDialogViewModel
buttons: Array<Object>
--}}
{{#> dialogContent}}
  {{#each viewModel.inputDefinitions as |definition index|}}
  <div id="{{definition.name}}" class="flex flex-row auto-margin-h-md sheet-block">
    {{!-- Label --}}
    {{#if (or definition.localizedLabel definition.iconHtml)}}
    <div class="flex flex-row flex-grow flex-middle">
      {{#if definition.localizedLabel}}
      {{#> label showFancyFont=definition.showFancyFont cssClass="flex-grow"}}{{{definition.localizedLabel}}}{{/label}}
      {{/if}}
      {{#if definition.required}}
        <span class="font-size-md font-bold">*</span>
      {{/if}}
      {{!-- Icon --}}
      {{#if definition.iconHtml}}
      <span class="flex flex-center">
        {{{definition.iconHtml}}}
      </span>
      {{/if}}
    </div>
    {{/if}}
    {{!-- Input element --}}
    {{#if definition.isRenderable}}
    <div id="{{definition.name}}-slot" class="flex flex-middle flex-grow">
			<div id="{{definition.name}}-placeholder" class="flex flex-center">
        <i class="fa-spinner fas font-size-lg spin"></i>
      </div>
    </div>
    {{/if}}
  </div>
  {{/each}}
  <div id="required-input-warning" class="hint-card error hidden">
		<p>{{localize "system.general.input.validationFailed"}}:</p>
    <ul id="required-input-list">
    </ul>
  </div>
{{/dialogContent}}