{{!-- Parameters:
viewModel: {Array<DynamicInputDialogViewModel>}
--}}
{{#> dialogContent}}
  {{#each viewModel.controls as |control index|}}
  <div class="flex flex-row auto-margin-h-md sheet-block">
    {{!-- Label only --}}
    {{#if (eq control.definition.type "LABEL")}}
    <div id="{{control.viewModel.id}}">{{{control.definition.localizedLabel}}}</div>
    {{else}}
    {{!-- Label --}}
    <div class="flex flex-row flex-grow">
      {{#> label showFancyFont=viewModel.showFancyFont cssClass="flex-grow"}}{{{control.definition.localizedLabel}}}{{/label}}
      {{#if control.definition.required}}
        <span class="font-size-md font-bold">*</span>
      {{/if}}
    </div>
    {{!-- Input control --}}
    <div class="flex flex-middle flex-grow">
      {{#if (eq control.definition.type "DROP_DOWN")}}
        {{> inputDropDown viewModel=control.viewModel}}
      {{/if}}
      {{#if (eq control.definition.type "IMAGE")}}
        {{> inputImage viewModel=control.viewModel}}
      {{/if}}
      {{#if (eq control.definition.type "NUMBER_SPINNER")}}
        {{> inputNumberSpinner viewModel=control.viewModel}}
      {{/if}}
      {{#if (eq control.definition.type "RADIO_BUTTONS")}}
        {{> inputRadioButtonGroup viewModel=control.viewModel}}
      {{/if}}
      {{#if (eq control.definition.type "RICH_TEXT")}}
        {{> inputRichText viewModel=control.viewModel}}
      {{/if}}
      {{#if (eq control.definition.type "TEXTAREA")}}
        {{> inputTextarea viewModel=control.viewModel}}
      {{/if}}
      {{#if (eq control.definition.type "TEXTFIELD")}}
        {{> inputTextField viewModel=control.viewModel}}
      {{/if}}
      {{#if (eq control.definition.type "SIMPLE_LIST")}}
        {{> simpleList viewModel=control.viewModel cssClass="flex-grow" }}
      {{/if}}
      {{#if (eq control.definition.type "TOGGLE")}}
        {{> inputToggle viewModel=control.viewModel}}
      {{/if}}
    </div>
    {{/if}}
  </div>
  {{/each}}
  <div id="required-input-warning" class="hint-card error hidden">
		<p>{{localize "system.general.input.validationFailed"}}:</p>
    <ul id="required-input-list">
    </ul>
  </div>
{{/dialogContent}}