{{!-- Required context:
viewModel: {SkillAbilityChatMessageViewModel}
--}}
<section class="custom-system-chat-message" 
  data-view-model-id="{{viewModel.id}}"
  data-document-id="{{viewModel.item.id}}"
  data-ability-index="{{viewModel.index}}"
>
  {{!-- Header --}}
  <div class="flex flex-row">
    <h3 class="flex-grow">
      {{localize viewModel.skillAbility.name}}
    </h3>
  </div>
  {{!-- Required level --}}
  <div class="flex flex-row sheet-block margin-b-md">
    <div class="width-min-xl fancy-font">
      {{localize "ambersteel.labels.skillAbilityRequirement"}}
    </div>
    <div class="flex-grow">
      {{viewModel.skillAbility.requiredLevel}}
    </div>
  </div>
  {{!-- Obstacle --}}
  <div class="flex flex-row sheet-block margin-b-md">
    <div class="width-min-xl fancy-font">
      {{localize "ambersteel.roll.obstacleAbbreviation"}}
    </div>
    <div class="flex-grow">
      {{viewModel.skillAbility.obstacle}}
    </div>
  </div>
  {{!-- Condition --}}
  <div class="flex flex-row sheet-block margin-b-md">
    <div class="width-min-xl fancy-font">
      {{localize "ambersteel.labels.skillAbilityCondition"}}
    </div>
    <div class="flex-grow">
      {{localize viewModel.skillAbility.condition}}
    </div>
  </div>
  {{!-- apCost --}}
  <div class="flex flex-row sheet-block margin-b-md">
    <div class="width-min-xl fancy-font">
      {{localize "ambersteel.labels.apCost"}}
    </div>
    <div class="flex-grow">
      {{viewModel.skillAbility.apCost}}
    </div>
  </div>
  {{!-- attackType --}}
  <div class="flex flex-row sheet-block margin-b-md">
    <div class="width-min-xl fancy-font">
      {{localize "ambersteel.labels.attackType"}}
    </div>
    <div class="flex-grow">
      {{localize viewModel.skillAbility.attackType.localizableName}}
    </div>
  </div>
  {{!-- distance --}}
  <div class="flex flex-row sheet-block margin-b-md">
    <div class="width-min-xl fancy-font">
      {{localize "ambersteel.labels.distance"}}
    </div>
    <div class="flex-grow">
      {{viewModel.skillAbility.distance}}
    </div>
  </div>
  {{!-- damageFormula --}}
  <div class="flex flex-row sheet-block margin-b-md">
    <div class="width-min-xl fancy-font">
      {{localize "ambersteel.labels.damage"}}
    </div>
    <div class="flex-grow">
      {{viewModel.skillAbility.damageFormula}}
    </div>
  </div>
  {{!-- damageType --}}
  <div class="flex flex-row sheet-block margin-b-md">
    <div class="width-min-xl fancy-font">
      {{localize "ambersteel.labels.damageType"}}
    </div>
    <div class="flex-grow">
      {{localize viewModel.skillAbility.damageType.localizableName}}
    </div>
  </div>
  {{!-- Description --}}
  <div class="sheet-block multiline">
    {{localize viewModel.skillAbility.description}}
  </div>
</section>