{{!-- Parameters:
viewModel: {SkillAbilityChatMessageViewModel}
cssClass: {undefined | String}
--}}
<section class="custom-system-chat-message{{#if cssClass}} {{cssClass}}{{/if}}" 
  data-view-model-id="{{viewModel.id}}"
  data-document-id="{{viewModel.item.id}}"
  data-ability-index="{{viewModel.index}}"
>
  {{!-- Header --}}
  {{#if viewModel.showParentSkill}}
    <div class="flex flex-row">
      {{#if viewModel.showParentSkillImage}}
      <div class="flex flex-center">
        <img class="inline-img header-image margin-r-sm" name="img" src="{{viewModel.parentSkillImage}}" height="20" width="20" />
      </div>
      {{/if}}
      {{#if viewModel.showParentSkillName}}
        <h3>
          {{localize viewModel.parentSkillName}}
        </h3>
      {{/if}}
    </div>
  {{/if}}
  <div class="flex flex-row">
    <div class="flex flex-center">
      <img class="inline-img header-image margin-r-sm" name="img" src="{{viewModel.skillAbility.img}}" title="{{viewModel.skillAbility.name}}" height="26" width="26" />
    </div>
    <h2 class="flex-grow">
      {{localize viewModel.skillAbility.name}}
    </h2>
  </div>
  {{!-- Required level --}}
  <div class="flex flex-row sheet-block margin-b-md">
    <div class="width-min-xxl{{#if viewModel.showFancyFont}} fancy-font{{/if}}">
      {{localize "ambersteel.character.skill.ability.requirement"}}
    </div>
    <div class="flex-grow">
      {{viewModel.skillAbility.requiredLevel}}
    </div>
  </div>
  {{!-- apCost --}}
  <div class="flex flex-row sheet-block margin-b-md">
    <div class="width-min-xxl{{#if viewModel.showFancyFont}} fancy-font{{/if}}">
      {{localize "ambersteel.character.skill.ability.apCost"}}
    </div>
    <div class="flex-grow">
      {{viewModel.skillAbility.apCost}}
    </div>
  </div>
  {{!-- Obstacle --}}
  <div class="flex flex-row sheet-block margin-b-md{{#if viewModel.hideObstacle}} hidden{{/if}}">
    <div class="width-min-xxl{{#if viewModel.showFancyFont}} fancy-font{{/if}}">
      {{localize "ambersteel.roll.obstacle.abbreviation"}}
    </div>
    <div class="flex-grow">
      {{viewModel.skillAbility.obstacle}}
    </div>
  </div>
  {{!-- Opposed By --}}
  <div class="flex flex-row sheet-block margin-b-md{{#if viewModel.hideOpposedBy}} hidden{{/if}}">
    <div class="width-min-xxl{{#if viewModel.showFancyFont}} fancy-font{{/if}}">
      {{localize "ambersteel.roll.obstacle.opposedBy.label"}}
    </div>
    <div class="flex-grow">
      {{viewModel.skillAbility.opposedBy}}
    </div>
  </div>
  {{!-- Condition --}}
  <div class="flex flex-row sheet-block margin-b-md{{#if viewModel.hideCondition}} hidden{{/if}}">
    <div class="width-min-xxl{{#if viewModel.showFancyFont}} fancy-font{{/if}}">
      {{localize "ambersteel.character.skill.ability.condition.label"}}
    </div>
    <div class="flex-grow">
      {{localize viewModel.skillAbility.condition}}
    </div>
  </div>
  {{!-- attackType --}}
  <div class="flex flex-row sheet-block margin-b-md{{#if viewModel.hideAttackType}} hidden{{/if}}">
    <div class="width-min-xxl{{#if viewModel.showFancyFont}} fancy-font{{/if}}">
      {{localize "ambersteel.attackType.label"}}
    </div>
    <div class="flex-grow">
      {{viewModel.localizedAttackType}}
    </div>
  </div>
  {{!-- distance --}}
  <div class="flex flex-row sheet-block margin-b-md{{#if viewModel.hideDistance}} hidden{{/if}}">
    <div class="width-min-xxl{{#if viewModel.showFancyFont}} fancy-font{{/if}}">
      {{localize "ambersteel.character.skill.ability.distance.label"}}
    </div>
    <div class="flex-grow">
      {{viewModel.skillAbility.distance}}
    </div>
  </div>
  {{!-- Damage --}}
  <ol class="unstyled-list{{#if viewModel.hideDamage}} hidden{{/if}}">
    {{#each viewModel.skillAbility.damage as |entry index|}}
      <li class="ambersteel-list-row sheet-block flex flex-column margin-b-md">
        {{!-- Damage formula --}}
        <div class="flex flex-row">
          <div class="width-min-xxl{{#if ../viewModel.showFancyFont}} fancy-font{{/if}}">
            {{localize "ambersteel.character.skill.ability.damage.label"}}
          </div>
          <span class="width-min-xxl">
            {{entry.damage}}
          </span>
        </div>
        {{!-- Damage type --}}
        <div class="flex flex-row">
          <div class="width-min-xxl{{#if ../viewModel.showFancyFont}} fancy-font{{/if}}">
            {{localize "ambersteel.damageType.label"}}
          </div>
          <span class="width-xxl">
            {{../viewModel.getLocalizedDamageType entry.damageType}}
          </span>
        </div>
      </li>
    {{/each}}
  </ol>
  {{!-- Description --}}
  <div class="sheet-block scrollable-height-md">
    {{{viewModel.description}}}
  </div>
</section>