{{!-- Required context:
cssClass: {String | undefined}
readOnlyCssClass: {String | undefined}
fill: {Boolean | undefined}
// If provided, "parent" and "id" must be undefined!
viewModel: {ViewModel | undefined}

// If provided, "viewModel" must be undefined!
parent: {ViewModel | undefined}
id: {String | undefined}
target: {Object | undefined}
callback: {Function | String | undefined}
callbackData: {Any | undefined}
localizableTitle: {String | undefined}
visGroup: {String | undefined}
toggleSelf: {Boolean | undefined}
--}}
{{#withViewModel parent id viewModel "ButtonToggleVisibilityViewModel" target callback callbackData localizableTitle visGroup toggleSelf}}
<span class="component-button-toggle-visibility {{#if fill}}fill-button-light{{else}}square-button-light{{/if}}{{#if (not isEditable)}} disabled{{/if}}{{#if ../cssClass}} {{../cssClass}}{{else}} font-size-default{{/if}}"
  {{#if toggleSelf}}
  data-vis-group="{{visGroup}}"
  {{/if}}
  >
  <a class="custom-system-button pad-sm button flex flex-center" 
    title="{{localizedTitle}}" 
    id="{{id}}"
  >
    {{> @partial-block }}
  </a>
</span>
{{/withViewModel}}