{{!-- Required context:
viewModel: {ButtonToggleVisibilityViewModel}
cssClass: {String | undefined}
fill: {Boolean | undefined}
--}}
<span class="component-button-toggle-visibility {{#if fill}}fill-button-light{{else}}square-button-light{{/if}}{{#if (not viewModel.isEditable)}} disabled{{/if}}{{#if cssClass}} {{cssClass}}{{else}} font-size-default{{/if}}"
  {{#if viewModel.toggleSelf}}
  data-vis-group="{{viewModel.visGroup}}"
  {{/if}}
  >
  <a class="custom-system-button pad-sm button flex flex-center" 
    title="{{viewModel.localizedTitle}}" 
    id="{{viewModel.id}}"
  >
    {{> @partial-block }}
  </a>
</span>