{{!-- Required context:
viewModel: {InputRadioButtonGroupViewModel}
cssClass: {String | undefined}
readOnlyCssClass: {String | undefined}
--}}
<div 
  type="hidden"
  class="custom-system-edit radio-button-group flex flex-row component-input-radio-button-group{{#if cssClass}} {{cssClass}}{{/if}}" 
  data-property-path="{{viewModel.propertyPath}}"
  name="{{viewModel.id}}"
  id="{{viewModel.id}}"
  value="{{viewModel.value}}"
  title="{{viewModel.localizedTitle}}"
>
  {{#each viewModel.options as |option index|}}
    <div class="radio-button-container flex flex-row flex-grow{{#if (../viewModel.isSelectedOption ../viewModel option)}} active{{/if}}">
      {{#if ../viewModel.isEditable}}
        <input 
          type="radio" 
          class="radio-button" 
          name="{{../viewModel.id}}-{{option.value}}" 
          id="{{../viewModel.id}}-{{option.value}}" 
          value="{{option.value}}"
        />
      {{/if}}
      <label class="flex flex-center flex-grow{{#if ../viewModel.isEditable}}{{else}} custom-system-read-only disabled{{/if}}{{#if ../viewModel.showFancyFont}} fancy-font{{/if}}" 
        for="{{../viewModel.id}}-{{option.value}}"
        {{#if option.tooltip}}title="{{option.tooltip}}"{{/if}}
      >
      {{#if (../viewModel.isSelectedOption ../viewModel option)}}
        {{{option.activeHtml}}}
      {{else}}
        {{{option.inactiveHtml}}}
      {{/if}}
      </label>
    </div>
  {{/each}}
</div>