{{!-- Parameters:
obstacle: {Number},
bonusDice: {Number},
selectedVisibilityMode: {ChoiceOption}
visibilityModeChoices: {Array<ChoiceOption>}
showFancyFont: {Boolean | undefined}
--}}
{{#> dialogContent}}
  <div class="sheet-block grid grid-2col">
    <div class="flex flex-column">
      {{#> label showFancyFont=showFancyFont}}{{localize "ambersteel.roll.obstacle.abbreviation"}}{{/label}}
      {{#> label showFancyFont=showFancyFont}}{{localize "ambersteel.roll.bonusDice"}}{{/label}}
    </div>
    <div class="flex flex-column flex-grow">
      {{#> numberSpinner}}
      <input class="obstacle ambersteel-item-edit spinner" name="obstacle" type="number" data-dtype="Number" min="0" step="1" 
        value="{{obstacle}}" data-field="obstacle" />
      {{/numberSpinner}}
      {{#> numberSpinner}}
      <input class="bonus-dice ambersteel-item-edit spinner" name="bonusDice" type="number" data-dtype="Number" step="1"  
        value="{{bonusDice}}" data-field="bonusDice" />
      {{/numberSpinner}}
    </div>
  </div>
  <div class="sheet-block grid grid-2col">
    <div>
      {{#> label showFancyFont=showFancyFont}}{{localize "ambersteel.general.messageVisibility.label"}}{{/label}}
    </div>
    <div class="flex">
      <select class="visibilityMode flex-grow" name="visibilityMode">
        {{#select selectedVisibilityMode.value}}
        {{#each visibilityModeChoices as |choice key|}}
        <option value="{{choice.value}}">{{choice.localizedValue}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>
  </div>
{{/dialogContent}}