{{!-- Required context:
viewModel: {InputRadioButtonGroupViewModel}
cssClass: {String | undefined}
readOnlyCssClass: {String | undefined}
--}}
<div 
  type="hidden"
  class="custom-system-edit radio-button-group flex flex-row component-input-radio-button-group{{#if cssClass}} {{cssClass}}{{/if}}" 
  data-property-path="{{viewModel.propertyPath}}"
  name="{{viewModel.id}}"
  id="{{viewModel.id}}"
  value="{{viewModel.value}}"
>
  {{#each viewModel.options as |option index|}}
    <div class="radio-button-container flex flex-row{{#if (../viewModel.isSelectedOption ../viewModel option)}} active{{/if}}">
      {{#if ../viewModel.isEditable}}
        <input 
          type="radio" 
          class="radio-button" 
          name="{{../viewModel.id}}-{{option.value}}" 
          id="{{../viewModel.id}}-{{option.value}}" 
          value="{{option.value}}"
        />
      {{/if}}
      <label class="fancy-font flex flex-middle{{#if ../viewModel.isEditable}}{{else}} custom-system-read-only disabled{{/if}}" 
        for="{{../viewModel.id}}-{{option.value}}"
        {{#if (not option.shouldDisplayValue)}}title="{{option.localizedValue}}"{{/if}}
      >
        {{#if option.displayHtmlOverride}}
          {{{option.displayHtmlOverride}}}
        {{else}}
          {{#if option.shouldDisplayIcon}}
            {{#if option.iconIsFontAwesome}}
              <i class="{{option.icon}}"></i>
            {{else}}
              <img class="radio-button-icon" src="{{option.icon}}" />
            {{/if}}
          {{/if}}
          {{#if option.shouldDisplayValue}}
            <span>{{option.localizedValue}}</span>
          {{/if}}
        {{/if}}
      </label>
    </div>
  {{/each}}
</div>