{{!-- Required context:
viewModel: {InputRadioButtonGroupViewModel}
cssClass: {String | undefined}
readOnlyCssClass: {String | undefined}
--}}
{{#if viewModel.isEditable}}
  <div 
    type="hidden"
    class="custom-system-edit radio-button-group flex flex-row component-input-radio-button-group {{cssClass}}" 
    data-property-path="{{viewModel.propertyPath}}"
    name="{{viewModel.id}}"
    id="{{viewModel.id}}"
    data-property-path="{{viewModel.placeholder}}"
    value="{{viewModel.value}}"
  >
    {{#each viewModel.options as |option index|}}
      <div class="radio-button-container flex flex-row">
        <input 
          type="radio" 
          class="radio-button" 
          name="{{../viewModel.id}}" 
          id="{{../viewModel.id}}-{{option.value}}" 
          value="{{option.value}}"
        >
        <label class="fancy-font" for="{{../viewModel.id}}-{{option.value}}">
          {{option.localizedValue}}
        </label>
      </div>
    {{/each}}
  </div>
{{else}}
  {{!-- Display read-only value --}}
  <div 
    class="custom-system-read-only pad-sm fill component-input-radio-button-group {{readOnlyCssClass}}" 
    name="{{viewModel.id}}"
    id="{{viewModel.id}}"
  >
    {{viewModel.localizedValue}}
  </div>
{{/if}}