{{!-- Parameters:
viewModel: {ActorHealthViewModel}
cssClass: {undefined | String}
--}}
<section class="{{cssClass}}">
  <h2>{{localize "ambersteel.character.health.healthStats"}}</h2>
  {{!-- General health stats --}}
  <div class="flex flex-column">
  {{!-- Row 1 --}}
    <div class="grid-2col grid-gap-md margin-b-md">
      {{!-- Col 1 --}}
      <div class="sheet-block">
        <div class="flex flex-row">
          <div class="flex-grow">
            {{> inputLabel for="maxHP" text=(localize "ambersteel.character.health.hp.maximum") showFancyFont=viewModel.showFancyFont}}
          </div>
          <span class="width-md">
            {{> inputNumberSpinner viewModel=viewModel.vmNsMaxHp }}
          </span>
        </div>
        <div class="flex flex-row">
          <div class="flex-grow">
            {{> inputLabel for="HP" text=(localize "ambersteel.character.health.hp.abbreviation") showFancyFont=viewModel.showFancyFont}}
          </div>
          <span class="width-md">
            {{> inputNumberSpinner viewModel=viewModel.vmNsHp }}
          </span>
        </div>
      </div>
      {{!-- Col 2 --}}
      <div class="sheet-block">
        <div class="flex flex-row">
          <div class="flex-grow">
            {{> inputLabel for="maxExhaustion" text=(localize "ambersteel.character.health.exhaustion.maximum") showFancyFont=viewModel.showFancyFont}}
          </div>
          <span class="width-md">
            {{> inputNumberSpinner viewModel=viewModel.vmNsMaxExhaustion }}
          </span>
        </div>
        <div class="flex flex-row">
          <div class="flex-grow">
            {{> inputLabel for="exhaustion" text=(localize "ambersteel.character.health.exhaustion.label") showFancyFont=viewModel.showFancyFont}}
          </div>
          <span class="width-md">
            {{> inputNumberSpinner viewModel=viewModel.vmNsExhaustion }}
          </span>
        </div>
      </div>
      {{!-- Col 3 --}}
      <div class="sheet-block">
        <div class="flex flex-row">
          <div class="flex-grow">
            {{> inputLabel text=(localize "ambersteel.character.magic.stamina.maximum") showFancyFont=viewModel.showFancyFont}}
          </div>
          <span class="width-md">
            {{> inputNumberSpinner viewModel=viewModel.vmNsMaxMagicStamina }}
          </span>
        </div>
        <div class="flex flex-row">
          <div class="flex-grow">
            {{> inputLabel text=(localize "ambersteel.character.magic.stamina.label") showFancyFont=viewModel.showFancyFont}}
          </div>
          <span class="width-md">
            {{> inputNumberSpinner viewModel=viewModel.vmNsMagicStamina }}
          </span>
        </div>
      </div>
    </div>
  {{!-- Injuries --}}
  <h2 class="flex flex-row">{{localize "ambersteel.character.health.injury.plural"}}</h2>
  <div class="grid-2col grid-gap-md margin-b-md">
    <div class="sheet-block">
      <div class="flex flex-row">
        <div class="flex-grow">
          {{> inputLabel for="maxInjuries" text=(localize "ambersteel.character.health.injury.maximum") showFancyFont=viewModel.showFancyFont}}
        </div>
        <span class="width-md">
          {{> inputNumberSpinner viewModel=viewModel.vmNsMaxInjuries }}
        </span>
      </div>
    </div>
    <div class="sheet-block">
      <div class="flex flex-row">
        <div class="flex-grow">
          {{> inputLabel text=(localize "ambersteel.character.health.injury.plural") showFancyFont=viewModel.showFancyFont}}
        </div>
        <span class="width-md">
          <div class="ambersteel-read-only pad-sm fill">
            {{viewModel.injuryCount}}
          </div>
        </span>
      </div>
    </div>
  </div>
  <div class="hint-card flex margin-b-md {{#if viewModel.isToughnessTestRequired}}{{else}}hidden{{/if}}">
    <div class="flex flex-center hint-card-icon">
      <i class="fas fa-exclamation"></i>
    </div>
    <div class="flex-grow">
      <span>{{localize "ambersteel.rules.hintToughnessTestRequired"}}</span>
    </div>
  </div>
  {{> sortableList viewModel=viewModel.vmInjuryList }}
  {{!-- Illnesses --}}
  <h2>{{localize "ambersteel.character.health.illness.plural"}}</h2>
  <div class="grid-2col grid-gap-md margin-b-md">
    <div>
    </div>
    <div class="sheet-block">
      <div class="flex flex-row">
        <div class="flex-grow">
          {{> inputLabel text=(localize "ambersteel.character.health.illness.plural") showFancyFont=viewModel.showFancyFont}}
        </div>
        <span class="width-md">
          <div class="ambersteel-read-only pad-sm fill">
            {{viewModel.illnessCount}}
          </div>
        </span>
      </div>
    </div>
  </div>
  {{> sortableList viewModel=viewModel.vmIllnessList }}
  {{!-- Mutations --}}
  <h2>{{localize "ambersteel.character.health.mutation.plural"}}</h2>
  <div class="grid-2col grid-gap-md margin-b-md">
    <div>
    </div>
    <div class="sheet-block">
      <div class="flex flex-row">
        <div class="flex-grow">
          {{> inputLabel text=(localize "ambersteel.character.health.mutation.plural") showFancyFont=viewModel.showFancyFont}}
        </div>
        <span class="width-md">
          <div class="ambersteel-read-only pad-sm fill">
            {{viewModel.mutationCount}}
          </div>
        </span>
      </div>
    </div>
  </div>
  {{> sortableList viewModel=viewModel.vmMutationList }}
  {{!-- Scars --}}
  <h2>{{localize "ambersteel.character.health.scar.plural"}}</h2>
  {{> sortableList viewModel=viewModel.vmScarList }}
</section>