{{!-- Required context:
viewModel: {ButtonCheckBoxViewModel}
cssClass: {String | undefined}
--}}
<label class="component-button-checkbox flex flex-center{{#if viewModel.isEditable}}{{else}} disabled{{/if}}{{#if cssClass}} {{cssClass}}{{/if}}">
  <input 
    class="custom-system-button" 
    title="{{viewModel.localizedTitle}}" 
    id="{{viewModel.id}}" 
    type="checkbox" 
    {{#if viewModel.value}}checked{{/if}}
    >
  <span class="flex flex-center{{#if viewModel.value}} checked{{/if}}">
    <i class="fas fa-check{{#if viewModel.value}}{{else}} hidden{{/if}}"></i>
  </span>
</label>