{{!--
viewModel: InputSliderViewModel
cssClass: String | undefined
--}}
<span{{#if cssClass}} class="{{cssClass}}"{{/if}}>
  <input id="{{viewModel.id}}" type="range" min="{{viewModel.min}}" max="{{viewModel.max}}" step="{{viewModel.step}}" value="{{viewModel.value}}">
</span>