{{!-- Parameters:
viewModel: {ExpertiseTableViewModel}
cssClass: {undefined | String}
--}}
<div id="{{viewModel.id}}">
  {{!-- Header --}}
  <h3 class="strive-header flex flex-row flex-middle{{#if viewModel.showFancyFont}} fancy-font{{/if}}">
    {{!-- Expansion Toggle or Plain Title --}}
    {{#> button viewModel=viewModel.vmHeaderButton leftAlign=true cssClass="flex-grow" }}
      <span class="flex-grow pad-l-sm font-size-lg font-bold{{#if viewModel.showFancyFont}} fancy-font{{/if}}">{{../viewModel.localizedTitle}}</span>
      <div class="flex flex-center">
        <i class="expanded ico ico-chevron-d-solid{{#if ../viewModel.vmHeaderButton.isEditable}} interactible{{/if}} dark{{#if ../viewModel.isExpanded}}{{else}} hidden{{/if}}"></i>
        <i class="collapsed ico ico-chevron-r-solid{{#if ../viewModel.vmHeaderButton.isEditable}} interactible{{/if}} dark{{#if ../viewModel.isExpanded}} hidden{{/if}}"></i>
      </div>
    {{/button}}
    {{!-- Button Add Item --}}
    {{#if viewModel.isEditable}}
    {{> buttonAdd viewModel=viewModel.vmAddItem }}
    {{/if}}
  </h3>
  {{!-- Content --}}
  <div class="{{#if viewModel.isExpanded}}{{else}}hidden{{/if}}" 
    data-vis-group="{{viewModel.visGroupId}}">
    {{!-- Unlocked Expertises --}}
    <ol class="unstyled-list alternating-rows">
      {{#each viewModel.unlockedExpertises as |vmExpertise|}}
      <li id="{{vmExpertise.id}}" class="flex flex-row">
        {{#with ../viewModel.listItemTemplate as | template |}}
          {{> (template) viewModel=vmExpertise cssClass="flex-grow" }}
        {{/with}}
      </li>
      {{/each}}
    </ol>
    {{!-- Visual Separator --}}
    {{#if viewModel.hasLockedExpertises}}
    <div id="{{viewModel.vmLockedExpertisesSeparator.id}}" class="flex flex-row flex-center">
      <div class="flex-grow" style="height: 2px; background: #000000; background: linear-gradient(90deg,rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 1) 55%, rgba(0, 0, 0, 1) 100%);"></div>
      <i class="ico dark ico-locked-expertises-solid" style="height: 32px;"></i>
      <div class="flex-grow" style="height: 2px; background: #000000; background: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 45%, rgba(0, 0, 0, 0) 90%);"></div>
    </div>
    {{/if}}
    {{!-- Locked Expertises --}}
    <ol class="unstyled-list alternating-rows">
      {{#each viewModel.lockedExpertises as |vmExpertise|}}
      <li id="{{vmExpertise.id}}" class="flex flex-row">
        {{#with ../viewModel.listItemTemplate as | template |}}
          {{> (template) viewModel=vmExpertise cssClass="flex-grow" }}
        {{/with}}
      </li>
      {{/each}}
    </ol>
    {{!-- Footer --}}
    {{> listFooter viewModel=viewModel.vmFooter }}
  </div>
</div>
