{{!--
viewModel: ViewModel
cssClass: String | undefined
iconClass: String | undefined
localizedLabel: String | undefined
localizedIconToolTip: String | undefined
--}}
<div class="flex flex-row flex-middle{{#if cssClass}} {{cssClass}}{{/if}}">
  {{#if (or iconClass localizedLabel)}}
  <label class="flex flex-middle {{#if localizedLabel}}margin-r-lg{{else}}margin-r-sm{{/if}} font-size-default{{#if viewModel.showFancyFont}} fancy-font{{/if}}" for="{{viewModel.id}}">
    {{#if iconClass}}
    <span class="flex flex-center">
      <i class="ico {{iconClass}} dark"{{#if localizedIconToolTip}} title="{{localizedIconToolTip}}"{{/if}}></i>
    </span>
    {{/if}}
    {{#if localizedLabel}}
      {{localizedLabel}}
    {{/if}}
  </label>
  {{/if}}
  {{#if viewModel}}
  {{> @partial-block viewModel=viewModel}}
  {{/if}}
</div>
