{{!-- Parameters:
availableSkills: {[Object]} where Object -> {
    name: {String},
    localizableName: {String}
}
selected: {String},
isCustomChecked: {Boolean},
confirmed: {Boolean}
--}}
<section>
    <div class="flex sheet-block">
        <div class="flex flex-column">
            <label class="line-height fancy-font pad-sm" for="skill-select">{{localize "ambersteel.labels.customSkill"}}</label>
            <label class="line-height fancy-font pad-sm" for="skill-select">{{localize "ambersteel.labels.skill"}}</label>
        </div>
        <div class="flex flex-column flex-grow">
            <input class="ambersteel-checkbox" type="checkbox" data-dtype="boolean" value="{{isCustomChecked}}" data-field="isCustomChecked" />
            {{#if isCustomChecked}}
            {{else}}
                <select class="skill-select" name="selected" data-field="selected">
                    {{#select selected}}
                    {{#each ../availableSkills as |skill key|}}
                    <option value="{{skill.name}}">{{localize skill.localizableName}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            {{/if}}
        </div>
    </div>
</section>