{{!-- Requires parameters:
isEditable: {Boolean},
data: {Object} where Object = {
  fateSystem: {Object} where Object = {
    miFP: {Number},
    maFP: {Number},
    AFP: {Number},
    remainingSlots: {Number},
    cards: {[Object]} where Object = { 
      id: {String},
      img: {String},
      name: {String}
      localizableName: {String},
      localizableDescription: {String}
    }
  }
}
--}}
<section>
  <div class="sheet-block grid grid-2col flex-column">
    {{!-- row 1 --}}
    <span class="fancy-font line-height">
      <label for="data.fateSystem.miFP">{{localize "ambersteel.fateSystem.miFP"}}</label>
      <span class="primary-font">[{{localize "ambersteel.fateSystem.miFPAbbreviation"}}]</span>
    </span>
    <span class="fate-spinner-column-container">
      {{#> numberSpinner}}
      <input type="number" data-dtype="Number" min="0" step="1" name="data.fateSystem.miFP" value="{{data.fateSystem.miFP}}" />
      {{/numberSpinner}}
    </span>
    {{!-- row 2 --}}
    <span class="fancy-font line-height">
      <label for="data.fateSystem.maFP">{{localize "ambersteel.fateSystem.maFP"}}</label>
      <span class="primary-font">[{{localize "ambersteel.fateSystem.maFPAbbreviation"}}]</span>
    </span>
    <span class="fate-spinner-column-container">
      {{#> numberSpinner}}
      <input type="number" data-dtype="Number" min="0" step="1" name="data.fateSystem.maFP" value="{{data.fateSystem.maFP}}" />
      {{/numberSpinner}}
    </span>
    {{!-- row 3 --}}
    <span class="fancy-font line-height">
      <label for="data.fateSystem.AFP">{{localize "ambersteel.fateSystem.AFP"}}</label>
      <span class="primary-font">[{{localize "ambersteel.fateSystem.AFPAbbreviation"}}]</span>
    </span>
    <span class="fate-spinner-column-container">
      {{#> numberSpinner}}
      <input type="number" data-dtype="Number" min="0" step="1" name="data.fateSystem.AFP" value="{{data.fateSystem.AFP}}" />
      {{/numberSpinner}}
    </span>
  </div>
  <div class="flex" style="flex-wrap: wrap;">
    {{#each data.data.fateSystem.cards as |card key|}}
    <div class="fate-card-actor-container">
      {{> "systems/ambersteel/templates/item/parts/fate-card.hbs"
        isEditable=../isEditable 
        data=card
      }}
    </div>
    {{/each}}
    {{#times data.data.fateSystem.remainingSlots}}
      <div class="fate-card-actor-container">
        <div class="fate-card">
          <a class="ambersteel-fate-card-add pad-sm" title="{{localize ambersteel.fateSystem.add}}" >
            <i class="fas fa-plus-square"></i>
          </a>
        </div>
      </div>
    {{/times}}
  </div>
</section>