{{!-- Parameters:
viewModel: {ActorPersonalsViewModel}
cssClass: {undefined | String}
--}}
<section class="{{cssClass}}">
  <div class="flex sheet-block">
    <div class="flex flex-column">
      <label class="line-height fancy-font pad-sm" for="person.species">{{localize "ambersteel.personals.species"}}</label>
      <label class="line-height fancy-font pad-sm" for="person.sex">{{localize "ambersteel.personals.sex"}}</label>
    </div>
    <div class="flex flex-column flex-grow">
      {{> inputTextField viewModel=viewModel.vmTfSpecies }}
      {{> inputTextField viewModel=viewModel.vmTfSex }}
    </div>
    <div class="flex flex-column">
      <label class="line-height fancy-font pad-sm" for="person.culture">{{localize "ambersteel.personals.culture"}}</label>
      <label class="line-height fancy-font pad-sm" for="person.age">{{localize "ambersteel.personals.age"}}</label>
    </div>
    <div class="flex flex-column flex-grow">
      {{> inputTextField viewModel=viewModel.vmTfCulture }}
      {{> inputTextField viewModel=viewModel.vmTfAge }}
    </div>
  </div>
</section>