<section>
  <div class="sheet-block">
    <h3>
      <label class="blckchncy" for="data.biography.origin">{{localize "ambersteel.biography.origin"}}</label>
    </h3>
    <textarea name="data.biography.origin">{{data.biography.origin}}</textarea>
  </div>
  <div class="sheet-block">
    <h3>
      <label class="blckchncy" for="data.biography.youth">{{localize "ambersteel.biography.youth"}}</label>
    </h3>
    <textarea name="data.biography.youth">{{data.biography.youth}}</textarea>
  </div>
  <div class="sheet-block">
    <h3>
      <label class="blckchncy" for="data.biography.lastFewYears">{{localize "ambersteel.biography.lastFewYears"}}</label>
    </h3>
    <textarea name="data.biography.lastFewYears">{{data.biography.lastFewYears}}</textarea>
  </div>
</section>