{{!-- Requires parameters:
isEditable: {Boolean},
person: {Object} where Object = {
  species: {String}, 
  culture: {String},
  sex: {String},
  age: {Number|String}
}
--}}
<section>
  <div class="flex sheet-block">
    <div class="flex flex-column">
      <label class="line-height fancy-font pad-sm" for="person.species">{{localize "ambersteel.personals.species"}}</label>
      <label class="line-height fancy-font pad-sm" for="person.sex">{{localize "ambersteel.personals.sex"}}</label>
    </div>
    <div class="flex flex-column flex-grow">
    {{#if isEditable}}
      <input class="line-height pad-sm" type="text" name="person.species" value="{{person.species}}" />
      <input class="line-height pad-sm" type="text" name="person.culture" value="{{person.culture}}" />
    {{else}}
      <span class="line-height pad-sm">{{person.species}}</span>
      <span class="line-height pad-sm">{{person.culture}}</span>
    {{/if}}
    </div>
    <div class="flex flex-column">
      <label class="line-height fancy-font pad-sm" for="person.culture">{{localize "ambersteel.personals.culture"}}</label>
      <label class="line-height fancy-font pad-sm" for="person.age">{{localize "ambersteel.personals.age"}}</label>
    </div>
    <div class="flex flex-column flex-grow">
      {{#if isEditable}}
        <input class="line-height pad-sm" type="text" name="person.sex" value="{{person.sex}}" />
        <input class="line-height pad-sm" type="number" name="person.age" value="{{person.age}}" />
      {{else}}
        <span class="line-height pad-sm">{{person.sex}}</span>
        <span class="line-height pad-sm">{{person.age}}</span>
      {{/if}}
    </div>
  </div>
</section>