{{!-- Requires parameters:
isEditable: {Boolean}
isSendable: {Boolean}
isOwner: {Boolean}
isGM: {Boolean}
actor: {Object}
--}}
<section>
  <div class="sheet-block grid grid-2col flex-column">
    {{!-- row 1 --}}
    <span class="fancy-font line-height">
      <label for="miFP">{{localize "ambersteel.fateSystem.miFP"}}</label>
      <span class="primary-font">[{{localize "ambersteel.fateSystem.miFPAbbreviation"}}]</span>
    </span>
    <span class="fate-spinner-column-container">
      {{> inputNumberSpinner vm=(createInputNumberSpinnerViewModel isEditable isSendable actor "data.data.fateSystem.miFP" 1 0 undefined) }}
    </span>
    {{!-- row 2 --}}
    <span class="fancy-font line-height">
      <label for="maFP">{{localize "ambersteel.fateSystem.maFP"}}</label>
      <span class="primary-font">[{{localize "ambersteel.fateSystem.maFPAbbreviation"}}]</span>
    </span>
    <span class="fate-spinner-column-container">
      {{> inputNumberSpinner vm=(createInputNumberSpinnerViewModel isEditable isSendable actor "data.data.fateSystem.maFP" 1 0 undefined) }}
    </span>
    {{!-- row 3 --}}
    <span class="fancy-font line-height">
      <label for="AFP">{{localize "ambersteel.fateSystem.AFP"}}</label>
      <span class="primary-font">[{{localize "ambersteel.fateSystem.AFPAbbreviation"}}]</span>
    </span>
    <span class="fate-spinner-column-container">
      {{> inputNumberSpinner vm=(createInputNumberSpinnerViewModel isEditable isSendable actor "data.data.fateSystem.AFP" 1 0 undefined) }}
    </span>
  </div>
  <div class="flex" style="flex-wrap: wrap;">
    {{#each actor.fateCards as |card key|}}
    <div class="fate-card-actor-container">
      {{> "systems/ambersteel/templates/item/fate-card/fate-card.hbs"
        isEditable=../isEditable 
        isSendable=../isSendable 
        isOwner=../isOwner
        isGM=../isGM
        item=card 
      }}
    </div>
    {{/each}}
    {{#times actor.data.data.fateSystem.remainingSlots}}
      <div class="fate-card-actor-container">
        <div class="fate-card">
          {{> buttonAdd itemType="fate-card" withDialog="true" fill=true cssClass="font-size-xxl" }}
        </div>
      </div>
    {{/times}}
  </div>
</section>