{{!-- Requires parameters:
viewModel: {ActorHealthViewModel}
--}}
<section>
  <h2>{{localize "ambersteel.labels.healthStats"}}</h2>
  {{!-- General health stats --}}
  <div class="flex flex-column">
  {{!-- Row 1 --}}
    <div class="grid grid-2col">
      {{!-- Col 1 --}}
      <div class="sheet-block">
        <div class="flex flex-row">
          <div class="flex-grow">
            {{> inputLabel for="maxHP" text="ambersteel.labels.maxHP"}}
          </div>
          <span class="width-md">
            {{> inputNumberSpinner viewModel=viewModel.vmNsMaxHp }}
          </span>
        </div>
        <div class="flex flex-row">
          <div class="flex-grow">
            {{> inputLabel for="HP" text="ambersteel.labels.HP"}}
          </div>
          <span class="width-md">
            {{> inputNumberSpinner viewModel=viewModel.vmNsHp }}
          </span>
        </div>
      </div>
      {{!-- Col 2 --}}
      <div class="sheet-block">
        <div class="flex flex-row">
          <div class="flex-grow">
            {{> inputLabel for="maxExhaustion" text="ambersteel.labels.maxExhaustion"}}
          </div>
          <span class="width-md">
            {{> inputNumberSpinner viewModel=viewModel.vmNsMaxExhaustion }}
          </span>
        </div>
        <div class="flex flex-row">
          <div class="flex-grow">
            {{> inputLabel for="exhaustion" text="ambersteel.labels.exhaustion"}}
          </div>
          <span class="width-md">
            {{> inputNumberSpinner viewModel=viewModel.vmNsExhaustion }}
          </span>
        </div>
      </div>
    </div>
  {{!-- Injuries --}}
  <h2 class="flex flex-row">{{localize "ambersteel.labels.injuries"}}</h2>
  <div class="grid grid-2col">
    <div class="sheet-block">
      <div class="flex flex-row">
        <div class="flex-grow">
          {{> inputLabel for="maxInjuries" text="ambersteel.labels.maxInjuries"}}
        </div>
        <span class="width-md">
          {{> inputNumberSpinner viewModel=viewModel.vmNsMaxInjuries }}
        </span>
      </div>
    </div>
    <div class="sheet-block">
      <div class="flex flex-row">
        <div class="flex-grow">
          {{> inputLabel text="ambersteel.labels.injuries"}}
        </div>
        <span class="width-md">
          <div class="ambersteel-read-only pad-sm fill">
            {{viewModel.injuryCount}}
          </div>
        </span>
      </div>
    </div>
  </div>
  <ol class="unstyled-list alternating-rows">
    {{#each viewModel.injuries as |injuryViewModel key|}}
      <li class="ambersteel-list-row sheet-block">
        {{> "systems/ambersteel/templates/item/injury/injury-list-item.hbs" viewModel=injuryViewModel }}
      </li>
    {{/each}}
    {{#if viewModel.isEditable}}
      <li class="ambersteel-list-row ambersteel-list-footer">
        <div class="fill flex flex-row">
          <span class="flex-grow"></span>
          {{!-- Add injury --}}
          <span class="width-sm">
            {{> buttonAdd viewModel=viewModel.vmBtnAddInjury }}
          </span>
        </div>
      </li>
    {{/if}}
  </ol>
  {{!-- Illnesses --}}
  <h2>{{localize "ambersteel.labels.illnesses"}}</h2>
  <div class="grid grid-2col">
    <div>
    </div>
    <div class="sheet-block">
      <div class="flex flex-row">
        <div class="flex-grow">
          {{> inputLabel text="ambersteel.labels.illnesses"}}
        </div>
        <span class="width-md">
          <div class="ambersteel-read-only pad-sm fill">
            {{viewModel.illnessCount}}
          </div>
        </span>
      </div>
    </div>
  </div>
  <ol class="unstyled-list alternating-rows">
    {{#each viewModel.illnesses as |illnessViewModel key|}}
      <li class="ambersteel-list-row sheet-block">
        {{> "systems/ambersteel/templates/item/illness/illness-list-item.hbs" viewModel=illnessViewModel }}
      </li>
    {{/each}}
    {{#if viewModel.isEditable}}
      <li class="ambersteel-list-row ambersteel-list-footer">
        <div class="fill flex flex-row">
          <span class="flex-grow"></span>
          {{!-- Add illness --}}
          <span class="width-sm">
            {{> buttonAdd viewModel=viewModel.vmBtnAddIllness }}
          </span>
        </div>
      </li>
    {{/if}}
  </ol>
</section>