{{!-- Parameters:
viewModel: {ActorHealthViewModel}
cssClass: {undefined | String}
--}}
<section class="{{cssClass}}">
  <h2>{{localize "ambersteel.labels.healthStats"}}</h2>
  {{!-- General health stats --}}
  <div class="flex flex-column">
  {{!-- Row 1 --}}
    <div class="grid-2col grid-gap-md margin-b-md">
      {{!-- Col 1 --}}
      <div class="sheet-block">
        <div class="flex flex-row">
          <div class="flex-grow">
            {{> inputLabel for="maxHP" text="ambersteel.labels.maxHP"}}
          </div>
          <span class="width-md">
            {{> inputNumberSpinner viewModel=viewModel.vmNsMaxHp }}
          </span>
        </div>
        <div class="flex flex-row">
          <div class="flex-grow">
            {{> inputLabel for="HP" text="ambersteel.labels.HP"}}
          </div>
          <span class="width-md">
            {{> inputNumberSpinner viewModel=viewModel.vmNsHp }}
          </span>
        </div>
      </div>
      {{!-- Col 2 --}}
      <div class="sheet-block">
        <div class="flex flex-row">
          <div class="flex-grow">
            {{> inputLabel for="maxExhaustion" text="ambersteel.labels.maxExhaustion"}}
          </div>
          <span class="width-md">
            {{> inputNumberSpinner viewModel=viewModel.vmNsMaxExhaustion }}
          </span>
        </div>
        <div class="flex flex-row">
          <div class="flex-grow">
            {{> inputLabel for="exhaustion" text="ambersteel.labels.exhaustion"}}
          </div>
          <span class="width-md">
            {{> inputNumberSpinner viewModel=viewModel.vmNsExhaustion }}
          </span>
        </div>
      </div>
      {{!-- Col 3 --}}
      <div class="sheet-block">
        <div class="flex flex-row">
          <div class="flex-grow">
            {{> inputLabel text="ambersteel.labels.maxMagicStamina"}}
          </div>
          <span class="width-md">
            {{> inputNumberSpinner viewModel=viewModel.vmNsMaxMagicStamina }}
          </span>
        </div>
        <div class="flex flex-row">
          <div class="flex-grow">
            {{> inputLabel text="ambersteel.labels.magicStamina"}}
          </div>
          <span class="width-md">
            {{> inputNumberSpinner viewModel=viewModel.vmNsMagicStamina }}
          </span>
        </div>
      </div>
    </div>
  {{!-- Injuries --}}
  <h2 class="flex flex-row">{{localize "ambersteel.labels.injuries"}}</h2>
  <div class="grid-2col grid-gap-md margin-b-md">
    <div class="sheet-block">
      <div class="flex flex-row">
        <div class="flex-grow">
          {{> inputLabel for="maxInjuries" text="ambersteel.labels.maxInjuries"}}
        </div>
        <span class="width-md">
          {{> inputNumberSpinner viewModel=viewModel.vmNsMaxInjuries }}
        </span>
      </div>
    </div>
    <div class="sheet-block">
      <div class="flex flex-row">
        <div class="flex-grow">
          {{> inputLabel text="ambersteel.labels.injuries"}}
        </div>
        <span class="width-md">
          <div class="ambersteel-read-only pad-sm fill">
            {{viewModel.injuryCount}}
          </div>
        </span>
      </div>
    </div>
  </div>
  <div class="hint-card flex margin-b-md {{#if viewModel.isToughnessTestRequired}}{{else}}hidden{{/if}}">
    <div class="flex flex-center hint-card-icon">
      <i class="fas fa-exclamation"></i>
    </div>
    <div class="flex-grow">
      <span>{{localize "ambersteel.rules.hintToughnessTestRequired"}}</span>
    </div>
  </div>
  {{> sortableList viewModel=viewModel.vmInjuryList }}
  {{!-- Illnesses --}}
  <h2>{{localize "ambersteel.labels.illnesses"}}</h2>
  <div class="grid-2col grid-gap-md margin-b-md">
    <div>
    </div>
    <div class="sheet-block">
      <div class="flex flex-row">
        <div class="flex-grow">
          {{> inputLabel text="ambersteel.labels.illnesses"}}
        </div>
        <span class="width-md">
          <div class="ambersteel-read-only pad-sm fill">
            {{viewModel.illnessCount}}
          </div>
        </span>
      </div>
    </div>
  </div>
  {{> sortableList viewModel=viewModel.vmIllnessList }}
  {{!-- Mutations --}}
  <h2>{{localize "ambersteel.labels.mutations"}}</h2>
  <div class="grid-2col grid-gap-md margin-b-md">
    <div>
    </div>
    <div class="sheet-block">
      <div class="flex flex-row">
        <div class="flex-grow">
          {{> inputLabel text="ambersteel.labels.mutations"}}
        </div>
        <span class="width-md">
          <div class="ambersteel-read-only pad-sm fill">
            {{viewModel.mutationCount}}
          </div>
        </span>
      </div>
    </div>
  </div>
  {{> sortableList viewModel=viewModel.vmMutationList }}
</section>