{{!-- Requires parameters:
isEditable: {Boolean}
isSendable: {Boolean}
actor: {Actor} = {
  id: {String}
  injuries: {Array<Item>}
  illnesses: {Array<Item>}
  data: {Object} = {
    data: {Object} = {
      health: {Object} = {
        maxHP: {Number}
        HP: {Number}
        maxInjuries: {Number}
        maxExhaustion: {Number}
        exhaustion: {Number}
      }
    }
  }
}
--}}
<section>
  <h2>{{localize "ambersteel.labels.healthStats"}}</h2>
  {{!-- General health stats --}}
  <div class="flex flex-column">
  {{!-- Row 1 --}}
    <div class="grid grid-2col">
      {{!-- Col 1 --}}
      <div class="sheet-block">
        <div class="flex flex-row">
          <div class="flex-grow">
            {{> inputLabel for="maxHP" text="ambersteel.labels.maxHP"}}
          </div>
          <span class="width-md">
            {{> inputNumberSpinner isEditable=false propertyOwner=actor propertyPath="data.data.health.maxHP" }}
          </span>
        </div>
        <div class="flex flex-row">
          <div class="flex-grow">
            {{> inputLabel for="HP" text="ambersteel.labels.HP"}}
          </div>
          <span class="width-md">
            {{> inputNumberSpinner isEditable=isEditable propertyOwner=actor propertyPath="data.data.health.HP" }}
          </span>
        </div>
      </div>
      {{!-- Col 2 --}}
      <div class="sheet-block">
        <div class="flex flex-row">
          <div class="flex-grow">
            {{> inputLabel for="maxExhaustion" text="ambersteel.labels.maxExhaustion"}}
          </div>
          <span class="width-md">
            {{> inputNumberSpinner isEditable=false propertyOwner=actor propertyPath="data.data.health.maxExhaustion" min=0 }}
          </span>
        </div>
        <div class="flex flex-row">
          <div class="flex-grow">
            {{> inputLabel for="exhaustion" text="ambersteel.labels.exhaustion"}}
          </div>
          <span class="width-md">
            {{> inputNumberSpinner isEditable=isEditable propertyOwner=actor propertyPath="data.data.health.exhaustion" min=0 }}
          </span>
        </div>
      </div>
    </div>
  {{!-- Injuries --}}
  <h2 class="flex flex-row">{{localize "ambersteel.labels.injuries"}}</h2>
  <div class="grid grid-2col">
    <div class="sheet-block">
      <div class="flex flex-row">
        <div class="flex-grow">
          {{> inputLabel for="maxInjuries" text="ambersteel.labels.maxInjuries"}}
        </div>
        <span class="width-md">
          {{> inputNumberSpinner isEditable=false propertyOwner=actor propertyPath="data.data.health.maxInjuries" min=0 }}
        </span>
      </div>
    </div>
    <div class="sheet-block">
      <div class="flex flex-row">
        <div class="flex-grow">
          {{> inputLabel text="ambersteel.labels.injuries"}}
        </div>
        <span class="width-md">
          <div class="ambersteel-read-only pad-sm fill">
            {{actor.injuries.length}}
          </div>
        </span>
      </div>
    </div>
  </div>
  <ol class="unstyled-list alternating-rows">
    {{#each actor.injuries as |injury key|}}
      <li class="ambersteel-list-row sheet-block">
        {{> "systems/ambersteel/templates/item/injury/injury-list-item.hbs" item=injury itemId=injury.id isEditable=../isEditable isSendable=../isSendable CONFIG=../CONFIG game=../game }}
      </li>
    {{/each}}
    {{#if isEditable}}
      <li class="ambersteel-list-row ambersteel-list-footer">
        <div class="fill flex flex-row">
          <span class="flex-grow"></span>
          {{!-- Add injury --}}
          <span class="width-sm">
            {{> buttonAdd target=actor creationType="injury" withDialog=true }}
          </span>
        </div>
      </li>
    {{/if}}
  </ol>
  {{!-- Illnesses --}}
  <h2>{{localize "ambersteel.labels.illnesses"}}</h2>
  <div class="grid grid-2col">
    <div>
    </div>
    <div class="sheet-block">
      <div class="flex flex-row">
        <div class="flex-grow">
          {{> inputLabel text="ambersteel.labels.illnesses"}}
        </div>
        <span class="width-md">
          <div class="ambersteel-read-only pad-sm fill">
            {{actor.illnesses.length}}
          </div>
        </span>
      </div>
    </div>
  </div>
  <ol class="unstyled-list alternating-rows">
    {{#each actor.illnesses as |illness key|}}
      <li class="ambersteel-list-row sheet-block">
        {{> "systems/ambersteel/templates/item/illness/illness-list-item.hbs" item=illness itemId=illness.id isEditable=../isEditable isSendable=../isSendable CONFIG=../CONFIG game=../game }}
      </li>
    {{/each}}
    {{#if isEditable}}
      <li class="ambersteel-list-row ambersteel-list-footer">
        <div class="fill flex flex-row">
          <span class="flex-grow"></span>
          {{!-- Add illness --}}
          <span class="width-sm">
            {{> buttonAdd target=actor creationType="illness" withDialog=true }}
          </span>
        </div>
      </li>
    {{/if}}
  </ol>
</section>