{{!-- Requires parameters:
viewModel: {ActorFateViewModel}
--}}
<section>
  <div class="sheet-block grid grid-2col flex-column">
    {{!-- row 1 --}}
    <span class="fancy-font line-height">
      <label for="miFP">{{localize "ambersteel.fateSystem.miFP"}}</label>
      <span class="primary-font">[{{localize "ambersteel.fateSystem.miFPAbbreviation"}}]</span>
    </span>
    <span class="fate-spinner-column-container">
      {{> inputNumberSpinner viewModel=viewModel.vmNsMifp }}
    </span>
    {{!-- row 2 --}}
    <span class="fancy-font line-height">
      <label for="maFP">{{localize "ambersteel.fateSystem.maFP"}}</label>
      <span class="primary-font">[{{localize "ambersteel.fateSystem.maFPAbbreviation"}}]</span>
    </span>
    <span class="fate-spinner-column-container">
      {{> inputNumberSpinner viewModel=viewModel.vmNsMafp }}
    </span>
    {{!-- row 3 --}}
    <span class="fancy-font line-height">
      <label for="AFP">{{localize "ambersteel.fateSystem.AFP"}}</label>
      <span class="primary-font">[{{localize "ambersteel.fateSystem.AFPAbbreviation"}}]</span>
    </span>
    <span class="fate-spinner-column-container">
      {{> inputNumberSpinner viewModel=viewModel.vmNsAfp }}
    </span>
  </div>
  <div class="flex" style="flex-wrap: wrap;">
    {{#each viewModel.fateCards as |cardViewModel key|}}
    <div class="fate-card-actor-container">
      {{> "systems/ambersteel/templates/item/fate-card/fate-card.hbs" viewModel=cardViewModel }}
    </div>
    {{/each}}
    {{#if viewModel.isEditable}}
      {{#times viewModel.remainingSlots}}
        <div class="fate-card-actor-container">
          <div class="fate-card">
            {{> buttonAdd viewModel=../viewModel.vmBtnAddFateCard fill=true cssClass="font-size-xxl" }}
          </div>
        </div>
      {{/times}}
    {{/if}}
  </div>
</section>