{{!-- Requires parameters:
isEditable: {Boolean},
beliefSystem: {Object} where Object = {
  ambition: {String},
  beliefs: {[String]},
  instincts: {[String]}
}
--}}
<section>
  <div class="sheet-block">
    <h3>
      <label class="fancy-font" for="beliefSystem.ambition">{{localize "ambersteel.beliefSystem.ambition"}}</label>
    </h3>
    {{#if isEditable}}
      <input name="beliefSystem.ambition" type="text" value="{{beliefSystem.ambition}}" />
    {{else}}
      {{beliefSystem.ambition}}
    {{/if}}
  </div>
  <div class="sheet-block">
    <h3>
      <label class="fancy-font" for="beliefSystem.beliefs">{{localize "ambersteel.beliefSystem.beliefs"}}</label>
    </h3>
    {{#each beliefSystem.beliefs as | belief |}}
      {{#if ../isEditable}}
        <input name="beliefSystem.beliefs" type="text" value="{{belief}}" />
      {{else}}
        {{belief}}
      {{/if}}
    {{/each}}
  </div>
  <div class="sheet-block">
    <h3>
      <label class="fancy-font" for="beliefSystem.instincts">{{localize "ambersteel.beliefSystem.instincts"}}</label>
    </h3>
    {{#each beliefSystem.instincts as | instinct |}}
      {{#if ../isEditable}}
        <input name="beliefSystem.instincts" type="text" value="{{instinct}}" />
      {{else}}
        {{instinct}}
      {{/if}}
    {{/each}}
  </div>
</section>