{{!-- Parameters:
viewModel: {AttributeTableViewModel}
cssClass: {undefined | String}
--}}
<table id="{{viewModel.id}}" class="attribute-table">
  <tbody>
    <tr class="header-row{{#if viewModel.showFancyFont}} fancy-font{{/if}}">
      <th class="attribute-column-name">
        <div class="flex flex-row flex-middle auto-margin-h">
          {{#if viewModel.iconClass}}
          <i class="ico {{viewModel.iconClass}} dark"></i>
          {{/if}}
          {{#if viewModel.headerInteractible}}
          <a id="{{viewModel.id}}-header" class="font-size-lg">{{localize "system.character.attribute.plural"}}</a>
          {{else}}
          <span class="font-size-lg">{{localize "system.character.attribute.plural"}}</span>
          {{/if}}
        </div>
      </th>
      <th class="attribute-column-abbreviation"></th>
      <th class="attribute-column-level">
        {{localize "system.character.advancement.level"}}
      </th>
      <th class="attribute-column-level">
        {{localize "system.character.advancement.modifier.abbreviation"}}
      </th>
      <th class="attribute-column-level">
        {{!-- Deliberately no label here, to avoid overloading the table header. --}}
      </th>
      {{#if viewModel.showAdvancementProgression}}
        <th class="attribute-column-requirements">
          {{localize "system.character.advancement.requirements.abbreviation"}}
        </th>
        <th class="attribute-column-progress">
          {{localize "system.character.advancement.requirements.progress.abbreviation"}}
        </th>
        <th class="attribute-column-progress">
          <div class="flex flex-center">
            <i class="fas fa-dumbbell" title="{{localize "system.character.advancement.advanced"}}"></i>
          </div>
        </th>
      {{/if}}
    </tr>
    {{#each viewModel.attributeViewModels as |vm index|}}
    <tr class="item attribute-item"
      data-att-name="{{vm.attributeName}}">
      <td class="attribute-column-name font-size-default flex{{#if ../viewModel.showFancyFont}} fancy-font{{/if}}">
        {{> buttonRoll viewModel=vm.vmBtnRoll }}
        <span class="pad-l-md flex flex-middle">{{localize vm.localizableName}}</span>
      </td>
      <td class="attribute-column-abbreviation font-size-default{{#if ../viewModel.showFancyFont}} fancy-font{{/if}}">
        [{{localize vm.localizableAbbreviation}}]
      </td>
      <td class="attribute-column-level">
        {{> inputNumberSpinner viewModel=vm.vmNsLevel }}
      </td>
      <td class="attribute-column-level">
        {{> inputNumberSpinner viewModel=vm.vmNsLevelModifier }}
      </td>
      <td class="flex flex-row flex-middle pad-r-xl">
        <span class="pad-md font-bold">=</span>
        {{#> readOnlyValue cssClass="width-min-md font-size-lg flex flex-center"}}{{vm.modifiedLevel}}{{/readOnlyValue}}
      </td>
      {{#if ../viewModel.showAdvancementProgression}}
        <td class="attribute-column-requirements">
          {{> inputNumberSpinner viewModel=vm.vmRequiredProgress }}
        </td>
        <td class="attribute-column-progress">
          {{> inputNumberSpinner viewModel=vm.vmNsProgress }}
        </td>
        <td class="attribute-column-progress">
          {{> buttonCheckbox viewModel=vm.vmAdvanced }}
        </td>
      {{/if}}
    </tr>
    {{/each}}
  </tbody>
</table>