{{!--
viewModel: {ChallengeRatingViewModel}
cssClass: {String}
--}}
<div id="{{viewModel.id}}" class="flex flex-row flex-middle pad-md{{#if cssClass}} {{cssClass}}{{/if}}">
  {{!-- Roll --}}
  {{> buttonRoll viewModel=viewModel.vmRoll }}
  <a id="{{viewModel.id}}-header" class="flex flex-grow flex-middle auto-margin-h">
    {{#if viewModel.iconClass}}
    <i class="ico {{viewModel.iconClass}} dark"></i>
    {{/if}}
    <span class="flex-grow flex-center font-size-lg font-bold{{#if viewModel.showFancyFont}} fancy-font{{/if}}">{{viewModel.localizedLabel}}</span>
  </a>
  <div class="flex flex-row auto-margin-h">
    {{!-- CR --}}
    {{#> labeledControl viewModel=viewModel.vmCr localizedLabel=(localize "system.character.advancement.challengeRating.abbreviation") }}
      <div class="width-sm">
        {{> inputNumberSpinner }}
      </div>
    {{/labeledControl}}
    {{!-- CR Modifier --}}
    {{#> labeledControl viewModel=viewModel.vmCrModifier localizedIconToolTip=(localize "system.character.advancement.challengeRating.modifier.label") iconClass="ico-modifier-solid" }}
      <div class="width-sm">
        {{> inputNumberSpinner }}
      </div>
    {{/labeledControl}}
    {{!-- Modified CR --}}
    <div class="flex flex-middle">
      <span class="pad-t-md pad-b-md pad-r-md font-bold font-bold">=</span>
      {{> readOnlyValue viewModel=viewModel.vmModifiedCr cssClass="width-sm font-size-lg flex flex-center"}}
    </div>
  </div>
</div>
