{{!-- Parameters:
viewModel: {ActorPersonalityViewModel}
cssClass: {undefined | String}
--}}
<section id="{{viewModel.id}}" class="{{cssClass}}">
  {{#> header1 showFancyFont=viewModel.showFancyFont}}{{localize "system.character.personalityTrait.plural"}}{{/header1}}
  {{#with viewModel.personalityTraitsTemplate as | template |}}
    {{> (template) viewModel=../viewModel.personalityTraitsViewModel }}
  {{/with}}
  {{#if viewModel.isPC}}
    {{#> header1 showFancyFont=viewModel.showFancyFont}}{{localize "system.character.driverSystem.label"}}{{/header1}}
    {{#with viewModel.driversTemplate as | template |}}
      {{> (template) viewModel=../viewModel.driversViewModel }}
    {{/with}}
    {{#> header1 showFancyFont=viewModel.showFancyFont}}{{localize "system.character.driverSystem.fateSystem.label"}}{{/header1}}
    {{#with viewModel.fateTemplate as | template |}}
      {{> (template) viewModel=../viewModel.fateViewModel }}
    {{/with}}
  {{/if}}
</section>