{{!-- Required context:
viewModel: {ButtonRollViewModel}
cssClass: {String | undefined}
fill: {Boolean | undefined}
--}}
<span class="component-button-roll {{#if fill}}fill-button-light{{else}}square-button-light{{/if}} {{#if (not viewModel.isEditable)}}disabled{{/if}} {{#if cssClass}}{{cssClass}}{{else}}font-size-default{{/if}}">
  <a class="custom-system-button pad-sm button flex flex-center" 
    title="{{viewModel.localizedTitle}}"
    id="{{viewModel.id}}"
  >
    <i class="fas fa-dice-three"></i>
  </a>
</span>