{{!-- Requires context:
viewModel: {IllnessChatMessageViewModel}
--}}
<section>
  {{!-- Header --}}
  <div class="flex flex-row">
    <div class="flex flex-center">
      <img class="inline-img header-image margin-r-sm" name="img" src="{{viewModel.item.img}}" title="{{viewModel.item.name}}" height="35" width="35" />
    </div>
    <h2 class="flex-grow">
      {{viewModel.item.name}}
    </h2>
  </div>
  {{!-- Duration --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{localize "ambersteel.labels.duration"}}
    </div>
    <div class="flex-grow">
      {{viewModel.item.data.data.duration}}
    </div>
  </div>
  {{!-- Treatment skill --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{localize "ambersteel.labels.treatmentSkill"}}
    </div>
    <div class="flex-grow">
      {{viewModel.item.data.data.treatmentSkill}}
    </div>
  </div>
  {{!-- Treatment --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{localize "ambersteel.labels.treatment"}}
    </div>
    <div class="flex-grow">
      {{viewModel.item.data.data.treatment}}
    </div>
  </div>
  {{!-- Description --}}
  <div class="sheet-block multiline">
    {{viewModel.item.data.data.description}}
  </div>
</section>