{{!--
type: String = "error" | "warn" | "info" | "success"
header: String | undefined
--}}
<div class="hint-card flex flex-column {{type}}">
  {{#if header}}
  <h2 class="hint-card {{type}}">
    {{#if (eq type "error")}}
    <i class="fas fa-exclamation-triangle"></i>
    {{else if (eq type "warn")}}
    <i class="fas fa-exclamation-circle"></i>
    {{else if (eq type "info")}}
    <i class="fas fa-question-circle"></i>
    {{else if (eq type "success")}}
    <i class="fas fa-check-circle"></i>
    {{/if}}
    <span class="margin-l-sm">{{localize "ambersteel.migration.completion"}}</span>
  </h2>
  {{/if}}
  <p>{{> @partial-block}}</p>
</div>