{{!-- Parameters:
viewModel: {ActorHealthViewModel}
cssClass: {undefined | String}
--}}
<section id="{{viewModel.id}}" class="auto-margin-v-xl{{#if cssClass}} {{cssClass}}{{/if}}">
  {{!-- General health stats --}}
  <div class="auto-margin-v-md">
    {{#> header1 showFancyFont=viewModel.showFancyFont}}{{localize "system.character.health.healthStats"}}{{/header1}}
    <div class="flex flex-column auto-margin-v-md">
      {{!-- Row --}}
      <div class="grid-3col grid-gap-md">
        {{!-- HP --}}
        <div class="sheet-block">
          {{!-- Max HP --}}
          <div class="flex flex-row flex-middle flex-right">
            {{#> labeledControl viewModel=viewModel.vmMaxHp localizedIconToolTip=(localize "system.character.health.hp.maximum") iconClass="ico-heart-limit-solid" cssClass="width-lg" }}
              {{> inputNumberSpinner }}
            {{/labeledControl}}
            {{#> labeledControl viewModel=viewModel.vmMaxHpModifier localizedIconToolTip=(localize "system.general.modifier.label") iconClass="ico-modifier-solid" cssClass="width-lg" }}
              {{> inputNumberSpinner }}
            {{/labeledControl}}
            <span class="pad-md font-bold">=</span>
            <span class="width-md">
              {{#> readOnlyValue}}{{viewModel.modifiedMaxHp}}{{/readOnlyValue}}
            </span>
          </div>
          {{!-- Current HP --}}
          <div class="flex flex-row flex-middle flex-right">
            {{#> labeledControl viewModel=viewModel.vmHp localizedIconToolTip=(localize "system.character.health.hp.label") iconClass="ico-heart-solid" cssClass="width-xl" }}
              {{> inputNumberSpinner }}
            {{/labeledControl}}
          </div>
        </div>
        {{!-- Exhaustion --}}
        <div class="sheet-block">
          {{!-- Max Exhaustion --}}
          <div class="flex flex-row flex-middle flex-right">
            {{#> labeledControl viewModel=viewModel.vmMaxExhaustion localizedIconToolTip=(localize "system.character.health.exhaustion.maximum") iconClass="ico-lung-limit-solid" cssClass="width-lg" }}
              {{> inputNumberSpinner }}
            {{/labeledControl}}
            {{#> labeledControl viewModel=viewModel.vmMaxExhaustionModifier localizedIconToolTip=(localize "system.general.modifier.label") iconClass="ico-modifier-solid" cssClass="width-lg" }}
              {{> inputNumberSpinner }}
            {{/labeledControl}}
            <span class="pad-md font-bold">=</span>
            <span class="width-md">
              {{#> readOnlyValue}}{{viewModel.modifiedMaxExhaustion}}{{/readOnlyValue}}
            </span>
          </div>
          {{!-- Current Exhaustion --}}
          <div class="flex flex-row flex-middle flex-right">
            {{#> labeledControl viewModel=viewModel.vmExhaustion localizedIconToolTip=(localize "system.character.health.exhaustion.label") iconClass="ico-lung-solid" cssClass="width-xl" }}
              {{> inputNumberSpinner }}
            {{/labeledControl}}
          </div>
        </div>
        {{!-- Magic Stamina --}}
        <div class="sheet-block">
          {{!-- Max Magic Stamina --}}
          <div class="flex flex-row flex-middle flex-right">
            <i id="{{viewModel.id}}-max-magic-stamina-info" class="far fa-question-circle info-button"></i>
            {{#> labeledControl viewModel=viewModel.vmMaxMagicStamina localizedIconToolTip=(localize "system.character.magic.stamina.maximum") iconClass="ico-brain-limit-solid" cssClass="width-lg" }}
              {{> inputNumberSpinner }}
            {{/labeledControl}}
            {{#> labeledControl viewModel=viewModel.vmMaxMagicStaminaModifier localizedIconToolTip=(localize "system.general.modifier.label") iconClass="ico-modifier-solid" cssClass="width-lg" }}
              {{> inputNumberSpinner }}
            {{/labeledControl}}
            <span class="pad-md font-bold">=</span>
            <span class="width-md">
              {{#> readOnlyValue}}{{viewModel.modifiedMaxMagicStamina}}{{/readOnlyValue}}
            </span>
          </div>
          {{!-- Current Magic Stamina --}}
          <div class="flex flex-row flex-middle flex-right">
            {{#> labeledControl viewModel=viewModel.vmMagicStamina localizedIconToolTip=(localize "system.character.magic.stamina.label") iconClass="ico-brain-solid" cssClass="width-xl" }}
              {{> inputNumberSpinner }}
            {{/labeledControl}}
          </div>
        </div>
      </div>
      {{!-- Death's Door --}}
      {{#if viewModel.isPC}}
      {{#with viewModel.deathsDoorTemplate as | template |}}
        {{> (template) viewModel=../viewModel.vmDeathsDoor}}
      {{/with}}
      {{/if}}
      {{!-- Grit Points --}}
      {{#with viewModel.gritPointsTemplate as | template |}}
        {{> (template) viewModel=../viewModel.vmGritPoints}}
      {{/with}}
      {{!-- Conditions (formerly health states) --}}
      {{#with viewModel.healthStatesTemplate as | template |}}
        {{> (template) viewModel=../viewModel.vmHealthStates}}
      {{/with}}
    </div>
  </div>
  {{!-- Injuries --}}
  <div class="auto-margin-v-md">
    {{#> header1 showFancyFont=viewModel.showFancyFont cssClass="flex flex-row" }}
      <span class="flex-grow">{{localize "system.character.health.injury.plural"}}</span>
      {{#with viewModel.sortControlsTemplate as |template|}}
        {{> (template) viewModel=../viewModel.vmSortInjuries cssClass="font-size-default" }}
      {{/with}}
    {{/header1}}
    <div class="grid-2col grid-gap-md">
      <div class="sheet-block">
        <div class="flex flex-row flex-middle flex-right">
          <div class="flex-grow">
            {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "system.character.health.injury.maximum"}}{{/label}}
          </div>
          <span class="width-md">
            {{#> readOnlyValue}}{{viewModel.maxInjuries}}{{/readOnlyValue}}
          </span>
          {{#> labeledControl viewModel=viewModel.vmMaxInjuriesModifier localizedIconToolTip=(localize "system.general.modifier.label") iconClass="ico-modifier-solid" cssClass="width-xl" }}
            {{> inputNumberSpinner }}
          {{/labeledControl}}
          <span class="pad-md font-bold">=</span>
          <span class="width-md">
            {{#> readOnlyValue}}{{viewModel.modifiedMaxInjuries}}{{/readOnlyValue}}
          </span>
        </div>
      </div>
      <div class="sheet-block">
        <div class="flex flex-row">
          <div class="flex-grow">
            {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "system.character.health.injury.plural"}}{{/label}}
          </div>
          <span class="width-md">
            {{#> readOnlyValue}}{{viewModel.injuryCount}}{{/readOnlyValue}}
          </span>
        </div>
      </div>
    </div>
    {{> sortableList viewModel=viewModel.vmInjuryList prominentItemStyling=true }}
  </div>
  {{!-- Illnesses --}}
  <div class="auto-margin-v-md">
    {{#> header1 showFancyFont=viewModel.showFancyFont cssClass="flex flex-row" }}
      <span class="flex-grow">{{localize "system.character.health.illness.plural"}}</span>
      {{#with viewModel.sortControlsTemplate as |template|}}
        {{> (template) viewModel=../viewModel.vmSortIllnesses cssClass="font-size-default" }}
      {{/with}}
    {{/header1}}
    <div class="grid-2col grid-gap-md">
      <div></div>
      <div class="sheet-block">
        <div class="flex flex-row">
          <div class="flex-grow">
            {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "system.character.health.illness.plural"}}{{/label}}
          </div>
          <span class="width-md">
            {{#> readOnlyValue}}{{viewModel.illnessCount}}{{/readOnlyValue}}
          </span>
        </div>
      </div>
    </div>
    {{> sortableList viewModel=viewModel.vmIllnessList prominentItemStyling=true }}
  </div>
  {{!-- Mutations --}}
  <div class="auto-margin-v-md">
    {{#> header1 showFancyFont=viewModel.showFancyFont cssClass="flex flex-row" }}
      <span class="flex-grow">{{localize "system.character.health.mutation.plural"}}</span>
      {{#with viewModel.sortControlsTemplate as |template|}}
        {{> (template) viewModel=../viewModel.vmSortMutations cssClass="font-size-default" }}
      {{/with}}
    {{/header1}}
    <div class="grid-2col grid-gap-md">
      <div></div>
      <div class="sheet-block">
        <div class="flex flex-row">
          <div class="flex-grow">
            {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "system.character.health.mutation.plural"}}{{/label}}
          </div>
          <span class="width-md">
            {{#> readOnlyValue}}{{viewModel.mutationCount}}{{/readOnlyValue}}
          </span>
        </div>
      </div>
    </div>
    {{> sortableList viewModel=viewModel.vmMutationList prominentItemStyling=true }}
  </div>
  {{!-- Scars --}}
  <div class="auto-margin-v-md">
    {{#> header1 showFancyFont=viewModel.showFancyFont cssClass="flex flex-row" }}
      <span class="flex-grow">{{localize "system.character.health.scar.plural"}}</span>
      {{#with viewModel.sortControlsTemplate as |template|}}
        {{> (template) viewModel=../viewModel.vmSortScars cssClass="font-size-default" }}
      {{/with}}
    {{/header1}}
    <div class="grid-2col grid-gap-md">
      <div></div>
      <div class="sheet-block">
        <div class="flex flex-row">
          <div class="flex-grow">
            {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "system.character.health.scar.plural"}}{{/label}}
          </div>
          <span class="width-md">
            <div class="strive-read-only pad-sm fill">
              {{#> readOnlyValue}}{{viewModel.scarCount}}{{/readOnlyValue}}
            </div>
          </span>
        </div>
      </div>
    </div>
    {{> sortableList viewModel=viewModel.vmScarList prominentItemStyling=true }}
  </div>
</section>