{{!-- Parameters:
viewModel: {ActorHealthViewModel}
cssClass: {undefined | String}
--}}
<section id="{{viewModel.id}}" class="auto-margin-v-xl{{#if cssClass}} {{cssClass}}{{/if}}">
  {{!-- General health stats --}}
  <div class="auto-margin-v-md">
    {{#> header1 showFancyFont=viewModel.showFancyFont}}{{localize "system.character.health.healthStats"}}{{/header1}}
    <div class="flex flex-column auto-margin-v-md">
      {{!-- Row --}}
      <div class="flex flex-justify flex-row flex-wrap">
        {{!-- HP --}}
        <div class="sheet-block flex flex-row">
          <div class="flex flex-row">
            {{!-- Max HP --}}
            <div class="flex flex-row flex-middle flex-right">
              {{#> labeledControl viewModel=viewModel.vmMaxHp localizedIconToolTip=(localize "system.character.health.hp.maximum") iconClass="ico-heart-limit-solid" cssClass="width-lg" }}
                {{> inputNumberSpinner }}
              {{/labeledControl}}
              {{#> labeledControl viewModel=viewModel.vmMaxHpModifier localizedIconToolTip=(localize "system.general.modifier.label") iconClass="ico-modifier-solid" cssClass="width-lg" }}
                {{> inputNumberSpinner }}
              {{/labeledControl}}
              <span class="pad-md font-bold">=</span>
              <span class="width-md">
                {{> readOnlyValue viewModel=viewModel.vmModifiedMaxHp }}
              </span>
            </div>
            <div class="flex flex-row flex-middle flex-right">
              {{!-- Reminder --}}
              {{#if viewModel.showReminders}}
              <span class="button light square font-size-default flex flex-center" id="{{viewModel.vmHpInjuryReminder.id}}">
                <i class="far fa-question-circle info-button"></i>
              </span>
              {{/if}}
              {{!-- Current HP --}}
              {{#> labeledControl viewModel=viewModel.vmHp localizedIconToolTip=(localize "system.character.health.hp.label") iconClass="ico-heart-solid" cssClass="width-xl" }}
                {{> inputNumberSpinner }}
              {{/labeledControl}}
            </div>
          </div>
          <div class="flex flex-column">
            <span class="flex-grow"></span>
            {{!-- Adjust button --}}
            {{> button viewModel=viewModel.vmAdjustHp heavy=true fill=false skipPadding=true }}
          </div>
        </div>
        {{!-- Exhaustion --}}
        <div class="sheet-block">
          {{!-- Max Exhaustion --}}
          <div class="flex flex-row flex-middle flex-right">
            {{#> labeledControl viewModel=viewModel.vmMaxExhaustion localizedIconToolTip=(localize "system.character.health.exhaustion.maximum") iconClass="ico-lung-limit-solid" cssClass="width-lg" }}
              {{> inputNumberSpinner }}
            {{/labeledControl}}
            {{#> labeledControl viewModel=viewModel.vmMaxExhaustionModifier localizedIconToolTip=(localize "system.general.modifier.label") iconClass="ico-modifier-solid" cssClass="width-lg" }}
              {{> inputNumberSpinner }}
            {{/labeledControl}}
            <span class="pad-md font-bold">=</span>
            <span class="width-md">
              {{> readOnlyValue viewModel=viewModel.vmModifiedMaxExhaustion }}
            </span>
          </div>
          {{!-- Current Exhaustion --}}
          <div class="flex flex-row flex-middle flex-right">
            {{#> labeledControl viewModel=viewModel.vmExhaustion localizedIconToolTip=(localize "system.character.health.exhaustion.label") iconClass="ico-lung-solid" cssClass="width-xl" }}
              {{> inputNumberSpinner }}
            {{/labeledControl}}
          </div>
        </div>
      </div>
      {{!-- Death's Door --}}
      {{#if viewModel.isPC}}
      {{#with viewModel.deathsDoorTemplate as | template |}}
        {{> (template) viewModel=../viewModel.vmDeathsDoor}}
      {{/with}}
      {{/if}}
      {{!-- Grit Points --}}
      {{#with viewModel.gritPointsTemplate as | template |}}
        {{> (template) viewModel=../viewModel.vmGritPoints}}
      {{/with}}
      {{!-- Armor --}}
      {{#if viewModel.vmArmorListItem}}
      {{#with viewModel.armorListItemTemplate as | template |}}
        {{> (template) viewModel=../viewModel.vmArmorListItem }}
      {{/with}}
      {{/if}}
      {{!-- Conditions (formerly health states) --}}
      {{#with viewModel.healthStatesTemplate as | template |}}
        {{> (template) viewModel=../viewModel.vmHealthStates}}
      {{/with}}
    </div>
  </div>
  {{!-- Injuries --}}
  {{#> sortableList viewModel=viewModel.vmInjuryList }}
    {{#*inline "sortableListExtraHeader"}}
    <div class="grid-3col grid-gap-md margin-b-md">
      {{!-- Shrug off --}}
      <div class="flex flex-row grid-span-2 auto-margin-h-md sheet-block">
        {{> button viewModel=../viewModel.vmRollShrugOff }}
        {{#with ../viewModel.shrugOffBarTemplate as | template |}}
          {{> (template) viewModel=../../viewModel.vmShrugOffBar }}
        {{/with}}
      </div>
      {{!-- Current injury count --}}
      <div class="flex flex-row sheet-block">
        <div class="flex-grow">
          {{#> label showFancyFont=../viewModel.showFancyFont}}{{localize "system.character.health.injury.plural"}}{{/label}}
        </div>
        <span class="width-md">
          {{> readOnlyValue viewModel=../viewModel.vmInjuryCount }}
        </span>
      </div>
    </div>
    {{/inline}}
  {{/sortableList}}
  {{!-- Illnesses --}}
  {{#> sortableList viewModel=viewModel.vmIllnessList }}
    {{#*inline "sortableListExtraHeader"}}
    <div class="grid-2col grid-gap-md margin-b-md">
      <div></div>
      <div class="flex flex-row sheet-block">
        <div class="flex-grow">
          {{#> label showFancyFont=../viewModel.showFancyFont}}{{localize "system.character.health.illness.plural"}}{{/label}}
        </div>
        <span class="width-md">
          {{> readOnlyValue viewModel=../viewModel.vmIllnessCount }}
        </span>
      </div>
    </div>
    {{/inline}}
  {{/sortableList}}
  {{!-- Mutations --}}
  {{#> sortableList viewModel=viewModel.vmMutationList }}
    {{#*inline "sortableListExtraHeader"}}
    <div class="grid-2col grid-gap-md margin-b-md">
      <div></div>
      <div class="flex flex-row sheet-block">
        <div class="flex-grow">
          {{#> label showFancyFont=../viewModel.showFancyFont}}{{localize "system.character.health.mutation.plural"}}{{/label}}
        </div>
        <span class="width-md">
          {{> readOnlyValue viewModel=../viewModel.vmMutationCount }}
        </span>
      </div>
    </div>
    {{/inline}}
  {{/sortableList}}
  {{!-- Scars --}}
  {{#> sortableList viewModel=viewModel.vmScarList }}
    {{#*inline "sortableListExtraHeader"}}
    <div class="grid-2col grid-gap-md margin-b-md">
      <div></div>
      <div class="flex flex-row sheet-block">
        <div class="flex-grow">
          {{#> label showFancyFont=../viewModel.showFancyFont}}{{localize "system.character.health.scar.plural"}}{{/label}}
        </div>
        <span class="width-md">
          {{> readOnlyValue viewModel=../viewModel.vmScarCount }}
        </span>
      </div>
    </div>
    {{/inline}}
  {{/sortableList}}
</section>