{{!--
viewModel: DamageDesignerListItemViewModel
--}}
<div id="{{viewModel.id}}">
  <div class="damage-finding-header pad-md">
    <span>{{viewModel.damageFinding.name}}</span>
    <span class="multiline">{{viewModel.formula}}</span>
    <span class="multiline">{{viewModel.minDamage}}</span>
    <span class="multiline">{{viewModel.meanDamage}}</span>
    <span class="multiline">{{viewModel.maxDamage}}</span>
  </div>
</div>