{{!-- Requires parameters: 
viewModel: {AttributeTableViewModel}
--}}
<div>
    <table class="attribute-table">
        <tbody>
            <tr class="fancy-font header-row">
                {{#if viewModel.isEditable}}
                    <th class="attribute-column-roll"></th>
                {{/if}}
                <th class="attribute-column-name">
                    {{localize viewModel.localizableAttributeGroupName}}
                </th>
                <th class="attribute-column-abbreviation"></th>
                <th class="attribute-column-level">
                    {{localize "ambersteel.labels.level"}}
                </th>
                <th class="attribute-column-requirements">
                    {{localize "ambersteel.labels.requiredSuccessFailureAbbreviation"}}
                </th>
                <th class="attribute-column-successes">
                    {{localize "ambersteel.labels.successAbbreviation"}}
                </th>
                <th class="attribute-column-failures">
                    {{localize "ambersteel.labels.failureAbbreviation"}}
                </th>
            </tr>
            {{#each viewModel.attributeViewModels as |vm index|}}
            <tr class="item attribute-item" data-att-group-name="{{../viewModel.attributeGroupName}}" data-att-name="{{vm.attributeName}}">
                {{#if ../viewModel.isEditable}}
                    <td class="attribute-column-roll">
                        {{> buttonRoll viewModel=vm.vmBtnRoll }}
                    </td>
                {{/if}}
                <td class="attribute-column-name flex fancy-font">
                    {{localize vm.localizableName}}
                </td>
                <td class="attribute-column-abbreviation fancy-font">
                    [{{localize vm.localizableAbbreviation}}]
                </td>
                <td class="attribute-column-level">
                    {{> inputNumberSpinner viewModel=vm.vmNsLevel }}
                </td>
                <td class="attribute-column-requirements">
                    {{vm.requiredSuccessses}} / {{vm.requiredFailures}}
                </td>
                <td class="attribute-column-successes">
                    {{> inputNumberSpinner viewModel=vm.vmNsSuccesses }}
                </td>
                <td class="attribute-column-failures">
                    {{> inputNumberSpinner viewModel=vm.vmNsFailures }}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>