{{!-- Requires parameters: 
isOwner: Boolean
attGroup: Object
 --}}
<div>
    <table class="attribute-table">
        <tbody>
            <tr class="fancy-font">
                {{#if isOwner}}
                <th class="attribute-column-roll"></th>
                {{/if}}
                <th class="attribute-column-name">
                    {{localize attGroup.localizableName}}
                </th>
                <th class="attribute-column-abbreviation"></th>
                <th class="attribute-column-level">
                    {{localize "ambersteel.labels.level"}}
                </th>
                <th class="attribute-column-requirements">
                    {{localize "ambersteel.labels.requiredSuccessFailureAbbreviation"}}
                </th>
                <th class="attribute-column-successes">
                    {{localize "ambersteel.labels.successAbbreviation"}}
                </th>
                <th class="attribute-column-failures">
                    {{localize "ambersteel.labels.failureAbbreviation"}}
                </th>
            </tr>
            {{#each attGroup.attributes as | att |}}
            <tr class="item attribute-item" data-att-group-name="{{../attGroup.name}}" data-att-name="{{att.name}}">
                {{#if ../isOwner}}
                <td class="attribute-column-roll">
                    <a class="ambersteel-attribute-roll roll-button pad-sm button" data-action-value="{{att.value}}" data-action-name="{{att.name}}" title="{{localize ambersteel.labels.roll}}">
                        <i class="fas fa-dice-three"></i>
                    </a>
                </td>
                {{/if}}
                <td class="attribute-column-name flex fancy-font">
                    {{localize att.localizableName}}
                </td>
                <td class="attribute-column-abbreviation fancy-font">
                    [{{localize att.localizableAbbreviation}}]
                </td>
                <td class="attribute-column-level">
                    {{#if ../isOwner}}
                    <input class="attribute-value ambersteel-attribute-edit" name="att.value" type="number" value="{{att.value}}" data-field="value" />
                    {{else}}
                    {{att.value}}
                    {{/if}}
                </td>
                <td class="attribute-column-requirements">
                    {{att.requiredSuccessses}} / {{att.requiredFailures}}
                </td>
                <td class="attribute-column-successes">
                    {{#if ../isOwner}}
                    <input class="attribute-successes ambersteel-attribute-edit" name="att.successes" type="number" value="{{att.successes}}" data-field="successes" />
                    {{else}}
                    {{att.successes}}
                    {{/if}}
                </td>
                <td class="attribute-column-failures">
                    {{#if ../isOwner}}
                    <input class="attribute-failures ambersteel-attribute-edit" name="att.failures" type="number" value="{{att.failures}}" data-field="failures" />
                    {{else}}
                    {{att.failures}}
                    {{/if}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>