{{!-- Requires parameters: 
isEditable: {Boolean}
isSendable: {Boolean}
isLearningSkillsTable: {Boolean}
skills: {[Item]} = {
    id: {String}
    name: {String}
    img: {String}
    data: {Object} = {
        data: {Object} = {
            value: {Number}
            successes: {Number}
            failures: {Number}
            requiredSuccessses: {Number}
            requiredFailures: {Number}
            relatedAttribute: {String}
            abilities: {[Object]} -> see item/skill-ability/skill-ability-table.hbs
            localizableName: {String}
            isCustom: {Boolean}
        }
    }
}
--}}
<div>
    <table class="skill-table">
        <tbody>
            <tr class="fancy-font header-row">
                {{#if isEditable}}
                    <th class="skill-column-roll"></th>
                {{/if}}
                <th class="skill-column-roll"></th>
                <th class="skill-column-name">
                    {{#if isLearningSkillsTable}}
                        {{localize "ambersteel.labels.learningSkill"}}
                    {{else}}
                        {{localize "ambersteel.labels.knownSkill"}}
                    {{/if}}
                </th>
                <th class="skill-column-attribute">
                    {{localize "ambersteel.labels.attributeAbbreviation"}}
                </th>
                <th class="skill-column-level">
                    {{localize "ambersteel.labels.level"}}
                </th>
                <th class="skill-column-requirements">
                    {{localize "ambersteel.labels.requiredSuccessFailureAbbreviation"}}
                </th>
                <th class="skill-column-successes">
                    {{localize "ambersteel.labels.successAbbreviation"}}
                </th>
                <th class="skill-column-failures">
                    {{localize "ambersteel.labels.failureAbbreviation"}}
                </th>
                {{#if isEditable}}
                    <th class="skill-column-delete"></th>
                {{/if}}
            </tr>
            {{#each skills as |skill key|}}
                <tr class="item skill-item" data-item-id="{{skill.data.id}}">
                    {{#if ../isEditable}}
                        <td class="skill-column-roll">
                            {{> buttonRoll
                                type="dice-pool"
                                itemId=skill.data.id
                                chatTitle=skill.name
                                callback="advanceSkillBasedOnRollResult"
                                callbackData=skill.data.id
                            }}
                        </td>
                    {{/if}}
                    <td>
                        {{> buttonSendToChat itemId=skill.data.id }}
                    </td>
                    <td class="fancy-font flex skill-column-name">
                        {{> inputComponent type="single-line" propertyPath="name" itemId=skill.data.id isEditable=../isEditable contextOverride=../this }}
                    </td>
                    <td class="skill-column-attribute">
                        {{> inputComponent type="drop-down" propertyPath="data.data.relatedAttribute" 
                            itemId=skill.data.id
                            options=../CONFIG.character.attributes
                            optionValueProperty="name"
                            optionDisplayProperty="localizableAbbreviation"
                            isEditable=../isEditable
                            contextOverride=../this
                        }}
                    </td>
                    <td class="skill-column-level">
                        {{> inputComponent type="number" min="0" propertyPath="data.data.value" itemId=skill.data.id isEditable=../isEditable contextOverride=../this }}
                    </td>
                    <td class="skill-column-requirements">
                        {{data.requiredSuccessses}} / {{data.requiredFailures}}
                    </td>
                    <td class="skill-column-successes">
                        {{> inputComponent type="number" min="0" propertyPath="data.data.successes" itemId=skill.data.id isEditable=../isEditable contextOverride=../this }}
                    </td>
                    <td class="skill-column-failures">
                        {{> inputComponent type="number" min="0" propertyPath="data.data.failures" itemId=skill.data.id isEditable=../isEditable contextOverride=../this }}
                    </td>
                    {{#if ../isEditable}}
                        <td class="skill-column-delete">
                            {{> buttonDelete itemId=skill.data.id promptConfirm=true promptLocalizableTitle=(ifThenElse ../isLearningSkillsTable "ambersteel.dialog.titleConfirmDeletionLearningSkillQuery" "ambersteel.dialog.titleConfirmDeletiongSkillQuery") }}
                        </td>
                    {{/if}}
                </tr>
                <tr>
                    <td style="display: table-cell;" colspan="100">
                        <div class="{{#if data.isExpanded}}{{else}}hidden{{/if}}">
                            {{> "systems/ambersteel/templates/item/skill-ability/skill-ability-table.hbs" 
                                isEditable=../isEditable
                                isSendable=../isSendable
                                skillItemId=skill.data.id
                                itemId=skill.data.id
                                abilities=data.abilities
                                CONFIG=../CONFIG
                            }}
                        </div>
                        {{> buttonToggleSkillAbilityList itemId=skill.data.id isToggled=data.isExpanded }}
                    </td>
                </tr>
            {{/each}}
            {{#if isEditable}}
                <tr>
                    <td style="display: table-cell;" colspan="100">
                        <div class="flex">
                            <span class="flex-grow"></span>
                            <span class="width-sm">
                                {{> buttonAdd itemType="skill" withDialog="true" creationData=(concat "[value:"(ifThenElse isLearningSkillsTable "0" "1") "]" ) }}
                            </span>
                        </div>
                    </td>
                </tr>
            {{/if}}
        </tbody>
    </table>
</div>