{{!-- Requires parameters: 
isEditable: {Boolean}
isSendable: {Boolean}
isLearningSkillsTable: {Boolean}
skills: {[Item]} = {
    id: {String}
    name: {String}
    img: {String}
    data: {Object} = {
        data: {Object} = {
            value: {Number}
            successes: {Number}
            failures: {Number}
            requiredSuccessses: {Number}
            requiredFailures: {Number}
            relatedAttribute: {String}
            abilities: {[Object]} -> see item/skill-ability/skill-ability-table.hbs
            localizableName: {String}
            isCustom: {Boolean}
        }
    }
}
actor: {AmbersteelActor}
--}}
<div>
    <table class="skill-table">
        <tbody>
            <tr class="fancy-font header-row">
                {{#if isEditable}}
                    <th class="skill-column-roll"></th>
                {{/if}}
                <th class="skill-column-roll"></th>
                <th class="skill-column-roll"></th>
                <th class="skill-column-name">
                    {{#if isLearningSkillsTable}}
                        {{localize "ambersteel.labels.learningSkill"}}
                    {{else}}
                        {{localize "ambersteel.labels.knownSkill"}}
                    {{/if}}
                </th>
                <th class="skill-column-attribute">
                    {{localize "ambersteel.labels.attributeAbbreviation"}}
                </th>
                <th class="skill-column-level">
                    {{localize "ambersteel.labels.level"}}
                </th>
                <th class="skill-column-requirements">
                    {{localize "ambersteel.labels.requiredSuccessFailureAbbreviation"}}
                </th>
                <th class="skill-column-successes">
                    {{localize "ambersteel.labels.successAbbreviation"}}
                </th>
                <th class="skill-column-failures">
                    {{localize "ambersteel.labels.failureAbbreviation"}}
                </th>
                {{#if isEditable}}
                    <th class="skill-column-delete"></th>
                {{/if}}
            </tr>
            {{#each skills as |skill key|}}
                <tr class="item skill-item" data-item-id="{{skill.data.id}}">
                    {{#if ../isEditable}}
                        <td class="skill-column-roll">
                            {{> buttonRoll
                                type="dice-pool"
                                itemId=skill.data.id
                                chatTitle=skill.name
                                callback="advanceSkillBasedOnRollResult"
                                callbackData=skill.data.id
                            }}
                        </td>
                    {{/if}}
                    <td>
                        {{> buttonSendToChat itemId=skill.data.id }}
                    </td>
                    <td>
                        {{> buttonOpenSheet isEditable=../isEditable target=skill.name }}
                    </td>
                    <td class="fancy-font flex skill-column-name">
                        {{> inputTextField isEditable=../isEditable propertyOwner=skill propertyPath="name" placeholder="ambersteel.labels.name" }}
                    </td>
                    <td class="skill-column-attribute">
                        {{> inputDropDown isEditable=../isEditable propertyOwner=skill propertyPath="data.data.relatedAttribute" options=(../game.ambersteel.getAttributeOptions) }}
                    </td>
                    <td class="skill-column-level">
                        {{> inputNumberSpinner isEditable=../isEditable propertyOwner=skill propertyPath="data.data.value" min=0 }}
                    </td>
                    <td class="skill-column-requirements">
                        {{data.requiredSuccessses}} / {{data.requiredFailures}}
                    </td>
                    <td class="skill-column-successes">
                        {{> inputNumberSpinner isEditable=../isEditable propertyOwner=skill propertyPath="data.data.successes" min=0 }}
                    </td>
                    <td class="skill-column-failures">
                        {{> inputNumberSpinner isEditable=../isEditable propertyOwner=skill propertyPath="data.data.failures" min=0 }}
                    </td>
                    {{#if ../isEditable}}
                        <td class="skill-column-delete">
                            {{> buttonDelete isEditable=../isEditable target=skill withDialog=true }}
                        </td>
                    {{/if}}
                </tr>
                <tr>
                    <td style="display: table-cell;" colspan="100">
                        {{> "systems/ambersteel/templates/item/skill-ability/skill-ability-table.hbs" 
                            isEditable=../isEditable 
                            isSendable=../isSendable 
                            CONFIG=../CONFIG 
                            item=skill
                            visGroupId=(generateId)
                        }}
                    </td>
                </tr>
            {{/each}}
            {{#if isEditable}}
                <tr>
                    <td style="display: table-cell;" colspan="100">
                        <div class="flex">
                            <span class="flex-grow"></span>
                            <span class="width-sm">
                                {{> buttonAdd isEditable=isEditable target=actor creationType="skill" withDialog=true creationData=(concat "[value:"(ifThenElse isLearningSkillsTable "0" "1") "]" ) }}
                            </span>
                        </div>
                    </td>
                </tr>
            {{/if}}
        </tbody>
    </table>
</div>