{{!-- Parameters: 
viewModel: {SkillTableViewModel}
cssClass: {undefined | String}
--}}
<div class="{{cssClass}}">
    <table class="skill-table">
        <tbody>
            <tr class="header-row{{#if viewModel.showFancyFont}} fancy-font{{/if}}">
                <th class="skill-column-roll"></th>
                <th class="skill-column-roll"></th>
                <th class="skill-column-roll"></th>
                <th class="skill-column-name">
                    {{#if viewModel.isLearningSkillsTable}}
                        {{localize "ambersteel.labels.learningSkill"}}
                    {{else}}
                        {{localize "ambersteel.labels.knownSkill"}}
                    {{/if}}
                </th>
                <th class="skill-column-attribute">
                    {{localize "ambersteel.labels.attributeAbbreviation"}}
                </th>
                <th class="skill-column-level">
                    {{localize "ambersteel.labels.level"}}
                </th>
                <th class="skill-column-requirements">
                    {{localize "ambersteel.labels.requiredSuccessFailureAbbreviation"}}
                </th>
                <th class="skill-column-successes">
                    {{localize "ambersteel.labels.successAbbreviation"}}
                </th>
                <th class="skill-column-failures">
                    {{localize "ambersteel.labels.failureAbbreviation"}}
                </th>
                <th class="skill-column-delete"></th>
            </tr>
            {{#each viewModel.skillsViewModels as |vm key|}}
                <tr class="item skill-item" data-item-id="{{vm.skill.data.id}}">
                    <td class="skill-column-roll">
                        {{> buttonRoll viewModel=vm.vmBtnRoll }}
                    </td>
                    <td>
                        {{> buttonSendToChat viewModel=vm.vmBtnSendToChat }}
                    </td>
                    <td>
                        {{> buttonOpenSheet viewModel=vm.vmBtnOpenSheet }}
                    </td>
                    <td class="flex skill-column-name{{#if ../viewModel.showFancyFont}} fancy-font{{/if}}">
                        {{> inputImage viewModel=vm.vmImg cssClass="custom-icon-sm" }}
                        {{> inputTextField viewModel=vm.vmTfName }}
                    </td>
                    <td class="skill-column-attribute">
                        {{> inputDropDown viewModel=vm.vmDdRelatedAttribute }}
                    </td>
                    <td class="skill-column-level">
                        {{> inputNumberSpinner viewModel=vm.vmNsLevel }}
                    </td>
                    <td class="skill-column-requirements">
                        {{vm.requiredSuccessses}} / {{vm.requiredFailures}}
                    </td>
                    <td class="skill-column-successes">
                        {{> inputNumberSpinner viewModel=vm.vmNsSuccesses }}
                    </td>
                    <td class="skill-column-failures">
                        {{> inputNumberSpinner viewModel=vm.vmNsFailures }}
                    </td>
                    <td class="skill-column-delete">
                        {{> buttonDelete viewModel=vm.vmBtnDelete }}
                    </td>
                </tr>
                <tr>
                    <td style="display: table-cell;" colspan="100">
                        {{> "systems/ambersteel/templates/item/skill-ability/skill-ability-table.hbs" viewModel=vm.vmSkillAbilityTable }}
                    </td>
                </tr>
            {{/each}}
            <tr>
                <td style="display: table-cell;" colspan="100">
                    <div class="flex flex-right">
                        {{> buttonAdd viewModel=viewModel.vmBtnAddSkill }}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>