{{!-- Requires parameters: 
isEditable: {Boolean},
isLearningSkillsTable: {Boolean},
skills: {[Object]} where Object = { 
    id: {String},
    name: {String},
    value: {Number},
    successes: {Number},
    failures: {Number},
    requiredSuccessses: {Number},
    requiredFailures: {Number},
    relatedAttribute: {String},
}
--}}
<div>
    <table class="skill-table">
        <tbody>
            <tr class="fancy-font">
                {{#if isEditable}}
                    <th class="skill-column-roll"></th>
                {{/if}}
                <th class="skill-column-name">
                    {{#if isLearningSkillsTable}}
                        {{localize "ambersteel.labels.learningSkill"}}
                    {{else}}
                        {{localize "ambersteel.labels.knownSkill"}}
                    {{/if}}
                </th>
                <th class="skill-column-attribute">
                    {{localize "ambersteel.labels.attributeAbbreviation"}}
                </th>
                <th class="skill-column-level">
                    {{localize "ambersteel.labels.level"}}
                </th>
                <th class="skill-column-requirements">
                    {{localize "ambersteel.labels.requiredSuccessFailureAbbreviation"}}
                </th>
                <th class="skill-column-successes">
                    {{localize "ambersteel.labels.successAbbreviation"}}
                </th>
                <th class="skill-column-failures">
                    {{localize "ambersteel.labels.failureAbbreviation"}}
                </th>
                {{#if isEditable}}
                    <th class="skill-column-delete"></th>
                {{/if}}
            </tr>
            {{#each skills as | skill |}}
            <tr class="item skill-item" data-item-id="{{skill.id}}">
                {{#if ../isEditable}}
                    <td class="skill-column-roll">
                        <a class="ambersteel-skill-roll roll-button pad-sm button" data-action-value="{{skill.value}}" data-action-name="{{skill.name}}" title="{{localize ambersteel.labels.roll}}">
                            <i class="fas fa-dice-three"></i>
                        </a>
                    </td>
                {{/if}}
                <td class="fancy-font flex skill-column-name">
                    <input class="skill-name ambersteel-item-edit" name="skill.name" type="text" value="{{localize skill.name}}" data-field="name" />
                </td>
                <td class="skill-column-attribute">
                    <select class="ambersteel-item-edit" name="skill.relatedAttribute" data-field="relatedAttribute">
                        {{#select skill.relatedAttribute}}
                        {{#each ../config.character.attributes as | att |}}
                        <option value="{{att.name}}">{{localize att.abbrevString}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td class="skill-column-level">
                    {{#if ../isEditable}}
                        {{#> numberSpinner}}
                        <input class="skill-value ambersteel-item-edit spinner" name="skill.value" type="number" data-dtype="Number" min="0" step="1" value="{{skill.value}}" data-field="value" />
                        {{/numberSpinner}}
                    {{else}}
                        {{skill.value}}
                    {{/if}}
                </td>
                <td class="skill-column-requirements">
                    {{skill.requiredSuccessses}} / {{skill.requiredFailures}}
                </td>
                <td class="skill-column-successes">
                    {{#if ../isEditable}}
                        {{#> numberSpinner}}
                        <input class="skill-successes ambersteel-item-edit" name="skill.successes" type="number" data-dtype="Number" min="0" step="1" value="{{skill.successes}}" data-field="successes" />
                        {{/numberSpinner}}
                    {{else}}
                        {{skill.successes}}
                    {{/if}}
                </td>
                <td class="skill-column-failures">
                    {{#if ../isEditable}}
                        {{#> numberSpinner}}
                        <input class="skill-failures ambersteel-item-edit" name="skill.failures" type="number" data-dtype="Number" min="0" step="1" value="{{skill.failures}}" data-field="failures" />
                        {{/numberSpinner}}
                    {{else}}
                        {{skill.failures}}
                    {{/if}}
                </td>
                {{#if ../isEditable}}
                    <td class="skill-column-delete">
                        <a class="ambersteel-item-delete pad-sm button" data-item-id="{{skill.id}}" title="{{localize ambersteel.labels.deleteSkill}}">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                {{/if}}
            </tr>
            {{/each}}
            {{#if isEditable}}
                <tr>
                    <td style="display: table-cell;" colspan="100">
                        <div class="flex">
                            <span class="flex-grow"></span>
                            <a class="ambersteel-item-create pad-sm" data-type="skill" data-value="{{#if isLearningSkillsTable}}0{{else}}1{{/if}}" data-related-attribute="agility" title="{{localize ambersteel.labels.addSkill}}">
                                <i class="fas fa-plus"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {{/if}}
        </tbody>
    </table>
</div>