{{!-- Requires parameters: 
isEditable: Boolean,
isSendable: {Boolean},
ownerId: {String},
ownerType: {String} = "actor"|"item",
localizableAttributeGroupName: {String},
attributeGroupName: {String},
attributes: {[Object]} where Object = {
    name: {String},
    localizableName: {String},
    localizableAbbreviation: {String},
    value: {Number},
    successes: {Number},
    failures: {Number},
    requiredSuccessses: {Number},
    requiredFailures: {Number}
}
--}}
<div>
    <table class="attribute-table">
        <tbody>
            <tr class="fancy-font">
                {{#if isEditable}}
                    <th class="attribute-column-roll"></th>
                {{/if}}
                <th class="attribute-column-name">
                    {{localize localizableAttributeGroupName}}
                </th>
                <th class="attribute-column-abbreviation"></th>
                <th class="attribute-column-level">
                    {{localize "ambersteel.labels.level"}}
                </th>
                <th class="attribute-column-requirements">
                    {{localize "ambersteel.labels.requiredSuccessFailureAbbreviation"}}
                </th>
                <th class="attribute-column-successes">
                    {{localize "ambersteel.labels.successAbbreviation"}}
                </th>
                <th class="attribute-column-failures">
                    {{localize "ambersteel.labels.failureAbbreviation"}}
                </th>
            </tr>
            {{#each attributes as | att |}}
            <tr class="item attribute-item" data-att-group-name="{{../attributeGroupName}}" data-att-name="{{att.name}}">
                {{#if ../isEditable}}
                    <td class="attribute-column-roll">
                        {{> buttonRoll
                            type="dice-pool"
                            ownerId=../ownerId
                            ownerType=../ownerType
                            propertyPath=(concat "data.data.attributes." ../attributeGroupName "." att.name ".value")
                            chatTitle=(localize att.localizableName)
                            callback="advanceAttributeBasedOnRollResult"
                            callbackData=att.name
                        }}
                    </td>
                {{/if}}
                <td class="attribute-column-name flex fancy-font">
                    {{localize att.localizableName}}
                </td>
                <td class="attribute-column-abbreviation fancy-font">
                    [{{localize att.localizableAbbreviation}}]
                </td>
                <td class="attribute-column-level">
                    {{#if ../isEditable}}
                        {{#> numberSpinner}}
                        <input class="attribute-value ambersteel-actor-edit" name="att.value" type="number" data-dtype="Number" min="0" step="1" value="{{att.value}}" 
                        data-field="data.attributes.{{../attributeGroupName}}.{{att.name}}.value" />
                        {{/numberSpinner}}
                    {{else}}
                        {{att.value}}
                    {{/if}}
                </td>
                <td class="attribute-column-requirements">
                    {{att.requiredSuccessses}} / {{att.requiredFailures}}
                </td>
                <td class="attribute-column-successes">
                    {{#if ../isEditable}}
                        {{#> numberSpinner}}
                        <input class="attribute-successes ambersteel-actor-edit" name="att.successes" type="number" data-dtype="Number" min="0" step="1" value="{{att.successes}}" 
                        data-field="data.attributes.{{../attributeGroupName}}.{{att.name}}.successes" />
                        {{/numberSpinner}}
                    {{else}}
                        {{att.successes}}
                    {{/if}}
                </td>
                <td class="attribute-column-failures">
                    {{#if ../isEditable}}
                        {{#> numberSpinner}}
                        <input class="attribute-failures ambersteel-actor-edit" name="att.failures" type="number" data-dtype="Number" min="0" step="1" value="{{att.failures}}" 
                        data-field="data.attributes.{{../attributeGroupName}}.{{att.name}}.failures" />
                        {{/numberSpinner}}
                    {{else}}
                        {{att.failures}}
                    {{/if}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>