{{!-- Requires parameters: 
isEditable: {Boolean}
isSendable: {Boolean}
isOwner: {Boolean}
isGM: {Boolean}
actor: {Object}
attributeGroup: {Object}
--}}
<div>
    <table class="attribute-table">
        <tbody>
            <tr class="fancy-font header-row">
                {{#if isEditable}}
                    <th class="attribute-column-roll"></th>
                {{/if}}
                <th class="attribute-column-name">
                    {{localize attributeGroup.localizableName}}
                </th>
                <th class="attribute-column-abbreviation"></th>
                <th class="attribute-column-level">
                    {{localize "ambersteel.labels.level"}}
                </th>
                <th class="attribute-column-requirements">
                    {{localize "ambersteel.labels.requiredSuccessFailureAbbreviation"}}
                </th>
                <th class="attribute-column-successes">
                    {{localize "ambersteel.labels.successAbbreviation"}}
                </th>
                <th class="attribute-column-failures">
                    {{localize "ambersteel.labels.failureAbbreviation"}}
                </th>
            </tr>
            {{#each attributeGroup.attributes as |att index|}}
            <tr class="item attribute-item" data-att-group-name="{{../attributeGroup.name}}" data-att-name="{{att.name}}">
                {{#if ../isEditable}}
                    <td class="attribute-column-roll">
                        {{> buttonRoll
                            type="dice-pool"
                            propertyPath=(concat "data.data.attributes." ../attributeGroup.name "." att.name ".value")
                            chatTitle=(localize att.localizableName)
                            callback="advanceAttributeBasedOnRollResult"
                            callbackData=att.name
                            contextOverride=../actor
                        }}
                    </td>
                {{/if}}
                <td class="attribute-column-name flex fancy-font">
                    {{localize att.localizableName}}
                </td>
                <td class="attribute-column-abbreviation fancy-font">
                    [{{localize att.localizableAbbreviation}}]
                </td>
                <td class="attribute-column-level">
                    {{> inputNumberSpinner isEditable=../isEditable propertyOwner=../actor propertyPath=(concat "data.data.attributes." ../attributeGroup.name "." att.name ".value") min=0 }}
                </td>
                <td class="attribute-column-requirements">
                    {{att.requiredSuccessses}} / {{att.requiredFailures}}
                </td>
                <td class="attribute-column-successes">
                    {{> inputNumberSpinner isEditable=../isEditable propertyOwner=../actor propertyPath=(concat "data.data.attributes." ../attributeGroup.name "." att.name ".successes") min=0 }}
                </td>
                <td class="attribute-column-failures">
                    {{> inputNumberSpinner isEditable=../isEditable propertyOwner=../actor propertyPath=(concat "data.data.attributes." ../attributeGroup.name "." att.name ".failures") min=0 }}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>