{{!-- Requires parameters: 
viewModel: {AttributeTableViewModel}
--}}
<div>
    <table class="attribute-table">
        <tbody>
            <tr class="fancy-font header-row">
                {{#if viewModel.isEditable}}
                    <th class="attribute-column-roll"></th>
                {{/if}}
                <th class="attribute-column-name">
                    {{localize viewModel.localizableAttributeGroupName}}
                </th>
                <th class="attribute-column-abbreviation"></th>
                <th class="attribute-column-level">
                    {{localize "ambersteel.labels.level"}}
                </th>
                <th class="attribute-column-requirements">
                    {{localize "ambersteel.labels.requiredSuccessFailureAbbreviation"}}
                </th>
                <th class="attribute-column-successes">
                    {{localize "ambersteel.labels.successAbbreviation"}}
                </th>
                <th class="attribute-column-failures">
                    {{localize "ambersteel.labels.failureAbbreviation"}}
                </th>
            </tr>
            {{#each viewModel.attributes as |att index|}}
            <tr class="item attribute-item" data-att-group-name="{{../viewModel.attributeGroupName}}" data-att-name="{{att.name}}">
                {{#if ../viewModel.isEditable}}
                    <td class="attribute-column-roll">
                        {{> buttonRoll 
                            target=../viewModel.actor 
                            propertyPath=(concat "data.data.attributes." ../viewModel.attributeGroupName "." att.name ".value") 
                            chatTitle=(localize att.localizableName) 
                            rollType="dice-pool" 
                            callback="advanceAttributeBasedOnRollResult" 
                            callbackData=att.name 
                            actor=../viewModel.actor 
                        }}
                    </td>
                {{/if}}
                <td class="attribute-column-name flex fancy-font">
                    {{localize att.localizableName}}
                </td>
                <td class="attribute-column-abbreviation fancy-font">
                    [{{localize att.localizableAbbreviation}}]
                </td>
                <td class="attribute-column-level">
                    {{> inputNumberSpinner isEditable=../viewModel.isEditable propertyOwner=../viewModel.actor propertyPath=(concat "data.data.attributes." ../viewModel.attributeGroupName "." att.name ".value") min=0 contextTemplate="component-attribute-table" }}
                </td>
                <td class="attribute-column-requirements">
                    {{att.requiredSuccessses}} / {{att.requiredFailures}}
                </td>
                <td class="attribute-column-successes">
                    {{> inputNumberSpinner isEditable=../viewModel.isEditable propertyOwner=../viewModel.actor propertyPath=(concat "data.data.attributes." ../viewModel.attributeGroupName "." att.name ".successes") min=0 contextTemplate="component-attribute-table" }}
                </td>
                <td class="attribute-column-failures">
                    {{> inputNumberSpinner isEditable=../viewModel.isEditable propertyOwner=../viewModel.actor propertyPath=(concat "data.data.attributes." ../viewModel.attributeGroupName "." att.name ".failures") min=0 contextTemplate="component-attribute-table" }}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>