{{!-- Requires context:
isEditable: {Boolean}
isSendable: {Boolean}
item: {Item} = {
  id: {String}
  name: {String}
  img: {String}
  data: {ItemData} = {
    data: {Object} = {
      description: {String}
      cost: {Object} = {
        miFP: {Number}
        maFP: {Number}
        AFP: {Number}
      }
    }
  }
}
--}}
<form class="flex flex-column {{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="flex flex-column flex-grow">
      <div class="flex flex-row">
        <img class="header-image" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1 class="header-name">
          {{> inputTextField vm=(createInputTextFieldViewModel isEditable isSendable item "name" "name") }}
        </h1>
        {{#if isSendable}}
          <div class="flex flex-center">
            {{> buttonSendToChat}}
          </div>
        {{/if}}
      </div>
    </div>
  </header>
  <div class="flex flex-column flex-grow">
    {{!-- Row 1 --}}
    <div class="sheet-block grid grid-3col margin-b-md">
      {{> inputLabel text="ambersteel.fateSystem.miFP"}}
      <div class="flex flex-middle">{{localize "ambersteel.fateSystem.miFPAbbreviation"}}</div>
      {{> inputNumberSpinner vm=(createInputNumberSpinnerViewModel isEditable isSendable item "data.data.cost.miFP" 1 0 undefined) }}
    </div>
    {{!-- Row 2 --}}
    <div class="sheet-block grid grid-3col margin-b-md">
      {{> inputLabel text="ambersteel.fateSystem.maFP"}}
      <div class="flex flex-middle">{{localize "ambersteel.fateSystem.maFPAbbreviation"}}</div>
      {{> inputNumberSpinner vm=(createInputNumberSpinnerViewModel isEditable isSendable item "data.data.cost.maFP" 1 0 undefined) }}
    </div>
    {{!-- Row 3 --}}
    <div class="sheet-block grid grid-3col margin-b-md">
      {{> inputLabel text="ambersteel.fateSystem.AFP"}}
      <div class="flex flex-middle">{{localize "ambersteel.fateSystem.AFPAbbreviation"}}</div>
      {{> inputNumberSpinner vm=(createInputNumberSpinnerViewModel isEditable isSendable item "data.data.cost.AFP" 1 0 undefined) }}
    </div>
    <div class="fate-card-item-description flex-grow">
      {{> inputTextarea vm=(createInputTextareaViewModel isEditable isSendable item "data.data.description" (localize "ambersteel.labels.description") true false) cssClass="fill" }}
    </div>
  </div>
</form>