{{!-- Requires context:
viewModel: {FateCardViewModel}
--}}
<form class="flex flex-column {{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="flex flex-column flex-grow">
      <div class="flex flex-row">
        <img class="header-image" src="{{viewModel.item.img}}" data-edit="img" title="{{viewModel.item.name}}" height="64" width="64" />
        <h1 class="header-name">
          {{> inputTextField isEditable=viewModel.isEditable propertyOwner=viewModel.item propertyPath="name" placeholder="ambersteel.labels.name" }}
        </h1>
        {{#if viewModel.isSendable}}
          <div class="flex flex-center">
            {{> buttonSendToChat target=viewModel.item }}
          </div>
        {{/if}}
      </div>
    </div>
  </header>
  <div class="flex flex-column flex-grow">
    {{!-- Row 1 --}}
    <div class="sheet-block grid grid-3col margin-b-md">
      {{> inputLabel text="ambersteel.fateSystem.miFP"}}
      <div class="flex flex-middle">{{localize "ambersteel.fateSystem.miFPAbbreviation"}}</div>
      {{> inputNumberSpinner isEditable=viewModel.isEditable propertyOwner=viewModel.item propertyPath="data.data.cost.miFP" min=0 }}
    </div>
    {{!-- Row 2 --}}
    <div class="sheet-block grid grid-3col margin-b-md">
      {{> inputLabel text="ambersteel.fateSystem.maFP"}}
      <div class="flex flex-middle">{{localize "ambersteel.fateSystem.maFPAbbreviation"}}</div>
      {{> inputNumberSpinner isEditable=viewModel.isEditable propertyOwner=viewModel.item propertyPath="data.data.cost.maFP" min=0 }}
    </div>
    {{!-- Row 3 --}}
    <div class="sheet-block grid grid-3col margin-b-md">
      {{> inputLabel text="ambersteel.fateSystem.AFP"}}
      <div class="flex flex-middle">{{localize "ambersteel.fateSystem.AFPAbbreviation"}}</div>
      {{> inputNumberSpinner isEditable=viewModel.isEditable propertyOwner=viewModel.item propertyPath="data.data.cost.AFP" min=0 }}
    </div>
    <div class="fate-card-item-description flex-grow">
      {{> inputTextarea isEditable=viewModel.isEditable propertyOwner=viewModel.item propertyPath="data.data.description" placeholder="ambersteel.labels.description" allowResize=true cssClass="fill" }}
    </div>
  </div>
</form>