{{!-- Parameters:
viewModel: {FateCardViewModel}
cssClass: {undefined | String}
--}}
<form class="flex flex-column{{#if cssClass}} {{cssClass}}{{/if}}" autocomplete="off">
  <header class="sheet-header">
    <div class="flex flex-column flex-grow">
      <div class="flex flex-row">
        {{> inputImage viewModel=viewModel.vmImg cssClass="custom-icon-md" }}
        <h1 class="header-name">
          {{> inputTextField viewModel=viewModel.vmTfName }}
        </h1>
        <div class="flex flex-center">
          {{> buttonSendToChat viewModel=viewModel.vmBtnSendToChat }}
        </div>
      </div>
    </div>
  </header>
  <div class="flex flex-column flex-grow">
    {{!-- Row 1 --}}
    <div class="sheet-block grid-2col grid-gap-md margin-b-md">
      <div class="flex flex-row flex-middle flex-right">
        {{> inputLabel text="ambersteel.fateSystem.miFP"}}
        <div class="flex flex-middle width-md">({{localize "ambersteel.fateSystem.miFPAbbreviation"}})</div>
      </div>
      {{> inputNumberSpinner viewModel=viewModel.vmNsMifp }}
    </div>
    {{!-- Row 2 --}}
    <div class="sheet-block grid-2col grid-gap-md margin-b-md">
      <div class="flex flex-row flex-middle flex-right">
        {{> inputLabel text="ambersteel.fateSystem.maFP"}}
        <div class="flex flex-middle width-md">({{localize "ambersteel.fateSystem.maFPAbbreviation"}})</div>
      </div>
      {{> inputNumberSpinner viewModel=viewModel.vmNsMafp }}
    </div>
    {{!-- Row 3 --}}
    <div class="sheet-block grid-2col grid-gap-md margin-b-md">
      <div class="flex flex-row flex-middle flex-right">
        {{> inputLabel text="ambersteel.fateSystem.AFP"}}
        <div class="flex flex-middle width-md">({{localize "ambersteel.fateSystem.AFPAbbreviation"}})</div>
      </div>
      {{> inputNumberSpinner viewModel=viewModel.vmNsAfp }}
    </div>
    {{!-- Row 4 --}}
    {{!-- Description --}}
    <div class="sheet-block flex flex-column flex-grow">
      <h3 class="fancy-font">{{localize "ambersteel.labels.description"}}</h3>
      {{> inputRichText viewModel=viewModel.vmRtDescription }}
    </div>
  </div>
</form>