{{!-- Requires context:
isEditable: {Boolean}
isSendable: {Boolean}
isGM: {Boolean}
actor: {Actor} = {
  data: {Object} = {
    data: {Object} {
      person: {Object} -> see parts/actor-personals.hbs
      attributeGroups: {Object} -> see parts/actor-attributes.hbs
      learningSkills: {[Object]} -> see components/component-skill-table.hbs
      skills: {[Object]} -> see components/component-skill-table.hbs
      beliefSystem: {Object} -> see parts/actor-beliefs.hbs
      fateSystem: {Object} -> see parts/actor-fate.hbs
      biography: {Object} -> see parts/actor-biography.hbs
    }
  }
}
--}}
<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <div class="header-fields">
      <h1 class="header-name fancy-font">
        {{> inputTextField vm=(createInputTextFieldViewModel isEditable isSendable actor "name" "ambersteel.labels.name") }}
      </h1>
      {{> "systems/ambersteel/templates/actor/parts/actor-personals.hbs" isEditable=isEditable isSendable=isSendable actor=actor }}
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs flex flex-justify" id="nav-sheet-tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item fancy-font flex flex-center flex-grow" data-tab="attributes"><div>{{localize "ambersteel.labels.tabAttributes"}}</div></a>
    <a class="item fancy-font flex flex-center flex-grow" data-tab="skills"><div>{{localize "ambersteel.labels.tabSkills"}}</div></a>
    {{#if (eq actor.type "pc")}}
      <a class="item fancy-font flex flex-center flex-grow" data-tab="beliefs-fate"><div>{{localize "ambersteel.labels.tabBeliefsFate"}}</div></a>
    {{/if}}
    <a class="item fancy-font flex flex-center flex-grow" data-tab="health"><div>{{localize "ambersteel.labels.tabHealth"}}</div></a>
    <a class="item fancy-font flex flex-center flex-grow" data-tab="assets"><div>{{localize "ambersteel.labels.tabAssets"}}</div></a>
    <a class="item fancy-font flex flex-center flex-grow" data-tab="biography"><div>{{localize "ambersteel.labels.tabBiography"}}</div></a>
    {{#if isGM}}
      <a class="item fancy-font flex flex-center flex-grow" data-tab="gm-notes"><div>{{localize "ambersteel.labels.tabGmNotes"}}</div></a>
    {{/if}}
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{> "systems/ambersteel/templates/actor/parts/actor-attributes.hbs" 
        isEditable=isEditable 
        isSendable=isSendable
        attributeGroups=actor.data.attributeGroups 
      }}
    </div>

    {{!-- Skills Tab --}}
    <div class="tab skills" data-group="primary" data-tab="skills">
      {{> "systems/ambersteel/templates/actor/parts/actor-skills.hbs" 
        isEditable=isEditable 
        isSendable=isSendable
        learningSkills=actor.data.data.learningSkills  
        skills=actor.data.data.skills 
      }}
    </div>

    {{#if (eq actor.type "pc")}}
    {{!-- Beliefs&Fate Tab --}}
      <div class="tab beliefs-fate" data-group="primary" data-tab="beliefs-fate">
        {{> "systems/ambersteel/templates/actor/parts/actor-beliefs-fate.hbs" 
          isEditable=isEditable 
          isSendable=isSendable
          beliefSystem=actor.data.beliefSystem 
          fateSystem=actor.data.fateSystem 
        }}
      </div>
    {{/if}}

    {{!-- Health Tab --}}
    <div class="tab health" data-group="primary" data-tab="health">
      {{> "systems/ambersteel/templates/actor/parts/actor-health.hbs" 
        isEditable=isEditable 
        isSendable=isSendable
      }}
    </div>

    {{!-- Assets Tab --}}
    <div class="tab assets" data-group="primary" data-tab="assets">
      {{> "systems/ambersteel/templates/actor/parts/actor-assets.hbs" 
        isEditable=isEditable 
        isSendable=isSendable
      }}
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="biography">
      {{> "systems/ambersteel/templates/actor/parts/actor-biography.hbs" 
        isEditable=isEditable 
        isSendable=isSendable
      }}
    </div>

    {{!-- GM Notes Tab --}}
    {{#if isGM}}
      <div class="tab gm-notes" data-group="primary" data-tab="gm-notes">
        {{> "systems/ambersteel/templates/gm-notes.hbs" 
          isEditable=isEditable 
          isSendable=false
        }}
      </div>
    {{/if}}

  </section>
</form>