{{!-- Requires context:
isEditable: {Boolean},
isSendable: {Boolean},
isGM: {Boolean},
data: {Object} = {
  data: {Object} {
    person: {Object} -> see parts/actor-personals.hbs,
    attributeGroups: {Object} -> see parts/actor-attributes.hbs,
    learningSkills: {[Object]} -> see components/component-skill-table.hbs,
    skills: {[Object]} -> see components/component-skill-table.hbs,
    beliefSystem: {Object} -> see parts/actor-beliefs.hbs,
    fateSystem: {Object} -> see parts/actor-fate.hbs,
    biography: {Object} -> see parts/actor-biography.hbs,
  }
}
--}}
<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <div class="header-fields">
      <h1 class="header-name fancy-font">
        <input class="header-name" name="name" type="text" value="{{actor.name}}" placeholder="Name" />
      </h1>
      {{> "systems/ambersteel/templates/actor/parts/actor-personals.hbs"}}
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item fancy-font" data-tab="attributes">{{localize "ambersteel.labels.tabAttributes"}}</a>
    <a class="item fancy-font" data-tab="skills">{{localize "ambersteel.labels.tabSkills"}}</a>
    <a class="item fancy-font" data-tab="magic">{{localize "ambersteel.labels.tabMagic"}}</a>
    {{#if (eq actor.type "pc")}}
      <a class="item fancy-font" data-tab="beliefs-fate">{{localize "ambersteel.labels.tabBeliefsFate"}}</a>
    {{/if}}
    <a class="item fancy-font" data-tab="health">{{localize "ambersteel.labels.tabHealth"}}</a>
    <a class="item fancy-font" data-tab="possessions">{{localize "ambersteel.labels.tabPossessions"}}</a>
    <a class="item fancy-font" data-tab="biography">{{localize "ambersteel.labels.tabBiography"}}</a>
    {{#if isGM}}
      <a class="item fancy-font" data-tab="gm-notes">{{localize "ambersteel.labels.tabGmNotes"}}</a>
    {{/if}}
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{> "systems/ambersteel/templates/actor/parts/actor-attributes.hbs" 
      isEditable=isEditable 
      attributeGroups=data.attributeGroups 
      }}
    </div>

    {{!-- Skills Tab --}}
    <div class="tab skills" data-group="primary" data-tab="skills">
      {{> "systems/ambersteel/templates/actor/parts/actor-skills.hbs" 
      isEditable=isEditable 
      learningSkills=data.data.learningSkills  
      skills=data.data.skills 
      }}
    </div>

    {{!-- Magic Tab --}}
    <div class="tab magic" data-group="primary" data-tab="magic">
      {{> "systems/ambersteel/templates/actor/parts/actor-magic.hbs" 
      isEditable=isEditable 
      }}
    </div>

    {{#if (eq actor.type "pc")}}
    {{!-- Beliefs&Fate Tab --}}
      <div class="tab beliefs-fate" data-group="primary" data-tab="beliefs-fate">
        {{> "systems/ambersteel/templates/actor/parts/actor-beliefs-fate.hbs" 
        isEditable=isEditable 
        beliefSystem=data.beliefSystem 
        fateSystem=data.fateSystem 
        }}
      </div>
    {{/if}}

    {{!-- Health Tab --}}
    <div class="tab health" data-group="primary" data-tab="health">
      {{> "systems/ambersteel/templates/actor/parts/actor-health.hbs" 
      isEditable=isEditable 
      }}
    </div>

    {{!-- Possessions Tab --}}
    <div class="tab possessions" data-group="primary" data-tab="possessions">
      {{> "systems/ambersteel/templates/actor/parts/actor-possessions.hbs" 
      isEditable=isEditable 
      }}
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="biography">
      {{> "systems/ambersteel/templates/actor/parts/actor-biography.hbs" 
      isEditable=isEditable 
      }}
    </div>

    {{!-- GM Notes Tab --}}
    {{#if isGM}}
      <div class="tab gm-notes" data-group="primary" data-tab="gm-notes">
        {{> "systems/ambersteel/templates/gm-notes.hbs" 
        isEditable=isEditable 
        }}
      </div>
    {{/if}}

  </section>
</form>