<section>
    <table class="attribute-table" data-att-group-name="{{attGroup.internalName}}">
        <tbody>
            <tr class="fancy-font">
                <th class="pad-sm">
                    {{localize attGroup.name}}
                </th>
                <th class="pad-sm">
                    {{localize "ambersteel.labels.level"}}
                </th>
                <th class="pad-sm">
                    {{localize "ambersteel.labels.requiredSuccessFailureAbbreviation"}}
                </th>
                <th class="pad-sm">
                    {{localize "ambersteel.labels.successAbbreviation"}}
                </th>
                <th class="pad-sm">
                    {{localize "ambersteel.labels.failureAbbreviation"}}
                </th>
            </tr>
            {{#each attGroup.attributes as | att |}}
            <tr class="item attribute-item" data-att-name="{{att.internalName}}">
                <td class="pad-sm fancy-font flex">
                    <span class="flex-grow">{{localize att.name}}</span>
                    <span>[{{localize att.abbreviation}}]</span>
                </td>
                <td class="pad-sm input-slim">
                    <input class="attribute-value ambersteel-attribute-edit" name="att.value" type="number" value="{{att.value}}" data-field="value" />
                </td>
                <td class="pad-sm">
                    {{att.requiredSuccessses}} / {{att.requiredFailures}}
                </td>
                <td class="pad-sm input-slim">
                    <input class="attribute-successes ambersteel-attribute-edit" name="att.successes" type="number" value="{{att.successes}}" data-field="successes" />
                </td>
                <td class="pad-sm input-slim">
                    <input class="attribute-failures ambersteel-attribute-edit" name="att.failures" type="number" value="{{att.failures}}" data-field="failures" />
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>