<section>
    <table class="attribute-table">
        <tbody>
            <tr class="fancy-font">
                <th class="pad-sm">
                    {{localize attGroup.name}}
                </th>
                <th class="pad-sm">
                    {{localize "ambersteel.labels.level"}}
                </th>
                <th class="pad-sm">
                    {{localize "ambersteel.labels.requiredSuccessFailureAbbreviation"}}
                </th>
                <th class="pad-sm">
                    {{localize "ambersteel.labels.successAbbreviation"}}
                </th>
                <th class="pad-sm">
                    {{localize "ambersteel.labels.failureAbbreviation"}}
                </th>
            </tr>
            {{#each atts as |att|}}
            <tr>
                <td class="pad-sm fancy-font flex">
                    <span class="flex-grow">{{localize att.name}}</span>
                    <span>[{{localize att.abbreviation}}]</span>
                </td>
                <td class="pad-sm input-slim">
                    <input name="att.value" type="number" value="{{att.value}}" />
                </td>
                <td class="pad-sm">
                    {{att.requiredSuccessses}} / {{att.requiredFailures}}
                </td>
                <td class="pad-sm input-slim">
                    <input name="att.successes" type="number" value="{{att.successes}}" />
                </td>
                <td class="pad-sm input-slim">
                    <input name="att.failures" type="number" value="{{att.failures}}" />
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>