<section>
    <table class="skill-table">
        <tbody>
            <tr class="fancy-font">
                <th class="pad-sm">
                    {{localize name}}
                </th>
                <th class="pad-sm">
                    {{localize "ambersteel.labels.attributeAbbreviation"}}
                </th>
                <th class="pad-sm">
                    {{localize "ambersteel.labels.level"}}
                </th>
                <th class="pad-sm">
                    {{localize "ambersteel.labels.requiredSuccessFailureAbbreviation"}}
                </th>
                <th class="pad-sm">
                    {{localize "ambersteel.labels.successAbbreviation"}}
                </th>
                <th class="pad-sm">
                    {{localize "ambersteel.labels.failureAbbreviation"}}
                </th>
                <th class="pad-sm"></th>
            </tr>
            {{#each skills as |skill|}}
            <tr class="item skill-item" data-item-id="{{skill._id}}">
                <td class="pad-sm fancy-font flex">
                    <a class="ambersteel-item-roll pad-sm button" title="{{localize ambersteel.labels.roll}}">
                        <i class="fas fa-dice-three"></i>
                    </a>
                    <input class="skill-name ambersteel-item-edit" data-field="data.name" name="skill.data.name" type="text" value="{{localize skill.data.name}}" />
                </td>
                <td class="pad-sm input-slim">
                    <select>
                        {{#each CONFIG.ambersteel.character.attributes as | name abbrev |}}
                        <option data-attribute="{{name}}">{{localize abbrev}}</option>
                        {{/each}}
                    </select>
                    {{localize skill.attributeAbbreviation}}
                </td>
                <td class="pad-sm input-slim">
                    <input class="skill-value ambersteel-item-edit" name="skill.data.value" data-field="data.value" type="number" value="{{skill.data.value}}" />
                </td>
                <td class="pad-sm">
                    {{skill.requiredSuccessses}} / {{skill.requiredFailures}}
                </td>
                <td class="pad-sm input-slim">
                    <input class="skill-successes ambersteel-item-edit" name="skill.data.successes" data-field="data.successes" type="number" value="{{skill.data.successes}}" />
                </td>
                <td class="pad-sm input-slim">
                    <input class="skill-failures ambersteel-item-edit" name="skill.data.failures" data-field="data.failures" type="number" value="{{skill.data.failures}}" />
                </td>
                <td>
                    <a class="ambersteel-item-delete pad-sm" title="{{localize ambersteel.labels.deleteSkill}}">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
            {{/each}}
            <tr>
                <td style="display: table-cell;" colspan="7">
                    <div class="flex">
                        <span class="flex-grow"></span>
                        <a class="ambersteel-item-create pad-sm" data-type="skill" data-is-learning="{{isLearning}}" title="{{localize ambersteel.labels.addSkill}}">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>