{{!-- Required context:
viewModel: {ButtonTakeItemViewModel}
cssClass: {String | undefined}
fill: {Boolean | undefined}
--}}
<span class="component-button-take-item {{#if fill}}fill-button-light{{else}}square-button-light{{/if}} {{#if cssClass}}{{cssClass}}{{else}}font-size-default{{/if}}">
  <a class="custom-system-button pad-sm button flex flex-center" 
    title="{{localize ambersteel.labels.takeToPerson}}"
    id="{{viewModel.id}}"
  >
    <i class="ambersteel-icon ico-take-item"></i>
  </a>
</span>