{{!-- Required context:
viewModel: {ButtonSendToChatViewModel}
cssClass: {String | undefined}
fill: {Boolean | undefined}
--}}
<span class="component-button-send-to-chat {{#if fill}}fill-button-light{{else}}square-button-light{{/if}} {{#if (not viewModel.isEditable)}}disabled{{/if}} {{#if cssClass}}{{cssClass}}{{else}}font-size-default{{/if}}">
  <a class="custom-system-button pad-sm button flex flex-center" 
    title="{{localize ambersteel.labels.sendToChat}}"
    id="{{viewModel.id}}"
  >
    <i class="fas fa-comments"></i>
  </a>
</span>