{{!-- Parameters:
viewModel: {FateCardChatMessageViewModel}
cssClass: {undefined | String}
--}}
<section class="custom-system-chat-message fate-card{{#if cssClass}} {{cssClass}}{{/if}}"
  id="{{viewModel.id}}"
  data-view-model-id="{{viewModel.id}}"
  data-document-id="{{viewModel.document.id}}"
>
  {{!-- Header --}}
  <div class="flex flex-row">
    <div class="flex flex-center">
      <img class="inline-img header-image margin-r-sm" name="img" src="{{viewModel.document.img}}" title="{{viewModel.document.name}}" height="35" width="35" />
    </div>
    {{#> header2 showFancyFont=viewModel.showFancyFont cssClass="flex-grow"}}{{viewModel.document.name}}{{/header2}}
  </div>
  {{!-- Description --}}
  <div class="fill pad-md scrollable-height-md">
    {{> lazyRichText viewModel=viewModel.vmLazyDescription}}
  </div>
</section>