{{!-- Required context:
viewModel: {InputDropDownViewModel}
cssClass: {String | undefined}
readOnlyCssClass: {String | undefined}
--}}
{{#if viewModel.isEditable}}
  <select 
    class="custom-system-edit drop-down width-fill component-input-dropdown {{cssClass}}"
    data-property-path="{{viewModel.propertyPath}}"
    name="{{viewModel.id}}"
    id="{{viewModel.id}}"
    value="{{viewModel.value}}"
  >
  {{#select viewModel.propertyPath}}
    {{#each viewModel.options as |option index|}}
      <option value="{{option.value}}">{{option.localizedValue}}</option>
    {{/each}}
  {{/select}}
</select>
{{else}}
  {{!-- Display read-only value --}}
  <div 
    class="custom-system-read-only pad-sm fill component-input-dropdown {{readOnlyCssClass}}" 
    name="{{viewModel.id}}"
    id="{{viewModel.id}}"
  >
    {{viewModel.localizedValue}}
  </div>
{{/if}}
