{{!-- Requires context:
isEditable: {Boolean},
data: {Object} where Object = {
  name: {String},
  description: {String}
  id: {String},
  img: {String},
  name: {String}
},
--}}
<section class="fate-card" data-item-id="{{data._id}}">
  <div class="flex flex-row">
    <h3 class="flex-grow">
      <input name="" type="text" value="{{data.name}}" placeholder="{{ localize 'Name' }}" />
    </h3>
    <span>
      <img src="{{data.img}}" data-edit="img" title="{{data.name}}" height="26" width="26" />
    </span>
  </div>
  <div class="fate-card-description">
    {{#if isEditable}}
      <textarea class="resize-vertical" name="data.description">{{data.data.description}}</textarea>
    {{else}}
      <span class="multiline">{{data.data.description}}</span>
    {{/if}}
  </div>
  <div class="fate-card-footer flex flex-row">
    <div class="flex-grow"></div>
    <a class="ambersteel-item-delete pad-sm button" data-item-id="{{data._id}}" title="{{localize ambersteel.fateSystem.delete}}">
        <i class="fas fa-trash"></i>
    </a>
  </div>
</section>