{{!-- Requires context:
isEditable: {Boolean}
isSendable: {Boolean}
--}}
<section class="fate-card" data-item-id="{{data._id}}">
  <div class="flex flex-row fate-card-header">
    <h3 class="flex-grow fancy-font multiline">
      {{data.name}}
    </h3>
    <div class="flex flex-column">
      <span>
        <img name="img" src="{{img}}" title="{{data.name}}" height="26" width="26" />
      </span>
      {{#if isSendable}}
        <span class="flex flex-right">
          {{> buttonSendToChat }}
        </span>
      {{/if}}
    </div>
  </div>
  <div class="fate-card-description">
    {{#if isEditable}}
      <textarea name="data.description" spellcheck="false">{{data.data.description}}</textarea>
    {{else}}
      <span class="multiline">{{data.data.description}}</span>
    {{/if}}
  </div>
  <div class="flex flex-row fate-card-footer">
    {{#if isEditable}}
      <span class="flex-grow"></span>
      {{> buttonDelete }}
    {{/if}}
  </div>
</section>