{{!-- Required context:
isEditable: {Boolean},
skillItemId: {String},
abilities: {[Object]} where Object -> {
  name: {String},
  description: {String},
  requiredLevel: {Number},
  APCost: {Number},
  condition: {String}
}
--}}
<section class="skill-ability-list">
  <table class="skill-ability-list">
    <tr>
      <th class="skill-ability-column-name">{{localize "ambersteel.labels.name"}}</th>
      <th class="skill-ability-column-description">{{localize "ambersteel.labels.description"}}</th>
      <th class="skill-ability-column-requirement">{{localize "ambersteel.labels.skillAbilityRequirement"}}</th>
      <th class="skill-ability-column-cost">{{localize "ambersteel.labels.apCost"}}</th>
      <th class="skill-ability-column-condition">{{localize "ambersteel.labels.skillAbilityCondition"}}</th>
      {{#if isEditable}}
        <th class="skill-ability-column-delete"></th>
      {{/if}}
    </tr>
    <tbody>
      {{#each abilities as |ability key|}}
      <tr>
        <td>
          {{#if ../isEditable}}
          <input class="ability-name" name="" type="text" value="{{ability.name}}" data-field="name" />
          {{else}}
          {{ability.name}}
          {{/if}}
        </td>
        <td>
          {{#if ../isEditable}}
          <input class="ability-description" name="" type="text" value="{{ability.description}}"
            data-field="description" />
          {{else}}
          {{ability.description}}
          {{/if}}
        </td>
        <td>
          {{#if ../isEditable}}
          <input class="ability-requirement" name="" type="text" value="{{ability.requiredLevel}}"
            data-field="requiredLevel" />
          {{else}}
          {{ability.requiredLevel}}
          {{/if}}
        </td>
        <td>
          {{#if ../isEditable}}
          <input class="ability-cost" name="" type="text" value="{{ability.APCost}}" data-field="APCost" />
          {{else}}
          {{ability.APCost}}
          {{/if}}
        </td>
        <td>
          {{#if ../isEditable}}
          <input class="ability-condition" name="" type="text" value="{{ability.condition}}" data-field="condition" />
          {{else}}
          {{ability.condition}}
          {{/if}}
        </td>
          {{#if ../isEditable}}
          <td class="skill-ability-column-delete">
            <a class="ambersteel-skill-ability-delete pad-sm button" data-id="{{skillItemId}}" title="{{localize ambersteel.labels.deleteSkillAbility}}">
              <i class="fas fa-trash"></i>
            </a>
          </td>
        {{/if}}
      </tr>
      {{/each}}
      {{#if isEditable}}
      <tr>
        <td style="display: table-cell;" colspan="100">
          <div class="flex">
            <span class="flex-grow"></span>
            <a class="ambersteel-skill-ability-create pad-sm" 
               title="{{localize ambersteel.labels.addSkillAbility}}"
               data-id="{{skillItemId}}">
              <i class="fas fa-plus"></i>
            </a>
          </div>
        </td>
      </tr>
      {{/if}}
    </tbody>
  </table>
</section>