{{!-- Required context:
isEditable: {Boolean},
isSendable: {Boolean},
ownerId: {String},
ownerType: {String} = "actor"|"item",
skillItemId: {String},
abilities: {[SkillAbility]} where skillAbility: {Object} where Object = {
  name: {String}
  description: {String}
  requiredLevel: {Number}
  condition: {String}
  img: {String}
  apCost: {Number|undefined}
  distance: {Number|undefined}
  damageFormula: {String}
  damageType: {CONFIG.ambersteel.damageTypes|undefined}
}
--}}
<section class="skill-ability-list">
  <ol class="unstyled-list alternating-rows">
    {{#each abilities as |ability key|}}
      <li class="ambersteel-list-row sheet-block">
        <div class="flex flex-row">
          {{!-- Send to chat --}}
          {{> buttonSendToChat type="item-property" propertyPath=(concat "data.data.abilities[" key "]") itemId=../skillItemId }}
          {{!-- Name --}}
          <span class="ambersteel-list-column ambersteel-list-column-name flex flex-grow">
            <label class="fancy-font pad-sm width-min-lg" for="data.abilities[{{key}}].name">{{localize "ambersteel.labels.name"}}</label>
            {{#if ../isEditable}}
            <input id="data.abilities[{{key}}].name" class="ability-name ambersteel-item-edit flex-grow" type="text" value="{{ability.name}}" 
              data-field="data.abilities[{{key}}].name" data-item-id="{{../skillItemId}}" />
            {{else}}
              {{ability.name}}
            {{/if}}
          </span>
          {{!-- Delete --}}
          {{> buttonDelete type="skill-ability" itemId=../skillItemId index=key }}
        </div>
        <div class="flex flex-row">
          {{!-- At level --}}
          <span class="flex flex-row">
            <label class="fancy-font pad-sm width-min-xl text-align-r" for="data.abilities[{{key}}].requiredLevel">
              {{localize "ambersteel.labels.skillAbilityRequirement"}}
            </label>
            <span class="width-md">
              {{#if ../isEditable}}
                {{#> numberSpinner}}
                <input id="data.abilities[{{key}}].requiredLevel" class="ability-requirement ambersteel-item-edit" 
                  type="number" min="0" step="1" data-dtype="Number" value="{{ability.requiredLevel}}"
                  data-field="data.abilities[{{key}}].requiredLevel" data-item-id="{{../skillItemId}}" />
                {{/numberSpinner}}
              {{else}}
                {{ability.requiredLevel}}
              {{/if}}
            </span>
          </span>
          {{!-- AP cost --}}
          <span class="flex flex-row">
            <label class="fancy-font pad-sm width-min-xl text-align-r" for="data.abilities[{{key}}].apCost">
              {{localize "ambersteel.labels.apCost"}}
            </label>
            <span class="width-lg">
              {{#if ../isEditable}}
                {{#> numberSpinner}}
                <input class="ability-cost ambersteel-item-edit" type="number" min="0" step="1" data-dtype="Number" value="{{ability.apCost}}" 
                  data-field="data.abilities[{{key}}].apCost" data-item-id="{{../skillItemId}}" />
                {{/numberSpinner}}
              {{else}}
                {{ability.apCost}}
              {{/if}}
            </span>
          </span>
          {{!-- Condition --}}
          <span class="flex flex-row flex-grow">
            <label class="fancy-font pad-sm width-min-xl text-align-r" for="data.abilities[{{key}}].condition">
              {{localize "ambersteel.labels.skillAbilityCondition"}}
            </label>
            <span class="width-min-lg flex-grow">
              {{#if ../isEditable}}
                <input class="ability-condition ambersteel-item-edit" type="text" value="{{ability.condition}}" 
                      data-field="data.abilities[{{key}}].condition" data-item-id="{{../skillItemId}}" />
              {{else}}
                {{ability.condition}}
              {{/if}}
            </span>
          </span>
        </div>
        <div class="flex flex-row">
          {{!-- Distance --}}
          <span class="flex flex-row">
            <label class="fancy-font pad-sm width-min-xl text-align-r" for="data.abilities[{{key}}].distance">
              {{localize "ambersteel.labels.distance"}}
            </label>
            <span class="width-md">
              {{#if ../isEditable}}
                {{#> numberSpinner}}
                <input class="ability-distance ambersteel-item-edit" type="number" min="0" step="1" data-dtype="Number" value="{{ability.distance}}" 
                  data-field="data.abilities[{{key}}].distance" data-item-id="{{../skillItemId}}" />
                {{/numberSpinner}}
              {{else}}
                {{ability.distance}}
              {{/if}}
            </span>
          </span>
          {{!-- Attack type --}}
          <span class="flex flex-row">
            <label class="fancy-font pad-sm width-min-xl text-align-r" for="data.abilities[{{key}}].attackType">
              {{localize "ambersteel.labels.attackType"}}
            </label>
            <span class="width-lg">
              {{#if ../isEditable}}
                <select class="ambersteel-item-edit" data-field="data.abilities[{{key}}].attackType">
                  {{#select skillAbility.attackType}}
                  {{#each ../CONFIG.attackTypes as | attackType |}}
                  <option value="{{attackType.name}}">{{localize attackType.localizableAbbreviation}}</option>
                  {{/each}}
                  {{/select}}
                </select>
              {{else}}
                {{localize ability.attackType.localizableAbbreviation}}
              {{/if}}
            </span>
          </span>
          {{!-- Damage formula --}}
          <span class="flex flex-row flex-grow">
            <label class="fancy-font pad-sm width-min-xl text-align-r" for="data.abilities[{{key}}].damageFormula">
              {{localize "ambersteel.labels.damage"}}
            </label>
            {{> buttonRoll
              type="generic"
              ownerId=../ownerId
              ownerType=../ownerType
              propertyPath=(concat "data.data.abilities[" key "].damageFormula")
              chatTitle=ability.name
            }}
            <span class="width-md flex-grow">
              {{#if ../isEditable}}
                <input class="ability-damage ambersteel-item-edit" type="text" value="{{ability.damageFormula}}" 
                  data-field="data.abilities[{{key}}].damageFormula" data-item-id="{{../skillItemId}}" />
              {{else}}
                {{ability.damageFormula}}
              {{/if}}
            </span>
          </span>
        </div>
        {{!-- Description --}}
        <div class="flex flex-row">
          {{#if ../isEditable}}
          <textarea class="resize-vertical ability-description ambersteel-item-edit" 
            spellcheck="false"
            data-field="data.abilities[{{key}}].description" data-item-id="{{../skillItemId}}">{{ability.description}}</textarea>
          {{else}}
            {{ability.description}}
          {{/if}}
        </div>
      </li>
    {{/each}}
    {{#if isEditable}}
      <li class="ambersteel-list-row ambersteel-list-footer">
        <div class="fill flex flex-row">
          <span class="flex-grow"></span>
          {{!-- Add skill ability --}}
          <span class="width-sm">
            <a class="ambersteel-skill-ability-create pad-sm button flex flex-center" 
              title="{{localize ambersteel.labels.addSkillAbility}}"
              data-item-id="{{skillItemId}}">
              <i class="fas fa-plus"></i>
            </a>
          </span>
        </div>
      </li>
    {{/if}}
  </ol>
</section>