{{!-- Required context:
isEditable: {Boolean}
isSendable: {Boolean}
skillItemId: {String}
itemId: {String}
abilities: {[SkillAbility]} = {
  name: {String}
  description: {String}
  requiredLevel: {Number}
  condition: {String}
  img: {String}
  apCost: {Number|undefined}
  distance: {Number|undefined}
  damageFormula: {String}
  damageType: {CONFIG.ambersteel.damageTypes|undefined}
}
--}}
<section class="skill-ability-list">
  <ol class="unstyled-list alternating-rows">
    {{#each abilities as |ability key|}}
      <li class="ambersteel-list-row sheet-block">
        <div class="flex flex-row">
          {{!-- Send to chat --}}
          {{> buttonSendToChat itemId=../itemId propertyPath=(concat "data.data.abilities[" key "]") }}
          {{!-- Name --}}
          <span class="ambersteel-list-column ambersteel-list-column-name flex flex-grow">
            <label class="fancy-font pad-sm width-min-lg" for="name[{{key}}]">{{localize "ambersteel.labels.name"}}</label>
            {{> inputComponent type="single-line" name="name[{{key}}]" propertyPath=(concat "data.data.abilities[" key "].name") itemId=../skillItemId cssClass="flex-grow" isEditable=../isEditable contextOverride=../this }}
          </span>
          {{!-- Delete --}}
          {{> buttonDelete itemId=../itemId propertyPath=(concat "data.data.abilities[" key "]") }}
        </div>
        <div class="flex flex-row">
          {{!-- At level --}}
          <span class="flex flex-row">
            <label class="fancy-font pad-sm width-min-xl text-align-r" for="requiredLevel[{{key}}]">{{localize "ambersteel.labels.skillAbilityRequirement"}}</label>
            <span class="width-md">
              {{> inputComponent type="number" name="requiredLevel[{{key}}]" propertyPath=(concat "data.data.abilities[" key "].requiredLevel") itemId=../skillItemId isEditable=../isEditable contextOverride=../this }}
            </span>
          </span>
          {{!-- AP cost --}}
          <span class="flex flex-row">
            <label class="fancy-font pad-sm width-min-xl text-align-r" for="apCost[{{key}}]">{{localize "ambersteel.labels.apCost"}}</label>
            <span class="width-lg">
              {{> inputComponent type="number" name="apCost[{{key}}]" propertyPath=(concat "data.data.abilities[" key "].apCost") itemId=../skillItemId isEditable=../isEditable contextOverride=../this }}
            </span>
          </span>
          {{!-- Condition --}}
          <span class="flex flex-row flex-grow">
            <label class="fancy-font pad-sm width-min-xl text-align-r" for="condition[{{key}}]">{{localize "ambersteel.labels.skillAbilityCondition"}}</label>
            <span class="width-min-lg flex-grow">
              {{> inputComponent type="single-line" name="condition[{{key}}]" propertyPath=(concat "data.data.abilities[" key "].condition") itemId=../skillItemId isEditable=../isEditable contextOverride=../this }}
            </span>
          </span>
        </div>
        <div class="flex flex-row">
          {{!-- Distance --}}
          <span class="flex flex-row">
            <label class="fancy-font pad-sm width-min-xl text-align-r" for="distance[{{key}}]">{{localize "ambersteel.labels.distance"}}</label>
            <span class="width-md">
              {{> inputComponent type="number" name="distance[{{key}}]" propertyPath=(concat "data.data.abilities[" key "].distance") itemId=../skillItemId isEditable=../isEditable contextOverride=../this }}
            </span>
          </span>
          {{!-- Attack type --}}
          <span class="flex flex-row">
            <label class="fancy-font pad-sm width-min-xl text-align-r" for="attackType[{{key}}]">{{localize "ambersteel.labels.attackType"}}</label>
            <span class="width-lg">
              {{log ../CONFIG}}
              {{> inputComponent type="drop-down" name="attackType[{{key}}]" propertyPath=(concat "data.data.abilities[" key "].attackType") itemId=../skillItemId
                options=../CONFIG.attackTypes optionValueProperty="name" optionDisplayProperty="localizableAbbreviation"
                isEditable=../isEditable contextOverride=../this
              }}
            </span>
          </span>
          {{!-- Damage formula --}}
          <span class="flex flex-row flex-grow">
            <label class="fancy-font pad-sm width-min-xl text-align-r" for="damageFormula[{{key}}]">{{localize "ambersteel.labels.damage"}}</label>
            {{> buttonRoll
              type="generic"
              itemId=../itemId
              propertyPath=(concat "data.data.abilities[" key "].damageFormula")
              chatTitle=ability.name
            }}
            <span class="width-md flex-grow">
              {{> inputComponent type="single-line" name="damageFormula[{{key}}]" propertyPath=(concat "data.data.abilities[" key "].damageFormula") itemId=../skillItemId isEditable=../isEditable contextOverride=../this }}
            </span>
          </span>
        </div>
        {{!-- Description --}}
        <div class="flex flex-row">
          {{> inputComponent type="multi-line" name="description[{{key}}]" propertyPath=(concat "data.data.abilities[" key "].description") itemId=../skillItemId isEditable=../isEditable contextOverride=../this }}
        </div>
      </li>
    {{/each}}
    {{#if isEditable}}
      <li class="ambersteel-list-row ambersteel-list-footer">
        <div class="fill flex flex-row">
          <span class="flex-grow"></span>
          {{!-- Add skill ability --}}
          <span class="width-sm">
            <a class="ambersteel-skill-ability-create pad-sm button flex flex-center" 
              title="{{localize ambersteel.labels.addSkillAbility}}"
              data-item-id="{{skillItemId}}">
              <i class="fas fa-plus"></i>
            </a>
          </span>
        </div>
      </li>
    {{/if}}
  </ol>
</section>