{{!-- Required context:
isEditable: {Boolean},
skillItemId: {String},
abilities: {[Object]} where Object -> {
  name: {String},
  description: {String},
  requiredLevel: {Number},
  apCost: {Number},
  condition: {String}
}
--}}
<section class="skill-ability-list">
  <table class="skill-ability-list">
    <theader>
      <tr>
        <th class="skill-ability-column-name">{{localize "ambersteel.labels.name"}}</th>
        <th class="skill-ability-column-description">{{localize "ambersteel.labels.description"}}</th>
        <th class="skill-ability-column-requirement">{{localize "ambersteel.labels.skillAbilityRequirement"}}</th>
        <th class="skill-ability-column-cost">{{localize "ambersteel.labels.apCost"}}</th>
        <th class="skill-ability-column-condition">{{localize "ambersteel.labels.skillAbilityCondition"}}</th>
        {{#if isEditable}}
          <th class="skill-ability-column-delete"></th>
        {{/if}}
      </tr>
    </theader>
    <tbody>
      {{#each abilities as |ability key|}}
      <tr>
        <td class="skill-ability-column-name">
          {{#if ../isEditable}}
          <input class="ability-name ambersteel-item-edit" type="text" value="{{ability.name}}" 
            data-field="data.abilities[{{key}}].name" data-item-id="{{../skillItemId}}" />
          {{else}}
          {{ability.name}}
          {{/if}}
        </td>
        <td class="skill-ability-column-description">
          {{#if ../isEditable}}
          <input class="ability-description ambersteel-item-edit" type="text" value="{{ability.description}}"
            data-field="data.abilities[{{key}}].description" data-item-id="{{../skillItemId}}" />
          {{else}}
          {{ability.description}}
          {{/if}}
        </td>
        <td class="skill-ability-column-requirement">
          {{#if ../isEditable}}
            {{#> numberSpinner}}
            <input class="ability-requirement ambersteel-item-edit" type="number" min="0" step="1" data-dtype="Number" value="{{ability.requiredLevel}}"
              data-field="data.abilities[{{key}}].requiredLevel" data-item-id="{{../skillItemId}}" />
            {{/numberSpinner}}
          {{else}}
            {{ability.requiredLevel}}
          {{/if}}
        </td>
        <td class="skill-ability-column-cost">
          {{#if ../isEditable}}
            {{#> numberSpinner}}
            <input class="ability-cost ambersteel-item-edit" type="number" min="0" step="1" data-dtype="Number" value="{{ability.apCost}}" 
              data-field="data.abilities[{{key}}].apCost" data-item-id="{{../skillItemId}}" />
            {{/numberSpinner}}
          {{else}}
            {{ability.apCost}}
          {{/if}}
        </td>
        <td class="skill-ability-column-condition">
          {{#if ../isEditable}}
            <input class="ability-condition ambersteel-item-edit" type="text" value="{{ability.condition}}" 
                   data-field="data.abilities[{{key}}].condition" data-item-id="{{../skillItemId}}" />
          {{else}}
            {{ability.condition}}
          {{/if}}
        </td>
        {{#if ../isEditable}}
          <td class="skill-ability-column-delete">
            <a class="ambersteel-skill-ability-delete pad-sm button" data-item-id="{{../skillItemId}}" data-index="{{key}}" title="{{localize ambersteel.labels.deleteSkillAbility}}">
              <i class="fas fa-trash"></i>
            </a>
          </td>
        {{/if}}
      </tr>
      {{/each}}
      {{#if isEditable}}
        <tr>
          <td style="display: table-cell;" colspan="100">
            <div class="flex">
              <span class="flex-grow"></span>
              <a class="ambersteel-skill-ability-create pad-sm" 
                title="{{localize ambersteel.labels.addSkillAbility}}"
                data-item-id="{{skillItemId}}">
                <i class="fas fa-plus"></i>
              </a>
            </div>
          </td>
        </tr>
      {{/if}}
    </tbody>
  </table>
</section>