{{!-- Parameters:
viewModel: {IllnessListItemViewModel}
cssClass: {undefined | String}
--}}
<div class="custom-system-list-item{{#if cssClass}} {{cssClass}}{{/if}}">
  {{!-- Row 1 --}}
  <div class="flex flex-row">
    {{!-- Send to chat --}}
    {{> buttonSendToChat viewModel=viewModel.vmBtnSendToChat }}
    {{!-- Name --}}
    <span class="width-min-xl">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.health.illness.singular"}}{{/label}}
    </span>
    {{> inputImage viewModel=viewModel.vmImg cssClass="custom-icon-sm" }}
    <h2 class="flex-grow margin-r-md">
      {{> inputTextField viewModel=viewModel.vmTfName }}
    </h2>
    {{!-- State --}}
    <div>
      {{> inputRadioButtonGroup viewModel=viewModel.vmRbgState }}
    </div>
    {{!-- Delete --}}
    {{> buttonDelete viewModel=viewModel.vmBtnDelete }}
  </div>
  <div class="flex flex-row">
  </div>
  {{!-- Row 2 --}}
  <div class="flex flex-row">
    {{!-- Treatment Skill --}}
    <span class="width-min-xxl">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.health.treatmentSkill"}}{{/label}}
    </span>
    <span class="width-xl flex-grow">
      {{> inputTextField viewModel=viewModel.vmTfTreatmentSkill }}
    </span>
    {{!-- Spacer --}}
    <div class="width-xs"></div>
    {{!-- Duration --}}
    <span class="width-min-xl">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.health.duration"}}{{/label}}
    </span>
    <span class="width-min-xxl">
      {{> inputTextField viewModel=viewModel.vmTfDuration }}
    </span>
  </div>
  {{!-- Spacer --}}
  <div class="width-xs"></div>
  <div class="flex flex-row">
  {{!-- Treatment --}}
    <span class="width-min-xxl">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.health.treatment"}}{{/label}}
    </span>
    <span class="flex-grow">
      {{> inputTextField viewModel=viewModel.vmTfTreatment }}
    </span>
  </div>
  {{!-- Row 3 --}}
  {{!-- Description --}}
  <div class="flex flex-row border-solid-t-sm border-solid-b-sm">
    {{> inputRichText viewModel=viewModel.vmRtDescription }}
  </div>
</div>