{{!-- Parameters:
viewModel: {IllnessChatMessageViewModel}
cssClass: {undefined | String}
--}}
<section class="custom-system-chat-message{{#if cssClass}} {{cssClass}}{{/if}}" 
  data-view-model-id="{{viewModel.id}}"
  data-document-id="{{viewModel.entityId}}"
>
  {{!-- Header --}}
  <div class="flex flex-row">
    <div class="flex flex-center">
      <img class="inline-img header-image margin-r-sm" name="img" src="{{viewModel.document.img}}" title="{{viewModel.document.name}}" height="35" width="35" />
    </div>
    {{#> header2 showFancyFont=viewModel.showFancyFont cssClass="flex-grow"}}{{viewModel.document.name}}{{/header2}}
  </div>
  {{!-- Duration --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.health.duration"}}{{/label}}
    </div>
    <div class="flex-grow">
      {{viewModel.document.duration}}
    </div>
  </div>
  {{!-- Treatment skill --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.health.treatmentSkill"}}{{/label}}
    </div>
    <div class="flex-grow">
      {{viewModel.document.treatmentSkill}}
    </div>
  </div>
  {{!-- Treatment --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.health.treatment"}}{{/label}}
    </div>
    <div class="flex-grow">
      {{viewModel.document.treatment}}
    </div>
  </div>
  {{!-- Description --}}
  <div class="sheet-block scrollable-height-md">
  {{> lazyRichText viewModel=viewModel.vmLazyDescription}}
  </div>
</section>