{{!-- Parameters:
obstacle {Number},
bonusDice {Number},
visibilityMode {CONFIG.ambersteel.visibilityModes}
--}}
<section>
  <div class="flex sheet-block">
    <div class="flex flex-column">
      <label class="line-height fancy-font pad-sm" for="obstacle">{{localize "ambersteel.roll.obstacleAbbreviation"}}</label>
      <label class="line-height fancy-font pad-sm" for="bonusDice">{{localize "ambersteel.roll.bonusDice"}}</label>
    </div>
    <div class="flex flex-column flex-grow">
      <input class="line-height pad-sm obstacle" type="number" name="obstacle" value="{{obstacle}}" />
      <input class="line-height pad-sm bonus-dice" type="number" name="bonusDice" value="{{bonusDice}}" />
    </div>
  </div>
  <div class="flex sheet-block">
    <label class="line-height fancy-font pad-sm" for="visibility">{{localize "ambersteel.labels.messageVisibility"}}</label>
{{#log CONFIG}}{{/log}}
    <select class="visibility" name="visibility">
        {{#select visibility}}
        {{#each CONFIG.ambersteel.visibilityModes as |mode key|}}
        <option value="{{key}}">{{localize mode}}</option>
        {{/each}}
        {{/select}}
    </select>
  </div>
</section>