{{!-- Parameters:
resultsForDisplay: {Array<Object>} = {
  cssClass: {String}
  content: {String}
}
outcomeType: {DiceOutcomeTypes}
degree: {String | Number}
numberOfDice: {String | Number}
positives: {String | Number}
negatives: {String | Number}
diceComposition: {String}
title: {String}
cssClass: {undefined | String}
--}}
<div class="dice-roll-chat-message-container{{#if cssClass}} {{cssClass}}{{/if}}">
  {{#if title}}
    <h2 class="dice-title">{{title}}</h2>
  {{/if}}
  <div class="dice-number">
    {{localize "ambersteel.roll.numberOfDice"}}: {{numberOfDice}}
  </div>
  {{#if diceComposition}}
    <div class="dice-composition">
      {{diceComposition}}
    </div>
  {{/if}}
  <div class="dice-rolls-container">
    <ol class="dice-rolls">
      {{#each resultsForDisplay as | resultForDisplay |}}
        <li class="roll die d6 {{resultForDisplay.cssClass}}">{{resultForDisplay.content}}</li>
      {{/each}}
    </ol>
  </div>
  <div class="dice-result-container">
    {{#if (eq outcomeType "SUCCESS")}}
      <div class="dice-result success">
        {{localize "ambersteel.roll.success"}}!
      </div>
    {{/if}}
    {{#if (or (eq outcomeType "PARTIAL") (eq outcomeType "FAILURE"))}}
      <div class="dice-result failure">
        {{localize "ambersteel.roll.failure"}}!
      </div>
    {{/if}}
    <div class="dice-degree">
      <span>{{localize "ambersteel.roll.positives"}}: {{positives.length}}</span>
      <span>{{localize "ambersteel.roll.negatives"}}: {{negatives.length}}</span>
    </div>
  </div>
</div>