<div class="dice-roll">
    {{#if flavor}}
    <div class="dice-flavor">{{flavor}}</div>
    {{/if}}
    <div class="dice-formula-basis">
        {{#if obstacle}}
        <div class="dice-obstacle">{{obstacle}}</div>
        {{/if}}
        <div class="dice-formula">{{formula}}</div>
    </div>
    <div class="dice-rolls">
        <ol class="dice-rolls">
        {{#each results as | result |}}
            <li class="roll">{{{die.number}}}</li>
        {{/each}}
        </ol>
    </div>
    <div class="dice-result">
        <div class="dice-success">
            {{#if isSuccess}}
            <span>{{localize "ambersteel.roll.success"}}!</span>
            {{else}}
            <span>{{localize "ambersteel.roll.failure"}}!</span>
            {{/if}}
        </div>
        <div class="dice-degree">
            {{#if isSuccess}}
            <span>{{localize "ambersteel.roll.degreeOfSuccess"}}: </span>
            {{else}}
            <span>{{localize "ambersteel.roll.degreeOfFailure"}}: </span>
            {{/if}}
            <span>{{degree}}</span>
        </div>
    </div>
</div>