{{!-- Parameters:
viewModel: {ActorAssetSlotViewModel}
cssClass: {undefined | String}
--}}
<div id="{{viewModel.id}}" class="strive-asset-slot flex flex-row{{#if cssClass}} {{cssClass}}{{/if}}">
  {{!-- Header Row --}}
  {{#if viewModel.hasAsset}}
  <div class="flex-grow">
    {{#with viewModel.assetListItemTemplate as |template|}}
      {{> (template) viewModel=../viewModel.assetListItemViewModel}}
    {{/with}}
  </div>
  {{else}}
  {{!-- Assign Asset --}}
  {{> button viewModel=viewModel.vmBtnAssign leftAlign=true cssClass="flex-grow font-size-default" }}
  {{/if}}
  <div class="flex flex-column margin-l-sm pad-l-sm border-solid-l-md">
    {{!-- Slot Bulk --}}
    {{#if viewModel.showSlotBulk}}
    <div class="flex flex-row flex-middle font-size-xs">
      <span class="flex flex-row flex-middle">
        {{#> admonishReadOnlyValue cssClass="flex flex-center width-min-md" admonish=viewModel.hasExceededBulk}}{{viewModel.currentBulk}} / {{viewModel.moddedMaxBulk}}{{/admonishReadOnlyValue}}
      </span>
    </div>
    {{/if}}
    {{> button viewModel=viewModel.vmBtnEdit }}
    {{> buttonDelete viewModel=viewModel.vmBtnDelete }}
  </div>
</div>