{{!-- Parameters:
viewModel: {ActorAssetsViewModel}
cssClass: {undefined | String}
--}}
<section id="{{viewModel.id}}" class="auto-margin-v-xl{{#if cssClass}} {{cssClass}}{{/if}}">
  {{!-- Worn & Equipped --}}
  <div>
    {{#> header1 showFancyFont=viewModel.showFancyFont}}{{localize "system.character.asset.equipped"}}{{/header1}}
    {{#with viewModel.templateEquipped as | template |}}
    {{> (template) viewModel=../viewModel.vmEquipped}}
    {{/with}}
  </div>
  {{!-- Luggage --}}
  {{#> sortableList viewModel=viewModel.vmLuggageList }}
    {{#*inline "sortableListExtraHeader"}}
    <div class="grid-2col grid-gap-md margin-b-md">
      {{!-- Maximum bulk --}}
      <div class="sheet-block">
        <div class="flex flex-row">
          <div class="flex-grow">
            {{#> label showFancyFont=../viewModel.showFancyFont}}{{localize "system.character.asset.carryingCapacity.label"}}{{/label}}
          </div>
          <span class="width-md">
            {{> readOnlyValue viewModel=../viewModel.vmMaxBulk }}
          </span>
        </div>
      </div>
      {{!-- Current bulk --}}
      <div class="sheet-block">
        <div class="flex flex-row">
          <div class="flex-grow">
            {{#> label showFancyFont=../viewModel.showFancyFont}}{{localize "system.character.asset.carryingCapacity.used"}}{{/label}}
          </div>
          <span class="flex flex-row flex-middle width-md">
            {{> readOnlyValue viewModel=../viewModel.vmCurrentBulk }}
          </span>
        </div>
      </div>
    </div>
    {{/inline}}
  {{/sortableList }}
  {{!-- Property --}}
  <div class="auto-margin-v-md">
    {{> sortableList viewModel=viewModel.vmPropertyList }}
  </div>
</section>