{{!-- Parameters:
viewModel: {ActorAssetSlotViewModel}
cssClass: {undefined | String}
--}}
<div class="ambersteel-asset-slot flex flex-column{{#if cssClass}} {{cssClass}}{{/if}}">
  {{!-- Header Row --}}
  <div class="flex flex-row">
    {{!-- Assign Asset --}}
    <div{{#if viewModel.hasAsset}} class="hidden"{{/if}}>
      {{#> button viewModel=viewModel.vmBtnAssign}}
        {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.asset.slot.assign.label"}}{{/label}}
        <div class="square-button-light flex flex-center">
          <i class="fas fa-plus"></i>
        </div>
      {{/button}}
    </div>
    <div style="width: 50px"></div>
    {{!-- Slot Bulk --}}
    <div class="flex flex-row flex-middle font-size-xs">
      {{#> label showFancyFont=viewModel.showFancyFont cssClass=" "}}{{localize "ambersteel.character.asset.bulk"}}{{/label}}
      <span class="width-md">
        {{#> readOnlyValue}}{{viewModel.currentBulk}} / {{viewModel.maxBulk}}{{/readOnlyValue}}
      </span>
    </div>
    <div class="flex flex-grow"></div>
    {{#> button viewModel=viewModel.vmBtnEdit}}
      <div class="square-button-light flex flex-center">
        <i class="fas fa-cog"></i>
      </div>
    {{/button}}
    {{> buttonDelete viewModel=viewModel.vmBtnDelete}}
  </div>
  {{#if viewModel.hasAsset}}
  <div>
    {{#with viewModel.assetListItemTemplate as |template|}}
      {{> (template) viewModel=../viewModel.assetListItemViewModel}}
    {{/with}}
  </div>
  {{/if}}
</div>