{{!-- Parameters:
viewModel: {ActorAssetsViewModel}
cssClass: {undefined | String}
--}}
<section class="{{cssClass}}">
  {{!-- Worn & Equipped --}}
  {{#> header1 showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.asset.equipped"}}{{/header1}}
  {{#with viewModel.templateEquipped as | template |}}
  {{> (template) viewModel=../viewModel.vmEquipped}}
  {{/with}}
  {{!-- Luggage --}}
  {{#> header1 showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.asset.luggage"}}{{/header1}}
  <div class="grid-2col grid-gap-md margin-b-md">
    {{!-- Maximum bulk --}}
    <div class="sheet-block">
      <div class="flex flex-row">
        <div class="flex-grow">
          {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.asset.carryingCapacity.label"}}{{/label}}
        </div>
        <span class="width-md">
          {{#> readOnlyValue}}{{viewModel.maxBulk}}{{/readOnlyValue}}
        </span>
      </div>
    </div>
    {{!-- Current bulk --}}
    <div class="sheet-block">
      <div class="flex flex-row">
        <div class="flex-grow">
          {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.asset.carryingCapacity.used"}}{{/label}}
        </div>
        <span class="flex flex-row flex-middle width-md">
          {{#> admonishReadOnlyValue admonish=viewModel.hasExceededBulk}}{{viewModel.currentBulk}}{{/admonishReadOnlyValue}}
        </span>
      </div>
    </div>
  </div>
  {{> sortableList viewModel=viewModel.vmLuggageList prominentItemStyling=true }}
  {{!-- Property --}}
  {{#> header1 showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.asset.property"}}{{/header1}}
  {{> sortableList viewModel=viewModel.vmPropertyList prominentItemStyling=true }}
</section>