{{!-- Parameters:
viewModel: {ActorAssetSlotGroupViewModel}
cssClass: {undefined | String}
--}}
<div class="ambersteel-asset-slot flex flex-column flex-grow{{#if cssClass}} {{cssClass}}{{/if}}">
  {{!-- Header Row --}}
  <div class="flex flex-row flex-grow">
    {{#> header3 showFancyFont=false cssClass="flex flex-row flex-grow flex-middle"}}
      {{#> label showFancyFont=viewModel.showFancyFont cssClass="width-min-xl"}}{{viewModel.localizedName}}{{/label}}
      <span style="width: 2rem"></span>
      {{!-- Slot Group Bulk --}}
      <div class="flex flex-row flex-middle font-size-sm">
        {{#> label showFancyFont=viewModel.showFancyFont cssClass=" "}}{{localize "ambersteel.character.asset.bulk"}}{{/label}}
        <span class="width-md">
          {{#> readOnlyValue}}{{viewModel.group.currentBulk}} / {{viewModel.group.maxBulk}}{{/readOnlyValue}}
        </span>
      </div>
      {{!-- Edit Controls --}}
      <div class="flex flex-row flex-grow flex-right">
        <div>
          {{> buttonContextMenu viewModel=viewModel.vmBtnEdit}}
        </div>
      </div>
    {{/header3}}
  </div>
  {{!-- Slots --}}
  {{#each viewModel.assetSlotViewModels as |vm key|}}
  {{#with ../viewModel.assetSlotTemplate as | template |}}
    {{> (template) viewModel=vm}}
  {{/with}}
  {{/each}}
</div>