{{!-- Required context:
viewModel: {InputToggleViewModel}
cssClass: {String | undefined}
--}}
<div id="{{viewModel.id}}">
  <button 
    class="custom-system-button component-button-toggle {{#if viewModel.value}}active {{/if}}{{#if viewModel.isEditable}}{{else}}disabled {{/if}}{{cssClass}}" 
    title="{{viewModel.localizedTitle}}" 
    id="{{viewModel.id}}-button" 
  >
    <span class="component-button-toggle-knob {{#if viewModel.value}}active{{/if}}"></span>
  </button>
</div>