{{!-- Parameters:
viewModel: {InjuryChatMessageViewModel}
cssClass: {undefined | String}
--}}
<section class="custom-system-chat-message{{#if cssClass}} {{cssClass}}{{/if}}" 
  id="{{viewModel.id}}"
  data-view-model-id="{{viewModel.id}}"
  data-document-id="{{viewModel.entityId}}"
>
  {{!-- Header --}}
  <div class="flex flex-row">
    <div class="flex flex-center">
      <img class="inline-img custom-icon-chat margin-r-sm" name="img" src="{{viewModel.document.img}}" title="{{viewModel.document.name}}" height="35" width="35" />
    </div>
    {{#> header2 showFancyFont=viewModel.showFancyFont cssClass="flex-grow"}}{{viewModel.document.name}}{{/header2}}
  </div>
  {{!-- treatmentSkill --}}
  <div class="flex flex-row sheet-block margin-b-md">
    <div class="width-min-xxl">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "system.character.health.treatmentSkill"}}{{/label}}
    </div>
    <div class="flex-grow">
      {{viewModel.document.treatmentSkill}}
    </div>
  </div>
  {{!-- requiredSupplies --}}
  <div class="flex flex-row sheet-block margin-b-md">
    <div class="width-min-xxl">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "system.character.health.requiredSupplies"}}{{/label}}
    </div>
    <div class="flex-grow">
      {{viewModel.document.requiredSupplies}}
    </div>
  </div>
  {{!-- obstacleTreatment --}}
  <div class="flex flex-row sheet-block margin-b-md">
    <div class="width-min-xxl">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "system.character.health.obstacleTreatment"}}{{/label}}
    </div>
    <div class="flex-grow">
      {{viewModel.document.obstacleTreatment}}
    </div>
  </div>
  {{!-- timeToHeal --}}
  <div class="flex flex-row sheet-block margin-b-md">
    <div class="width-min-xxl">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "system.character.health.timeToHeal"}}{{/label}}
    </div>
    <div class="flex-grow">
      {{viewModel.document.timeToHeal}}
    </div>
  </div>
  {{!-- timeToHealTreated --}}
  <div class="flex flex-row sheet-block margin-b-md">
    <div class="width-min-xxl">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "system.character.health.timeToHealTreated"}}{{/label}}
    </div>
    <div class="flex-grow">
      {{viewModel.document.timeToHealTreated}}
    </div>
  </div>
  {{!-- autoTreatment --}}
  <div class="flex flex-row sheet-block margin-b-md">
    <div class="width-min-xxl">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "system.character.health.autoTreatment"}}{{/label}}
    </div>
    <div class="flex-grow">
      {{viewModel.document.autoTreatment}}
    </div>
  </div>
  {{!-- Limit --}}
  <div class="flex flex-row sheet-block margin-b-md">
    <div class="width-min-xxl">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "system.character.health.injury.limit.label"}}{{/label}}
    </div>
    <div class="flex-grow">
      {{viewModel.document.limit}}
    </div>
  </div>
  {{!-- Scar --}}
  <div class="flex flex-row sheet-block margin-b-md">
    <div class="width-min-xxl">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "system.character.health.scar.singular"}}{{/label}}
    </div>
    <div class="flex-grow">
      {{viewModel.document.scar}}
    </div>
  </div>
  {{!-- Description --}}
  <div class="sheet-block">
    {{> lazyRichText viewModel=viewModel.vmLazyDescription}}
  </div>
</section>