{{!-- Parameters:
viewModel: {InjuryItemSheetViewModel}
cssClass: {undefined | String}
--}}
<form id="{{viewModel.id}}" class="flex flex-column{{#if cssClass}} {{cssClass}}{{/if}}" autocomplete="off">
  <header class="sheet-header">
    <div class="flex flex-column flex-grow">
      <div class="flex flex-row">
        {{> inputImage viewModel=viewModel.vmImg cssClass="custom-icon-md" }}
        <h1 class="header-name">
          {{> inputTextField viewModel=viewModel.vmTfName }}
        </h1>
        <div class="flex flex-center">
          {{> buttonSendToChat viewModel=viewModel.vmBtnSendToChat }}
        </div>
      </div>
    </div>
  </header>
  {{!-- treatmentSkill --}}
  <div class="sheet-block grid-3col grid-gap-md margin-b-md">
    <div class="flex flex-middle flex-right">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "system.character.health.treatmentSkill"}}{{/label}}
    </div>
    <div class="grid-span-2">
      {{> inputTextField viewModel=viewModel.vmTreatmentSkill }}
    </div>
  </div>
  {{!-- requiredSupplies --}}
  <div class="sheet-block grid-3col grid-gap-md margin-b-md">
    <div class="flex flex-middle flex-right">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "system.character.health.requiredSupplies"}}{{/label}}
    </div>
    <div class="grid-span-2">
      {{> inputTextField viewModel=viewModel.vmRequiredSupplies }}
    </div>
  </div>
  {{!-- obstaclePatchUp --}}
  <div class="sheet-block grid-3col grid-gap-md margin-b-md">
    <div class="flex flex-middle flex-right">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "system.character.health.obstaclePatchUp"}}{{/label}}
    </div>
    <div class="grid-span-2">
      {{> inputTextField viewModel=viewModel.vmObstaclePatchUp }}
    </div>
  </div>
  {{!-- obstacleTreatment --}}
  <div class="sheet-block grid-3col grid-gap-md margin-b-md">
    <div class="flex flex-middle flex-right">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "system.character.health.obstacleTreatment"}}{{/label}}
    </div>
    <div class="grid-span-2">
      {{> inputTextField viewModel=viewModel.vmObstacleTreatment }}
    </div>
  </div>
  {{!-- timeToHeal --}}
  <div class="sheet-block grid-3col grid-gap-md margin-b-md">
    <div class="flex flex-middle flex-right">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "system.character.health.timeToHeal"}}{{/label}}
    </div>
    <div class="grid-span-2">
      {{> inputTextField viewModel=viewModel.vmTfTimeToHeal }}
    </div>
  </div>
  {{!-- timeToHealTreated --}}
  <div class="sheet-block grid-3col grid-gap-md margin-b-md">
    <div class="flex flex-middle flex-right">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "system.character.health.timeToHealTreated"}}{{/label}}
    </div>
    <div class="grid-span-2">
      {{> inputTextField viewModel=viewModel.vmTimeToHealTreated }}
    </div>
  </div>
  {{!-- selfPatchUp --}}
  <div class="sheet-block grid-3col grid-gap-md margin-b-md">
    <div class="flex flex-middle flex-right">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "system.character.health.selfPatchUp"}}{{/label}}
    </div>
    <div class="grid-span-2">
      {{> inputTextField viewModel=viewModel.vmSelfPatchUp }}
    </div>
  </div>
  {{!-- Limit --}}
  <div class="sheet-block grid-3col grid-gap-md margin-b-md">
    <div class="flex flex-middle flex-right">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "system.character.health.injury.limit.label"}}{{/label}}
    </div>
    <div class="grid-span-2">
      {{> inputTextField viewModel=viewModel.vmLimit }}
    </div>
  </div>
  {{!-- Scar --}}
  <div class="sheet-block grid-3col grid-gap-md margin-b-md">
    <div class="flex flex-middle flex-right">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "system.character.health.scar.singular"}}{{/label}}
    </div>
    <div class="grid-span-2">
      {{> inputTextField viewModel=viewModel.vmScar }}
    </div>
  </div>
  {{!-- Description --}}
  <div class="sheet-block flex flex-column flex-grow">
    {{#> header3 showFancyFont=viewModel.showFancyFont}}{{localize "system.general.description"}}{{/header3}}
    {{> inputRichText viewModel=viewModel.vmRtDescription }}
  </div>
</form>