{{!-- Parameters:
viewModel: {AssetListItemViewModel}
cssClass: {undefined | String}
--}}
<div class="custom-system-list-item{{#if cssClass}} {{cssClass}}{{/if}}">
  {{!-- Row 1 --}}
  <div class="flex flex-row">
    <div class="flex flex-grow">
      {{!-- Send to chat --}}
      {{> buttonSendToChat viewModel=viewModel.vmBtnSendToChat }}
      {{!-- Pick up --}}
      <span{{#if viewModel.hideTakeAsset}} class="hidden"{{/if}}>
        {{#> button viewModel=viewModel.vmBtnTakeAsset }}
          <i class="ambersteel-icon ico-take-item"></i>
        {{/button}}
      </span>
      {{!-- Drop --}}
      <span{{#if viewModel.hideDropAsset}} class="hidden"{{/if}}>
        {{#> button viewModel=viewModel.vmBtnDropAsset }}
          <i class="ambersteel-icon ico-drop-item"></i>
        {{/button}}
      </span>
      {{!-- Name --}}
      <span class="width-min-xl">
        {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.asset.singular"}}{{/label}}
      </span>
      {{> inputImage viewModel=viewModel.vmImg cssClass="custom-icon-sm" }}
      <h2 class="flex-grow margin-r-md">
        {{> inputTextField viewModel=viewModel.vmTfName }}
      </h2>
    </div>
    {{!-- Delete --}}
    {{> buttonDelete viewModel=viewModel.vmBtnDelete }}
  </div>
  {{!-- Row 2 --}}
  <div class="flex flex-row">
    {{!-- Quantity --}}
    <div class="flex flex-row">
      <span class="width-min-xl">
        {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.asset.quantity.label"}}{{/label}}
      </span>
      <span class="width-md">
        {{> inputNumberSpinner viewModel=viewModel.vmNsQuantity }}
      </span>
    </div>
    {{!-- Spacer --}}
    <div class="width-xs"></div>
    {{!-- Max quantity --}}
    <div class="flex flex-row flex-grow">
      <span class="width-min-xl">
        {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.asset.quantity.maximum"}}{{/label}}
      </span>
      <span class="width-md">
        {{> inputNumberSpinner viewModel=viewModel.vmNsMaxQuantity }}
      </span>
    </div>
  </div>
  {{!-- Row 3 --}}
  <div class="flex flex-row">
    {{!-- Bulk --}}
    <span class="width-min-xl">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.asset.bulk"}}{{/label}}
    </span>
    <span class="width-md">
      {{> inputNumberSpinner viewModel=viewModel.vmNsBulk }}
    </span>
  </div>
  {{!-- Row 4 --}}
  {{!-- Properties --}}
  <div class="flex flex-row">
    <span class="width-min-xl">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.general.properties.label"}}{{/label}}
    </span>
    <span class="flex flex-grow">
      {{> inputProperties viewModel=viewModel.vmProperties}}
    </span>
  </div>
  {{!-- Row 5 --}}
  {{!-- Description --}}
  <div class="flex flex-row">
    {{> inputRichText viewModel=viewModel.vmRtDescription }}
  </div>
</div>