{{!-- Parameters:
viewModel: {AssetChatMessageViewModel}
cssClass: {undefined | String}
--}}
<section class="custom-system-chat-message{{#if cssClass}} {{cssClass}}{{/if}}" 
  id="{{viewModel.id}}"
  data-view-model-id="{{viewModel.id}}"
  data-document-id="{{viewModel.entityId}}"
>
  {{!-- Header --}}
  <div class="flex flex-row">
    <div class="flex flex-center">
      {{> buttonTakeItem viewModel=viewModel.vmBtnTakeItem cssClass=(ifThenElse viewModel.allowPickup "" "hidden") }}
    </div>
    <div class="flex flex-center">
      <img class="inline-img custom-icon-chat margin-r-sm" name="img" src="{{viewModel.document.img}}" title="{{viewModel.document.name}}" height="35" width="35" />
    </div>
    {{#> header2 showFancyFont=viewModel.showFancyFont cssClass="flex-grow"}}{{viewModel.document.name}}{{/header2}}
  </div>
  {{!-- Quality --}}
  <div class="flex flex-row sheet-block margin-b-md">
    <div class="width-min-xxl">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "system.character.asset.quality"}}{{/label}}
    </div>
    <div class="flex-grow">
      {{viewModel.document.quality}}
    </div>
  </div>
  {{!-- Bulk --}}
  <div class="flex flex-row sheet-block margin-b-md">
    <div class="width-min-xxl">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "system.character.asset.bulk"}}{{/label}}
    </div>
    <div class="flex-grow">
      {{viewModel.document.bulk}}
    </div>
  </div>
  {{!-- Quantity --}}
  <div class="flex flex-row sheet-block margin-b-md">
    <div class="width-min-xxl">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "system.character.asset.quantity.label"}}{{/label}}
    </div>
    <div class="flex-grow">
      {{viewModel.document.quantity}}
    </div>
  </div>
  {{!-- Max quantity --}}
  <div class="flex flex-row sheet-block margin-b-md">
    <div class="width-min-xxl">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "system.character.asset.quantity.maximum"}}{{/label}}
    </div>
    <div class="flex-grow">
      {{viewModel.document.maxQuantity}}
    </div>
  </div>
  {{!-- Tags --}}
  <div class="flex flex-row sheet-block margin-b-md{{#if viewModel.hasTags}}{{else}} hidden{{/if}}">
    {{> inputTags viewModel=viewModel.vmTags }}
  </div>
  {{!-- Description --}}
  <div class="sheet-block">
    {{> lazyRichText viewModel=viewModel.vmLazyDescription}}
  </div>
</section>