{{!--
viewModel: GritPointsCombatTrackerViewModel
cssClass: String | undefined
--}}
<div id="{{viewModel.id}}" class="sheet-block flex flex-column" style="width: 20%;">
  <div class="flex flex-column flex-middle">
    {{!-- Icon --}}
    <i id="{{viewModel.vmGritPointsIcon.id}}" class="ico dark ico-grit-line" style="width: 48px; height: 48px;"></i>
    {{!-- Current Value --}}
    {{> inputNumberSpinner viewModel=viewModel.vmGritPointsSpinner cssClass="width-md" }}
    <div class="flex flex-row flex-wrap flex-middle">
      {{#each viewModel.gritPoints as |gritPoint|}}
      <span id="{{gritPoint.id}}" class="icon-with-centered-label {{#if gritPoint.active}}grit-point-full{{else}}grit-point-void{{/if}}">
        <i class="ico {{#if gritPoint.active}}ico-grit-point-line{{else}}ico-grit-point-void-line{{/if}} icon-with-centered-label-image" style="height: 22px;"></i>
        <span class="icon-with-centered-label-label">{{gritPoint.value}}</span>
      </span>
      {{/each}}
    </div>
  </div>
</div>