{{!--
viewModel: SortControlsViewModel
cssClass: String | undefined
--}}
<span id="{{viewModel.id}}" class="flex flex-row auto-margin-h{{#if cssClass}} {{cssClass}}{{/if}}">
  {{#each viewModel.definitionViewModels as |vm|}}
    <span class="flex flex-row flex-middle auto-margin-h sheet-block">
      {{#if definition.iconHtml}}
      <span class="flex flex-center"{{#if definition.localizedToolTip}} title="{{definition.localizedToolTip}}"{{/if}}>{{{definition.iconHtml}}}</span>
      {{/if}}
      {{#if definition.localizedLabel}}<span>{{definition.localizedLabel}}</span>{{/if}}
      <span class="flex flex-row flex-middle border-solid-l-sm">
        {{#> button viewModel=vm.vmSortAscending cssClass="override"}}{{/button}}
        {{#> button viewModel=vm.vmSortDescending cssClass="override"}}{{/button}}
      </span>
    </span>
  {{/each}}
</span>
