{{!-- Required context:
cssClass: {String | undefined}
readOnlyCssClass: {String | undefined}
// If provided, "parent" and "id" must be undefined!
viewModel: {ViewModel | undefined}

// If provided, "viewModel" must be undefined!
parent: {ViewModel | undefined}
id: {String | undefined}
propertyOwner: {Object | undefined}
propertyPath: {String | undefined}
localizableTitle: {String | undefined}
min: {Number | undefined}
max: {Number | undefined}
step: {Number | undefined}
--}}
{{#withViewModel parent id viewModel "InputNumberSpinnerViewModel" propertyOwner propertyPath localizableTitle min max step}}
{{#if isEditable}}
<span class="spinner-container component-input-number-spinner">
  <input 
    class="custom-system-edit spinner {{../cssClass}}"
    data-property-path="{{propertyPath}}"
    type="number"
    data-dtype="Number"
    name="{{id}}"
    id="{{id}}"
    value="{{value}}"
    {{#if hasMin}}min="{{min}}"{{/if}}
    {{#if hasMax}}max="{{max}}"{{/if}}
    step="{{step}}"
    title="{{localizedTitle}}"
  />
  <div class="spinner-button-container">
      <a class="button-spinner button-spinner-up" title="{{localize ambersteel.labels.increment}}">
          <i class="fas fa-caret-up"></i>
      </a>
      <a class="button-spinner button-spinner-down" title="{{localize ambersteel.labels.decrement}}">
          <i class="fas fa-caret-down"></i>
      </a>
  </div>
</span>
{{else}}
  {{!-- Display read-only value --}}
  <div 
    class="custom-system-read-only pad-sm fill component-input-number-spinner {{../readOnlyCssClass}}" 
    name="{{id}}"
    id="{{id}}"
  >
    {{value}}
  </div>
{{/if}}
{{/withViewModel}}