{{!-- Required parameters:
type: {String} = "generic"|"dice-pool"
itemId: {String|undefined}
propertyPath: {String|undefined}
chatTitle: {String|undefined}
callback: {String|undefined}
callbackData: {String|undefined}
cssClass: {String | undefined}
--}}
<span class="{{#if fill}}fill-button-light{{else}}square-button-light{{/if}} {{#if cssClass}}{{cssClass}}{{else}}font-size-default{{/if}}">
  <a class="ambersteel-roll pad-sm button flex flex-center" 
    data-type="{{type}}"
    data-item-id="{{itemId}}"
    data-property-path="{{propertyPath}}"
    data-chat-title="{{chatTitle}}"
    data-callback="{{callback}}"
    data-callback-data="{{callbackData}}"
    title="{{localize ambersteel.labels.roll}}">
    <i class="fas fa-dice-three"></i>
  </a>
</span>