{{!-- Required parameters:
itemId: {String|undefined}
propertyPath: {String|undefined}
callback: {String|undefined}
callbackData: {String|undefined}
--}}
<span class="square-button-light">
  <a class="ambersteel-send-to-chat pad-sm button flex flex-center"
    data-item-id="{{itemId}}"
    data-property-path="{{propertyPath}}"
    data-callback="{{callback}}"
    data-callback-data="{{callbackData}}"
    title="{{localize ambersteel.labels.sendToChat}}">
    <i class="fas fa-comments"></i>
  </a>
</span>