{{!-- Required parameters:
type: {String} = "generic"|"dice-pool"
propertyPath: {String|undefined}
chatTitle: {String|undefined}
callback: {String|undefined}
callbackData: {String|undefined}
--}}
<span class="width-sm">
  <a class="ambersteel-{{type}}-roll pad-sm button flex flex-center" 
    data-property-path="{{propertyPath}}"
    data-chat-title="{{chatTitle}}"
    data-callback="{{callback}}"
    data-callback-data="{{callbackData}}"
    title="{{localize ambersteel.labels.roll}}">
    <i class="fas fa-dice-three"></i>
  </a>
</span>