{{!-- Required parameters:
type: {String} = "generic"|"dice-pool"
itemId: {String|undefined}
propertyPath: {String|undefined}
chatTitle: {String|undefined}
callback: {String|undefined}
callbackData: {String|undefined}
--}}
<span class="square-button-light">
  <a class="ambersteel-roll pad-sm button flex flex-center" 
    data-type="{{type}}"
    data-item-id="{{itemId}}"
    data-property-path="{{propertyPath}}"
    data-chat-title="{{chatTitle}}"
    data-callback="{{callback}}"
    data-callback-data="{{callbackData}}"
    title="{{localize ambersteel.labels.roll}}">
    <i class="fas fa-dice-three"></i>
  </a>
</span>