{{!-- Required parameters:
itemId: {String}
callback: {String|undefined}
callbackData: {String|undefined}
isToggled: {Boolean}
--}}
<div class="ambersteel-expand-skill-ability-list-container">
  <a class="ambersteel-expand-skill-ability-list pad-sm fill flex flex-center"
    title="{{localize ambersteel.labels.expandSkillAbilityList}}"
    data-item-id="{{itemId}}"
    data-callback="{{callback}}"
    data-callback-data="{{callbackData}}"
    >
    {{#if isToggled}}
      <i class="fas fa-angle-double-up"></i>
    {{else}}
      <i class="fas fa-angle-double-down"></i>
    {{/if}}
  </a>
</div>