{{!-- Required parameters:
itemId: {String|undefined}
sourceType: {String} = "actor"|"world"|"compendium"
sourceId: {String}
cssClass: {String | undefined}
--}}
<span class="{{#if fill}}fill-button-light{{else}}square-button-light{{/if}} {{#if cssClass}}{{cssClass}}{{else}}font-size-default{{/if}}">
  <a class="ambersteel-take-item pad-sm button flex flex-center" 
    data-item-id="{{itemId}}" 
    data-source-type="{{sourceType}}" 
    data-source-id="{{sourceId}}" 
    title="{{localize ambersteel.labels.takeToPerson}}">
    <i class="ambersteel-icon ico-take-item"></i>
  </a>
</span>