{{!-- Required parameters:
withDialog: {Boolean}
itemId: {String | undefined}
itemType: {String | undefined} = "skill"|"skill-ability"|"fate-card"|"item"|"injury"|"illness"
creationData: {String | undefined} e. g. "[value:0,related-attribute:agility]"
cssClass: {String | undefined}
fill: {Boolean | undefined}
--}}
<span class="{{#if fill}}fill-button-light{{else}}square-button-light{{/if}} {{#if cssClass}}{{cssClass}}{{else}}font-size-default{{/if}}">
  <a class="ambersteel-item-create pad-sm button flex flex-center" 
    title="{{localize ambersteel.labels.add}}"
    data-item-id="{{itemId}}"
    data-type="{{itemType}}"
    data-with-dialog="{{withDialog}}"
    {{#if creationData}}
      {{#each (arrayFrom creationData) as |entry|}}
      data-creation-{{entry.key}}="{{entry.value}}"
      {{/each}}
    {{/if}}
  >
    <i class="fas fa-plus"></i>
  </a>
</span>