{{!-- Required context:
isEditable: {Boolean}
itemId: {String|undefined}
propertyPath: {String}
type: {String} = "single-line|multi-line|drop-down|number|radio-buttons"
cssClass: {String|undefined}
readOnlyCssClass: {String|undefined}
name: {String|undefined} - Name is mandatory for "radio-buttons"
placeholder: {String|undefined}
contextOverride: {Any}
-- Drop-down and radio-buttons
options: {Array<Object>|undefined}
optionValueProperty: {String|undefined}
optionDisplayProperty: {String|undefined}
-- Number spinner only
min: {Number|undefined}
max: {Number|undefined}
step: {Number|undefined}
-- Textarea only
allowResize: {Boolean}
--}}
{{!-- Single-line input --}}
{{#if (eq type 'single-line')}}
  {{#if isEditable}}
    <input 
      class="ambersteel-edit input-width-override {{cssClass}}"
      data-item-id="{{itemId}}"
      data-property-path="{{propertyPath}}"
      type="text"
      name="{{name}}"
      placeholder="{{placeholder}}"
      value="{{lookupValue (isDefined contextOverride this) propertyPath itemId}}"
    />
  {{else}}
    {{!-- Display read-only value --}}
    <div class="ambersteel-read-only pad-sm fill {{readOnlyCssClass}}" name="{{name}}">
      {{localize (lookupValue (isDefined contextOverride this) propertyPath itemId)}}
    </div>
  {{/if}}
{{/if}}
{{!-- Drop-down --}}
{{#if (eq type 'drop-down')}}
  {{#if isEditable}}
  <select 
    class="ambersteel-edit drop-down width-fill {{cssClass}}"
    data-item-id="{{itemId}}"
    data-property-path="{{propertyPath}}"
    name="{{name}}"
    placeholder="{{placeholder}}"
  >
    {{#select propertyPath}}
    {{#each options as |option index|}}
      <option value="{{lookupValue option ../optionValueProperty}}">{{localize (lookupValue option ../optionDisplayProperty)}}</option>
    {{/each}}
    {{/select}}
  </select>
  {{else}}
    {{!-- Display read-only value --}}
    <div class="ambersteel-read-only pad-sm fill {{readOnlyCssClass}}" name="{{name}}">
      {{#each options as |option index|}}
        {{#if (eq (lookupValue (isDefined ../contextOverride ../this) ../propertyPath itemId) (lookupValue option ../optionValueProperty))}}
          {{localize (lookupValue option ../optionDisplayProperty)}}
        {{/if}}
      {{/each}}
    </div>
  {{/if}}
{{/if}}
{{!-- Number-spinner --}}
{{#if (eq type 'number')}}
  {{#if isEditable}}
    {{#> numberSpinner}}
    <input 
      class="ambersteel-edit spinner {{cssClass}}"
      type="number"
      data-dtype="Number"
      {{#if min}}min="{{min}}"{{/if}}
      {{#if max}}max="{{max}}"{{/if}}
      step="{{isDefined step 1}}"
      data-item-id="{{itemId}}"
      data-property-path="{{propertyPath}}"
      value="{{lookupValue (isDefined contextOverride this) propertyPath itemId}}"
      name="{{name}}"
      placeholder="{{placeholder}}"
      />
    {{/numberSpinner}}
  {{else}}
    {{!-- Display read-only value --}}
    <div class="ambersteel-read-only pad-sm fill {{readOnlyCssClass}}" name="{{name}}">
      {{lookupValue (isDefined contextOverride this) propertyPath itemId}}
    </div>
  {{/if}}
{{/if}}
{{!-- Textarea --}}
{{#if (eq type 'multi-line')}}
  {{#if isEditable}}
    <textarea 
      class="ambersteel-edit {{#if allowResize}}resize-vertical{{else}}resize-none{{/if}} {{cssClass}}"
      spellcheck="false"
      data-item-id="{{itemId}}"
      data-property-path="{{propertyPath}}"
      name="{{name}}"
      placeholder="{{placeholder}}"
    >{{lookupValue (isDefined contextOverride this) propertyPath itemId}}</textarea>
  {{else}}
    {{!-- Display read-only value --}}
    <div class="ambersteel-read-only pad-sm fill {{readOnlyCssClass}}" name="{{name}}">
      {{localize (lookupValue (isDefined contextOverride this) propertyPath itemId)}}
    </div>
  {{/if}}
{{/if}}
{{#if (eq type 'radio-buttons')}}
  {{#if isEditable}}
    <div 
      type="hidden"
      class="radio-button-group ambersteel-edit flex flex-row {{cssClass}}" 
      name="{{name}}" 
      data-item-id="{{itemId}}" 
      data-property-path="{{propertyPath}}"
      value="{{lookupValue (isDefined contextOverride this) propertyPath itemId}}"
    >
      {{#each options as |option index|}}
        <div class="radio-button-container flex flex-row">
          <input 
            type="radio" 
            class="radio-button" 
            name="{{../name}}" 
            id="{{../name}}-{{lookupValue option ../optionValueProperty}}" 
            value="{{lookupValue option ../optionValueProperty}}">
          <label class="fancy-font" for="{{../name}}-{{lookupValue option ../optionValueProperty}}">
            {{localize (lookupValue option ../optionDisplayProperty)}}
          </label>
        </div>
      {{/each}}
    </div>
  {{else}}
    {{!-- Display read-only value --}}
    <div class="ambersteel-read-only pad-sm fill {{readOnlyCssClass}}" name="{{name}}">
      {{#each options as |option index|}}
        {{#if (eq (lookupValue (isDefined ../contextOverride ../this) ../propertyPath itemId) (lookupValue option ../optionValueProperty))}}
          {{localize (lookupValue option ../optionDisplayProperty)}}
        {{/if}}
      {{/each}}
    </div>
  {{/if}}
{{/if}}