{{!-- Required context:
isEditable: {Boolean}
itemId: {String|undefined}
propertyPath: {String}
type: {String} = "single-line|multi-line|drop-down|number"
options: {Array<Object>|undefined}
optionValueProperty: {String|undefined}
optionDisplayProperty: {String|undefined}
cssClass: {String|undefined}
readOnlyCssClass: {String|undefined}
contextOverride: {Any}
--}}
{{#if isEditable}}
  {{!-- Single-line input --}}
  {{#if (eq type 'single-line')}}
    <input class="ambersteel-edit {{cssClass}}"
      data-item-id="{{itemId}}"
      data-property-path="{{propertyPath}}"
      type="text"
      value="{{lookupValue (isDefined contextOverride this) propertyPath itemId}}"
    />
  {{/if}}
  {{!-- Drop-down --}}
  {{#if (eq type 'drop-down')}}
    <select class="ambersteel-edit drop-down {{cssClass}}"
      data-item-id="{{itemId}}"
      data-property-path="{{propertyPath}}"
    >
      {{#select propertyPath}}
      {{#each options as |option index|}}
      <option value="{{lookupValue option ../optionValueProperty}}">{{localize (lookupValue option ../optionDisplayProperty)}}</option>
      {{/each}}
      {{/select}}
    </select>
  {{/if}}
  {{!-- Number-spinner --}}
  {{#if (eq type 'number')}}
    {{#> numberSpinner}}
    <input class="ambersteel-edit spinner {{cssClass}}"
      type="number"
      data-dtype="Number"
      min="0"
      step="1"
      data-item-id="{{itemId}}"
      data-property-path="{{propertyPath}}"
      value="{{lookupValue (isDefined contextOverride this) propertyPath itemId}}"
      />
    {{/numberSpinner}}
  {{/if}}
  {{!-- Textarea --}}
  {{#if (eq type 'multi-line')}}
      <textarea class="ambersteel-edit {{cssClass}}"
        spellcheck="false"
        data-item-id="{{itemId}}"
        data-property-path="{{propertyPath}}"
      >{{lookupValue (isDefined contextOverride this) propertyPath itemId}}</textarea>
  {{/if}}
{{else}}
  {{!-- Display read-only value --}}
  <span class="ambersteel-read-only {{readOnlyCssClass}}">
    {{lookupValue (isDefined contextOverride this) propertyPath itemId}}
  </span>
{{/if}}