{{!-- Required context:
viewModel: {InputNumberSpinnerViewModel}
cssClass: {String | undefined}
readOnlyCssClass: {String | undefined}
--}}
{{#if viewModel.isEditable}}
<span class="spinner-container component-input-number-spinner flex-grow">
  <input 
    class="custom-system-edit spinner {{cssClass}}"
    type="number"
    data-dtype="Number"
    name="{{viewModel.id}}"
    id="{{viewModel.id}}"
    value="{{viewModel.value}}"
    {{#if viewModel.hasMin}}min="{{viewModel.min}}"{{/if}}
    {{#if viewModel.hasMax}}max="{{viewModel.max}}"{{/if}}
    step="{{viewModel.step}}"
  />
  <div class="spinner-button-container">
    <a class="button-spinner button-spinner-up">
      <i class="fas fa-caret-up"></i>
    </a>
    <a class="button-spinner button-spinner-down">
      <i class="fas fa-caret-down"></i>
    </a>
  </div>
</span>
{{else}}
  {{!-- Display read-only value --}}
  <div 
    class="custom-system-read-only pad-sm border-sm fill component-input-number-spinner {{readOnlyCssClass}}" 
    name="{{viewModel.id}}"
    id="{{viewModel.id}}"
  >{{viewModel.value}}</div>
{{/if}}
