{{!-- Required context:
cssClass: {String | undefined}
readOnlyCssClass: {String | undefined}
// If provided, "parent" and "id" must be undefined!
viewModel: {ViewModel | undefined}

// If provided, "viewModel" must be undefined!
parent: {ViewModel | undefined}
id: {String | undefined}
propertyOwner: {Object | undefined}
propertyPath: {String | undefined}
localizableTitle: {String | undefined}
placeholder: {String | undefined}
--}}
{{#viewModel parent id viewModel "InputTextFieldViewModel" propertyOwner propertyPath localizableTitle placeholder}}
{{#if isEditable}}
  <input 
    class="custom-system-edit input-width-override component-input-textfield {{../cssClass}}"
    data-property-path="{{propertyPath}}"
    type="text"
    name="{{id}}"
    id="{{id}}"
    placeholder="{{localizedPlaceholder}}"
    value="{{value}}"
    title="{{localizedTitle}}"
  />
{{else}}
  {{!-- Display read-only value --}}
  <div 
    class="custom-system-read-only pad-sm fill component-input-textfield {{../readOnlyCssClass}}" 
    name="{{id}}"
    id="{{id}}"
  >
    {{localizedValue}}
  </div>
{{/if}}
{{/viewModel}}
