{{!-- Requires context:
viewModel: {ActorSheetViewModel}
cssClass: {undefined | String}
--}}
<form class="{{viewModel.document.type}} flexcol{{#if cssClass}} {{cssClass}}{{/if}}" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    {{> inputImage viewModel=viewModel.vmImg cssClass="profile-img" }}
    <div class="header-fields">
      <div class="flex flex-row">
        <h1 class="header-name flex-grow{{#if viewModel.showFancyFont}} fancy-font{{/if}}">
          {{> inputTextField viewModel=viewModel.vmTfName }}
        </h1>
        <div class="flex flex-center {{#if viewModel.isSendable}}{{else}}hidden{{/if}}">
          {{> buttonSendToChat viewModel=viewModel.vmBtnSendToChat }}
        </div>
      </div>
      {{#if (eq viewModel.isPlain false)}}
        {{> "systems/ambersteel/presentation/sheet/actor/part/actor-personals.hbs" viewModel=viewModel.personalsViewModel }}
      {{/if}}
    </div>
  </header>

  {{#if (or (eq viewModel.isPlain false) (eq viewModel.isGM true))}}
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs flex flex-justify" id="nav-sheet-tabs" data-group="primary">
      {{#if (eq viewModel.isPlain false)}}
        {{!-- Default tab is specified in actor-sheet.mjs --}}
        <a class="item flex flex-center flex-grow{{#if viewModel.showFancyFont}} fancy-font{{/if}}" data-tab="attributes"><div>{{localize "ambersteel.character.sheet.tab.attributes"}}</div></a>
        <a class="item flex flex-center flex-grow{{#if viewModel.showFancyFont}} fancy-font{{/if}}" data-tab="skills"><div>{{localize "ambersteel.character.sheet.tab.skills"}}</div></a>
        {{#if viewModel.isPC }}
          <a class="item flex flex-center flex-grow{{#if viewModel.showFancyFont}} fancy-font{{/if}}" data-tab="beliefs-fate"><div>{{localize "ambersteel.character.sheet.tab.beliefsFate"}}</div></a>
        {{/if}}
        <a class="item flex flex-center flex-grow{{#if viewModel.showFancyFont}} fancy-font{{/if}}" data-tab="health"><div>{{localize "ambersteel.character.sheet.tab.health"}}</div></a>
        <a class="item flex flex-center flex-grow{{#if viewModel.showFancyFont}} fancy-font{{/if}}" data-tab="assets"><div>{{localize "ambersteel.character.sheet.tab.assets"}}</div></a>
        <a class="item flex flex-center flex-grow{{#if viewModel.showFancyFont}} fancy-font{{/if}}" data-tab="biography"><div>{{localize "ambersteel.character.sheet.tab.biography"}}</div></a>
      {{else}}
        <a class="item flex flex-center flex-grow{{#if viewModel.showFancyFont}} fancy-font{{/if}}" data-tab="description"><div>{{localize "ambersteel.character.sheet.tab.description"}}</div></a>
      {{/if}}
      {{#if viewModel.isGM }}
        <a class="item flex flex-center flex-grow{{#if viewModel.showFancyFont}} fancy-font{{/if}}" data-tab="gm-notes"><div>{{localize "ambersteel.character.sheet.tab.gmNotes"}}</div></a>
      {{/if}}
    </nav>
  {{/if}}

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{#if (eq viewModel.isPlain false)}}
      {{!-- Attributes Tab --}}
      <div class="tab attributes" data-group="primary" data-tab="attributes">
        {{> "systems/ambersteel/presentation/sheet/actor/part/actor-attributes.hbs" viewModel=viewModel.attributesViewModel }}
      </div>

      {{!-- Skills Tab --}}
      <div class="tab skills" data-group="primary" data-tab="skills">
        {{> "systems/ambersteel/presentation/sheet/actor/part/actor-skills.hbs" viewModel=viewModel.skillsViewModel }}
      </div>

      {{#if viewModel.isPC }}
      {{!-- Beliefs&Fate Tab --}}
        <div class="tab beliefs-fate" data-group="primary" data-tab="beliefs-fate">
          {{> "systems/ambersteel/presentation/sheet/actor/part/actor-beliefs-fate.hbs" viewModel=viewModel.beliefsFateViewModel }}
        </div>
      {{/if}}

      {{!-- Health Tab --}}
      <div class="tab health" data-group="primary" data-tab="health">
        {{> "systems/ambersteel/presentation/sheet/actor/part/actor-health.hbs" viewModel=viewModel.healthViewModel }}
      </div>

      {{!-- Assets Tab --}}
      <div class="tab assets" data-group="primary" data-tab="assets">
        {{> "systems/ambersteel/presentation/sheet/actor/part/actor-assets.hbs" viewModel=viewModel.assetsViewModel }}
      </div>

      {{!-- Biography Tab --}}
      <div class="tab biography" data-group="primary" data-tab="biography">
        {{> "systems/ambersteel/presentation/sheet/actor/part/actor-biography.hbs" viewModel=viewModel.biographyViewModel }}
      </div>
    {{else}}
      <div class="{{#if viewModel.isGM}}tab {{/if}}description" data-group="primary" data-tab="description">
        <div class="sheet-block fill">
          {{editor content=viewModel.document.description target="data.description" button=true editable=viewModel.isEditable owner=viewModel.isOwner}}
        </div>
      </div>
    {{/if}}

    {{!-- GM Notes Tab --}}
    {{#if viewModel.isGM }}
      <div class="tab gm-notes" data-group="primary" data-tab="gm-notes">
        {{> "systems/ambersteel/presentation/component/section-gm-notes/section-gm-notes.hbs" viewModel=viewModel.gmNotesViewModel }}
      </div>
    {{/if}}

  </section>
</form>