{{!-- Requires context:
viewModel: {ActorChatMessageViewModel}
cssClass: {undefined | String}
--}}
<section class="custom-system-chat-message{{#if cssClass}} {{cssClass}}{{/if}}" 
  data-view-model-id="{{viewModel.id}}"
  data-document-id="{{viewModel.document.id}}"
  id="{{viewModel.id}}"
>
  {{!-- Header --}}
  <div class="flex flex-row">
    <div class="flex flex-center">
      <img class="inline-img custom-icon-chat margin-r-sm" name="img" src="{{viewModel.document.img}}" title="{{viewModel.document.name}}" height="35" width="35" />
    </div>
    <h2 class="flex-grow">
      {{viewModel.document.name}}
    </h2>
  </div>
  {{#if (eq viewModel.isPlain false)}}
    {{!-- Personals --}}
    {{!-- Species --}}
    {{#if viewModel.showSpecies}}
      <div class="flex flex-row sheet-block margin-b-md">
        <div class="width-min-xl{{#if viewModel.showFancyFont}} fancy-font{{/if}}">
          {{localize "system.character.personals.species"}}
        </div>
        <div class="flex-grow">
          {{viewModel.document.person.species}}
        </div>
      </div>
    {{/if}}
    {{#if viewModel.showCulture}}
      <div class="flex flex-row sheet-block margin-b-md">
        <div class="width-min-xl{{#if viewModel.showFancyFont}} fancy-font{{/if}}">
          {{localize "system.character.personals.culture"}}
        </div>
        <div class="flex-grow">
          {{viewModel.document.person.culture}}
        </div>
      </div>
    {{/if}}
    {{#if viewModel.showSex}}
      <div class="flex flex-row sheet-block margin-b-md">
        <div class="width-min-xl{{#if viewModel.showFancyFont}} fancy-font{{/if}}">
          {{localize "system.character.personals.sex"}}
        </div>
        <div class="flex-grow">
          {{viewModel.document.person.sex}}
        </div>
      </div>
    {{/if}}
    {{#if viewModel.showAge}}
      <div class="flex flex-row sheet-block margin-b-md">
        <div class="width-min-xl{{#if viewModel.showFancyFont}} fancy-font{{/if}}">
          {{localize "system.character.personals.age"}}
        </div>
        <div class="flex-grow">
          {{viewModel.document.person.age}}
        </div>
      </div>
    {{/if}}
    {{!-- Biography --}}
    <div class="sheet-block">
      <h3 class="width-min-xl{{#if viewModel.showFancyFont}} fancy-font{{/if}}">
        {{localize "system.character.biography.label"}}
      </h3>
      {{> lazyRichText viewModel=viewModel.vmLazyBiography}}
    </div>
  {{else}}
    {{!-- Description --}}
    <div class="sheet-block">
      <h3 class="width-min-xl{{#if viewModel.showFancyFont}} fancy-font{{/if}}">
        {{localize "system.general.description"}}
      </h3>
      {{> lazyRichText viewModel=viewModel.vmLazyDescription}}
    </div>
  {{/if}}
</section>