{{!-- Requires context:
viewModel: {ActorSheetViewModel}
cssClass: {undefined | String}
--}}
<form class="{{viewModel.document.type}} flexcol{{#if cssClass}} {{cssClass}}{{/if}}" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    {{> inputImage viewModel=viewModel.vmImg cssClass="profile-img" }}
    <div class="header-fields">
      <div class="flex flex-row">
        <h1 class="header-name flex-grow{{#if viewModel.showFancyFont}} fancy-font{{/if}}">
          {{> inputTextField viewModel=viewModel.vmTfName }}
        </h1>
        {{!-- Context Menu --}}
        {{> buttonContextMenu viewModel=viewModel.vmBtnContextMenu cssClass=viewModel.contextMenuClass }}
        <div class="flex flex-center {{#if viewModel.isSendable}}{{else}}hidden{{/if}}">
          {{> buttonSendToChat viewModel=viewModel.vmBtnSendToChat }}
        </div>
      </div>
      {{#if (eq viewModel.isPlain false)}}
      {{#with viewModel.templatePersonals as | template |}}
        {{> (template) viewModel=../viewModel.personalsViewModel }}
      {{/with}}
      {{/if}}
    </div>
  </header>

  {{#if viewModel.showNavigation}}
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs flex flex-justify font-size-default" id="nav-sheet-tabs" data-group="primary">
      {{#if (eq viewModel.isPlain false)}}
        {{!-- Default tab is specified in actor-sheet.mjs --}}
        <a class="item flex flex-center flex-grow{{#if viewModel.showFancyFont}} fancy-font{{/if}}" data-tab="abilities"><div>{{localize "ambersteel.character.sheet.tab.abilities"}}</div></a>
        {{#if viewModel.showPersonality }}
          <a class="item flex flex-center flex-grow{{#if viewModel.showFancyFont}} fancy-font{{/if}}" data-tab="drivers-fate"><div>{{localize "ambersteel.character.sheet.tab.personality"}}</div></a>
        {{/if}}
        <a class="item flex flex-center flex-grow{{#if viewModel.showFancyFont}} fancy-font{{/if}}" data-tab="health"><div>{{localize "ambersteel.character.sheet.tab.health"}}</div></a>
        <a class="item flex flex-center flex-grow{{#if viewModel.showFancyFont}} fancy-font{{/if}}" data-tab="assets"><div>{{localize "ambersteel.character.sheet.tab.assets"}}</div></a>
        <a class="item flex flex-center flex-grow{{#if viewModel.showFancyFont}} fancy-font{{/if}}" data-tab="biography"><div>{{localize "ambersteel.character.sheet.tab.biography"}}</div></a>
      {{else}}
        <a class="item flex flex-center flex-grow{{#if viewModel.showFancyFont}} fancy-font{{/if}}" data-tab="description"><div>{{localize "ambersteel.character.sheet.tab.description"}}</div></a>
      {{/if}}
      {{#if viewModel.isGM }}
        <a class="item flex flex-center flex-grow{{#if viewModel.showFancyFont}} fancy-font{{/if}}" data-tab="gm-notes"><div>{{localize "ambersteel.character.sheet.tab.gmNotes"}}</div></a>
      {{/if}}
    </nav>
  {{/if}}

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{#if (eq viewModel.isPlain false)}}
      {{!-- Abilities Tab --}}
      <div class="tab abilities" data-group="primary" data-tab="abilities">
        {{!-- Attributes --}}
        <div>
          {{> lazy viewModel=viewModel.attributesViewModel}}
        </div>
        {{!-- Base Initiative --}}
        {{#> header3 cssClass="flex flex-row"}}
          <span class="flex-grow"></span>
          {{localize "ambersteel.character.attribute.initiative.baseInitiative"}}
          <span class="width-sm"></span>
          {{#> readOnlyValue cssClass="width-md"}}{{viewModel.document.baseInitiative}}{{/readOnlyValue}}
        {{/header3}}
        {{!-- Skills --}}
        <div>
          {{> lazy viewModel=viewModel.skillsViewModel}}
        </div>
      </div>
      {{#if viewModel.showPersonality }}
      {{!-- Drivers & Fate Tab --}}
        <div class="tab drivers-fate" data-group="primary" data-tab="drivers-fate">
          {{> lazy viewModel=viewModel.personalityViewModel}}
        </div>
      {{/if}}
      {{!-- Health Tab --}}
      <div class="tab health" data-group="primary" data-tab="health">
        {{> lazy viewModel=viewModel.healthViewModel}}
      </div>
      {{!-- Assets Tab --}}
      <div class="tab assets" data-group="primary" data-tab="assets">
        {{> lazy viewModel=viewModel.assetsViewModel}}
      </div>
      {{!-- Biography Tab --}}
      <div class="tab biography" data-group="primary" data-tab="biography">
        {{> lazy viewModel=viewModel.biographyViewModel}}
      </div>
    {{else}}
      <div class="{{#if viewModel.isGM}}tab {{/if}}description" data-group="primary" data-tab="description">
        <div class="sheet-block fill">
          {{> inputRichText viewModel=viewModel.vmRtDescription }}
        </div>
      </div>
    {{/if}}
    {{!-- GM Notes Tab --}}
    {{#if viewModel.isGM }}
      <div class="tab gm-notes" data-group="primary" data-tab="gm-notes">
        {{> lazy viewModel=viewModel.gmNotesViewModel}}
      </div>
    {{/if}}
  </section>
</form>