{{!-- Parameters:
viewModel: {SkillAbilityListItemViewModel}
cssClass: {undefined | String}
--}}
<div class="custom-system-list-item{{#if cssClass}} {{cssClass}}{{/if}}">
  {{!-- Row 1 --}}
  <div class="flex flex-row">
    <div class="flex flex-grow">
      {{!-- Roll --}}
      {{> buttonRoll viewModel=viewModel.vmBtnRoll }}
      {{!-- Send to chat --}}
      {{> buttonSendToChat viewModel=viewModel.vmBtnSendToChat }}
      {{!-- Name --}}
      <span class="width-min-xl">
        {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.general.name"}}{{/label}}
      </span>
      {{> inputImage viewModel=viewModel.vmImg cssClass="custom-icon-sm" }}
      <h4 class="flex-grow margin-r-md">
        {{> inputTextField viewModel=viewModel.vmTfName }}
      </h4>
    </div>
    {{!-- Context Menu --}}
    {{> buttonContextMenu viewModel=viewModel.vmBtnContextMenu }}
    {{!-- Delete --}}
    {{> buttonDelete viewModel=viewModel.vmBtnDelete }}
  </div>
  {{!-- Row --}}
  {{!-- Description --}}
  <div class="flex flex-column margin-b-md border-solid-t-sm border-solid-b-sm">
    {{> inputRichText viewModel=viewModel.vmRtDescription }}
  </div>
  {{!-- Row --}}
  <div class="grid grid-2col grid-gap-md">
    {{!-- Required Level --}}
    <div class="fill flex flex-row">
      <div class="flex-grow">
        {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.skill.ability.requirement"}}{{/label}}
      </div>
      <div class="width-md">
        {{> inputNumberSpinner viewModel=viewModel.vmNsRequiredLevel }}
      </div>
    </div>
    {{!-- AP cost --}}
    <div class="fill flex flex-row">
      <div class="flex-grow">
        {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.skill.ability.apCost"}}{{/label}}
      </div>
      <div class="width-md">
        {{> inputNumberSpinner viewModel=viewModel.vmNsApCost }}
      </div>
    </div>
    {{!-- Lots of optional content here --}}
    {{!-- Obstacle --}}
    <div class="fill flex flex-row{{#if viewModel.hideObstacle}} hidden{{/if}}">
      <div class="width-min-lg">
        {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.roll.obstacle.abbreviation"}}{{/label}}
      </div>
      <div class="flex-grow">
        {{> inputTextField viewModel=viewModel.vmTfObstacle }}
      </div>
    </div>
    {{!-- Opposed By --}}
    <div class="fill flex flex-row{{#if viewModel.hideOpposedBy}} hidden{{/if}}">
      <div class="width-min-lg">
        {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.roll.obstacle.opposedBy.label"}}{{/label}}
      </div>
      <div class="flex-grow">
        {{> inputTextField viewModel=viewModel.vmTfOpposedBy }}
      </div>
    </div>
    {{!-- Distance --}}
    <div class="fill flex flex-row{{#if viewModel.hideDistance}} hidden{{/if}}">
      <div class="width-min-lg">
        {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.skill.ability.distance.label"}}{{/label}}
      </div>
      <div class="flex-grow">
        {{> inputTextField viewModel=viewModel.vmTfDistance }}
      </div>
    </div>
    {{!-- Attack type --}}
    <div class="fill flex flex-row{{#if viewModel.hideAttackType}} hidden{{/if}}">
      <div class="width-min-lg">
        {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.attackType.label"}}{{/label}}
      </div>
      <div class="flex-grow">
        {{> inputDropDown viewModel=viewModel.vmDdAttackType }}
      </div>
    </div>
  </div>
  {{!-- Damage --}}
  <div class="flex flex-row{{#if viewModel.hideDamage}} hidden{{/if}}">
    <div class="flex flex-center">
      <span class="square-button-light font-size-default flex flex-center" id="{{viewModel.id}}-damage-info">
        <i class="far fa-question-circle info-button"></i>
      </span>
    </div>
    {{> damageDefinitionList viewModel=viewModel.vmDamageDefinitionList}}
  </div>
  {{!-- Condition --}}
  <div class="flex flex-column margin-t-md{{#if viewModel.hideCondition}} hidden{{/if}}">
    {{> inputTextarea viewModel=viewModel.vmTaCondition }}
  </div>
</div>