{{!-- Parameters:
viewModel: {BaseListItemViewModel}
cssClass: {undefined | String}
--}}
<div id="{{viewModel.id}}" class="custom-system-list-item{{#if cssClass}} {{cssClass}}{{/if}}">
  {{!-- Header --}}
  {{#with viewModel.headerTemplate.template as |template|}}
  {{> (template) viewModel=../viewModel.headerTemplate.viewModel cssClass=viewModel.headerTemplate.cssClass }}
  {{/with}}
  {{!-- Promoted content --}}
  {{#if viewModel.promotedContent}}
    <div class="{{#if viewModel.promotedContent.isHidden}}hidden{{/if}}">
    {{#with viewModel.promotedContent.template as |template|}}
      {{> (template) viewModel=../viewModel.promotedContent.viewModel cssClass=../viewModel.promotedContent.cssClass }}
    {{/with}}
    </div>
  {{/if}}
  {{!-- Description --}}
  <div id="{{viewModel.id}}-description" class="flex flex-row border-solid-t-sm border-solid-b-sm{{#if (eq viewModel.detailMode "MINIMAL_COLLAPSED")}} hidden{{/if}}">
    {{> inputRichText viewModel=viewModel.vmRtDescription cssClass="fill" }}
  </div>
  {{!-- Expandable Content --}}
  <div id="{{viewModel.id}}-content" {{#if viewModel.isExpanded}}class="auto-margin-v-sm" style="height: 100%;"{{else}}class="auto-margin-v-sm hidden" style="height: 0%;"{{/if}}>
    {{!-- GM Notes --}}
    {{#if viewModel.showGmNotes }}
    <div class="sheet-block secret">
      {{> inputRichText viewModel=viewModel.vmGmNotes }}
    </div>
    {{/if}}
    {{!-- Data Fields --}}
    <div class="grid-2col grid-gap-sm">
      {{#each viewModel.dataFields as |dataField|}}
        {{#with dataField.template as |template|}}
          <div class="{{dataField.cssClass}}{{#if dataField.isHidden}}hidden{{/if}}">
            {{#> labeledControl viewModel=dataField.viewModel localizedIconToolTip=dataField.localizedIconToolTip localizedLabel=dataField.localizedLabel iconClass=dataField.iconClass }}
              {{> (template) }}
            {{/labeledControl}}
          </div>
        {{/with}}
      {{/each}}
    </div>
    {{!-- Additional Content --}}
    {{#if viewModel.additionalContent}}
      <div class="{{#if viewModel.additionalContent.isHidden}}hidden{{/if}}">
      {{#with viewModel.additionalContent.template as |template|}}
        {{> (template) viewModel=../viewModel.additionalContent.viewModel cssClass=../viewModel.additionalContent.cssClass }}
      {{/with}}
      </div>
    {{/if}}
  </div>
</div>
