{{!-- Parameters:
viewModel: {BaseListItemViewModel}
cssClass: {undefined | String}
--}}
<div id="{{viewModel.id}}" class="custom-system-list-item{{#if cssClass}} {{cssClass}}{{/if}}">
  {{!-- Header Row --}}
  <div class="flex flex-row flex-middle list-item-header">
    {{!-- Primary header buttons --}}
    {{#each viewModel.primaryHeaderButtons as |button|}}
      {{#with button.template as |template|}}
        <div class="{{#if button.isHidden}}hidden{{/if}}">
          {{> (template) viewModel=button.viewModel cssClass=button.cssClass }}
        </div>
      {{/with}}
    {{/each}}
    {{!-- Identity --}}
    <div class="list-item-header-img">
      {{> inputImage viewModel=viewModel.vmImg cssClass="custom-icon-sm" }}
    </div>
    <div id="{{viewModel.id}}-name-area" class="flex-grow">
      {{#if viewModel.enableExpansion}}
        {{#> button viewModel=viewModel.vmHeaderButton leftAlign=true cssClass="flex-grow pad-l-md font-size-lg font-bold" }}
        <div class="margin-l-md">
          <i id="{{../viewModel.id}}-expansion-indicator-up" class="fas fa-angle-double-up{{#if ../viewModel.isExpanded}}{{else}} hidden{{/if}}"></i>
          <i id="{{../viewModel.id}}-expansion-indicator-down" class="fas fa-angle-double-down{{#if ../viewModel.isExpanded}} hidden{{/if}}"></i>
        </div>
        {{/button}}
      {{else}}
        <span class="flex-grow pad-l-md font-size-lg font-bold{{#if viewModel.showFancyFont}} fancy-font{{/if}}">{{viewModel.document.name}}</span>
      {{/if}}
    </div>
    {{!-- Secondary header buttons --}}
    {{#each viewModel.secondaryHeaderButtons as |button|}}
      {{#with button.template as |template|}}
        <div class="{{#if button.isHidden}}hidden{{/if}}">
          {{> (template) viewModel=button.viewModel cssClass=button.cssClass }}
        </div>
      {{/with}}
    {{/each}}
  </div>
  {{!-- Additional header content --}}
  {{#if viewModel.additionalHeaderContent}}
    <div class="{{#if viewModel.additionalHeaderContent.isHidden}}hidden{{/if}}">
    {{#with viewModel.additionalHeaderContent.template as |template|}}
      {{> (template) viewModel=../viewModel.additionalHeaderContent.viewModel cssClass=../viewModel.additionalHeaderContent.cssClass }}
    {{/with}}
    </div>
  {{/if}}
  {{!-- Description --}}
  <div class="flex flex-row border-solid-t-sm border-solid-b-sm">
    {{> inputRichText viewModel=viewModel.vmRtDescription cssClass="fill" }}
  </div>
  <div id="{{viewModel.id}}-content" {{#if viewModel.isExpanded}}class="" style="height: 100%;"{{else}}class="hidden" style="height: 0%;"{{/if}}>
    <div class="grid-2col grid-gap-sm">
      {{#each viewModel.dataFields as |dataField|}}
        {{#with dataField.template as |template|}}
          <div class="{{dataField.cssClass}}{{#if dataField.isHidden}}hidden{{/if}}">
            {{#> labeledControl viewModel=dataField.viewModel localizedIconToolTip=dataField.localizedIconToolTip localizedLabel=dataField.localizedLabel iconClass=dataField.iconClass }}
              {{> (template) }}
            {{/labeledControl}}
          </div>
        {{/with}}
      {{/each}}
    </div>
    {{#if viewModel.additionalContent}}
      <div class="{{#if viewModel.additionalContent.isHidden}}hidden{{/if}}">
      {{#with viewModel.additionalContent.template as |template|}}
        {{> (template) viewModel=../viewModel.additionalContent.viewModel cssClass=../viewModel.additionalContent.cssClass }}
      {{/with}}
      </div>
    {{/if}}
  </div>
</div>
