{{!-- Parameters:
viewModel: {BaseListItemViewModel}
cssClass: {undefined | String}
--}}
<div id="{{viewModel.id}}" class="custom-system-list-item{{#if cssClass}} {{cssClass}}{{/if}}">
  {{!-- Header Row --}}
  <div class="flex flex-row flex-middle list-item-header">
    {{!-- Identity --}}
    <div class="list-item-header-img">
      {{> inputImage viewModel=viewModel.vmImg cssClass="custom-icon-sm" }}
    </div>
    <div id="{{viewModel.id}}-name-area" class="flex-grow">
      {{#if viewModel.enableExpansion}}
        {{#> button viewModel=viewModel.vmHeaderButton leftAlign=true cssClass="flex-grow" }}
          <span class="flex-grow pad-l-sm font-size-lg font-bold{{#if viewModel.showFancyFont}} fancy-font{{/if}}">{{../viewModel.title}}</span>
          <div class="flex flex-center">
            <i id="{{../viewModel.id}}-expansion-indicator-up" class="ico ico-chevron-d-solid{{#if ../viewModel.isEditable}} interactible{{/if}} dark{{#if ../viewModel.isExpanded}}{{else}} hidden{{/if}}"></i>
            <i id="{{../viewModel.id}}-expansion-indicator-down" class="ico ico-chevron-r-solid{{#if ../viewModel.isEditable}} interactible{{/if}} dark{{#if ../viewModel.isExpanded}} hidden{{/if}}"></i>
          </div>
        {{/button}}
      {{else}}
        <span class="flex-grow pad-l-sm font-size-lg font-bold{{#if viewModel.showFancyFont}} fancy-font{{/if}}">{{viewModel.title}}</span>
      {{/if}}
    </div>
    {{!-- Primary header buttons --}}
    <div id="{{viewModel.id}}-primary-header-buttons" class="flex flex-row border-solid-l-sm{{#if (eq viewModel.detailMode "MINIMAL_COLLAPSED")}} hidden{{/if}}">
      {{#each viewModel.primaryHeaderButtons as |button|}}
        {{#with button.template as |template|}}
          <div class="{{#if button.isHidden}}hidden{{/if}}">
            {{> (template) viewModel=button.viewModel cssClass=button.cssClass }}
          </div>
        {{/with}}
      {{/each}}
    </div>
    {{!-- Secondary header buttons --}}
    <div id="{{viewModel.id}}-secondary-header-buttons" class="flex flex-row border-solid-l-sm{{#if (eq viewModel.detailMode "MINIMAL_COLLAPSED")}} hidden{{/if}}">
      {{#each viewModel.secondaryHeaderButtons as |button|}}
        {{#with button.template as |template|}}
          <div class="{{#if button.isHidden}}hidden{{/if}}">
            {{> (template) viewModel=button.viewModel cssClass=button.cssClass }}
          </div>
        {{/with}}
      {{/each}}
    </div>
  </div>
  {{!-- Additional header content --}}
  {{#if viewModel.additionalHeaderContent}}
    <div class="{{#if viewModel.additionalHeaderContent.isHidden}}hidden{{/if}}">
    {{#with viewModel.additionalHeaderContent.template as |template|}}
      {{> (template) viewModel=../viewModel.additionalHeaderContent.viewModel cssClass=../viewModel.additionalHeaderContent.cssClass }}
    {{/with}}
    </div>
  {{/if}}
  {{!-- Description --}}
  <div id="{{viewModel.id}}-description" class="flex flex-row border-solid-t-sm border-solid-b-sm{{#if (eq viewModel.detailMode "MINIMAL_COLLAPSED")}} hidden{{/if}}">
    {{> inputRichText viewModel=viewModel.vmRtDescription cssClass="fill" }}
  </div>
  {{!-- Expandable Content --}}
  <div id="{{viewModel.id}}-content" {{#if viewModel.isExpanded}}class="auto-margin-v-sm" style="height: 100%;"{{else}}class="auto-margin-v-sm hidden" style="height: 0%;"{{/if}}>
    {{!-- GM Notes --}}
    {{#if viewModel.showGmNotes }}
    <div class="sheet-block secret">
      {{> inputRichText viewModel=viewModel.vmGmNotes }}
    </div>
    {{/if}}
    {{!-- Data Fields --}}
    <div class="grid-2col grid-gap-sm">
      {{#each viewModel.dataFields as |dataField|}}
        {{#with dataField.template as |template|}}
          <div class="{{dataField.cssClass}}{{#if dataField.isHidden}}hidden{{/if}}">
            {{#> labeledControl viewModel=dataField.viewModel localizedIconToolTip=dataField.localizedIconToolTip localizedLabel=dataField.localizedLabel iconClass=dataField.iconClass }}
              {{> (template) }}
            {{/labeledControl}}
          </div>
        {{/with}}
      {{/each}}
    </div>
    {{!-- Additional Content --}}
    {{#if viewModel.additionalContent}}
      <div class="{{#if viewModel.additionalContent.isHidden}}hidden{{/if}}">
      {{#with viewModel.additionalContent.template as |template|}}
        {{> (template) viewModel=../viewModel.additionalContent.viewModel cssClass=../viewModel.additionalContent.cssClass }}
      {{/with}}
      </div>
    {{/if}}
  </div>
</div>
