{{!-- Parameters:
viewModel: {BaseItemSheetViewModel}
cssClass: {undefined | String}
--}}
<form id="{{viewModel.id}}" class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="flex flex-column flex-grow">
      <div class="flex flex-row flex-middle">
        {{!-- Primary header buttons --}}
        {{#each viewModel.primaryHeaderButtons as |button|}}
          {{#with button.template as |template|}}
            <div class="{{#if button.isHidden}}hidden{{/if}}">
              {{> (template) viewModel=button.viewModel cssClass=button.cssClass }}
            </div>
          {{/with}}
        {{/each}}
        {{!-- Identity --}}
        {{> inputImage viewModel=viewModel.vmImg cssClass="custom-icon-md" }}
        <h1 class="header-name">
          {{> inputTextField viewModel=viewModel.vmTfName }}
        </h1>
        {{!-- Secondary header buttons --}}
        {{#each viewModel.secondaryHeaderButtons as |button|}}
          {{#with button.template as |template|}}
            <div class="{{#if button.isHidden}}hidden{{/if}}">
              {{> (template) viewModel=button.viewModel cssClass=button.cssClass }}
            </div>
          {{/with}}
        {{/each}}
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="actor-navigation-bar sheet-tabs tabs flex flex-justify font-size-default{{#if viewModel.showNavigation}}{{else}} hidden{{/if}}" id="nav-sheet-tabs" data-group="primary">
    <a class="item flex flex-center flex-grow{{#if viewModel.showFancyFont}} fancy-font{{/if}}" data-tab="content"><div>{{localize "system.character.sheet.tab.abilities"}}</div></a>
    <a class="item flex flex-center flex-grow{{#if viewModel.showFancyFont}} fancy-font{{/if}}" data-tab="gm-notes"><div>{{localize "system.general.sheet.tab.gmNotes"}}</div></a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="tab content" data-group="primary" data-tab="content">
      {{!-- Content --}}
      {{!-- Description --}}
      <div class="sheet-block flex flex-column margin-b-md">
        {{> inputRichText viewModel=viewModel.vmRtDescription }}
      </div>
      <div class="grid-2col grid-gap-sm">
        {{#each viewModel.dataFields as |dataField|}}
          {{#with dataField.template as |template|}}
            <div class="{{dataField.cssClass}}{{#if dataField.isHidden}}hidden{{/if}}">
              {{#> labeledControl viewModel=dataField.viewModel localizedIconToolTip=dataField.localizedIconToolTip localizedLabel=dataField.localizedLabel iconClass=dataField.iconClass }}
                {{> (template) }}
              {{/labeledControl}}
            </div>
          {{/with}}
        {{/each}}
      </div>
      {{#if viewModel.additionalContent}}
        <div class="{{#if viewModel.additionalContent.isHidden}}hidden{{/if}}">
        {{#with viewModel.additionalContent.template as |template|}}
          {{> (template) viewModel=../viewModel.additionalContent.viewModel cssClass=../viewModel.additionalContent.cssClass }}
        {{/with}}
        </div>
      {{/if}}
    </div>
    {{!-- GM Notes Tab --}}
    {{#if viewModel.isGM }}
      <div class="tab gm-notes" data-group="primary" data-tab="gm-notes">
        {{> lazy viewModel=viewModel.gmNotesViewModel}}
      </div>
    {{/if}}
  </section>
</form>
