{{!-- Requires context:
isEditable: {Boolean},
isSendable: {Boolean},
data: {Object} where Object = {
  localizableName: {String},
  localizableDescription: {String},
  cost: {Object} where Object = {
    miFP: {Number},
    maFP: {Number},
    AFP: {Number}
  }
},
item: {Object} where Object -> {
  id: {String},
  img: {String},
  name: {String}
}
--}}
{{#log isSendable}}{{/log}}
<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="flex flex-column">
      <div class="flex flex-row">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1 class="header-name">
          {{#if isEditable}}
            <input class="header-name" name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}" />
          {{else}}
            {{item.name}}
          {{/if}}
        </h1>
      </div>
      {{#if isSendable}}
        <div class="flex-group-right">
          <span class="ambersteel-item-to-chat-margin-right">
            <a class="ambersteel-item-to-chat pad-sm button" data-item-id="{{data._id}}" title="{{localize ambersteel.labels.sendToChat}}">
              <i class="fas fa-comments"></i>
            </a>
          </span>
        </div>
      {{/if}}
    </div>
  </header>
  <div class="flex flex-column fate-item-body-container">
    <div class="sheet-block grid grid-2col">
      {{!-- row 1 --}}
      <span class="fancy-font line-height">
        <label for="data.cost.miFP">{{localize "ambersteel.fateSystem.miFP"}}</label>
        <span class="primary-font">[{{localize "ambersteel.fateSystem.miFPAbbreviation"}}]</span>
      </span>
      <span class="fate-spinner-column-container">
        {{#> numberSpinner}}
        <input type="number" data-dtype="Number" min="0" step="1" name="data.cost.miFP" value="{{data.cost.miFP}}" />
        {{/numberSpinner}}
      </span>
      {{!-- row 2 --}}
      <span class="fancy-font line-height">
        <label for="data.cost.maFP">{{localize "ambersteel.fateSystem.maFP"}}</label>
        <span class="primary-font">[{{localize "ambersteel.fateSystem.maFPAbbreviation"}}]</span>
      </span>
      <span class="fate-spinner-column-container">
        {{#> numberSpinner}}
        <input type="number" data-dtype="Number" min="0" step="1" name="data.cost.maFP" value="{{data.cost.maFP}}" />
        {{/numberSpinner}}
      </span>
      {{!-- row 3 --}}
      <span class="fancy-font line-height">
        <label for="data.cost.AFP">{{localize "ambersteel.fateSystem.AFP"}}</label>
        <span class="primary-font">[{{localize "ambersteel.fateSystem.AFPAbbreviation"}}]</span>
      </span>
      <span class="fate-spinner-column-container">
        {{#> numberSpinner}}
        <input type="number" data-dtype="Number" min="0" step="1" name="data.cost.AFP" value="{{data.cost.AFP}}" />
        {{/numberSpinner}}
      </span>
    </div>
    <div class="fate-card-item-description flex-grow">
      {{#if isEditable}}
        <textarea name="data.description" spellcheck="false">{{data.description}}</textarea>
      {{else}}
        <span class="multiline flex-grow">{{data.description}}</span>
      {{/if}}
    </div>
  </div>
</form>