{{!-- Requires context:
isEditable: {Boolean},
isSendable: {Boolean},
item: {Item} where Item = {
  data: {ItemData} where ItemData = {
    data: {Object} where Object = {
      description: {String}
    }
  },
  img: {String},
  name: {String},
  id: {String}
}
--}}
<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    {{#if isEditable}}
      <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
      <h1 class="header-name">
        <input class="header-name" name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/>
      </h1>
    {{else}}
      <img src="{{item.img}}" title="{{item.name}}" height="64" width="64"/>
      <h1>{{item.name}}</h1>
    {{/if}}
  </header>
  <div class="flex item-description">
    {{#if isEditable}}
      <textarea name="data.description" spellcheck="false">{{item.data.data.description}}</textarea>
    {{else}}
      <span class="multiline flex-grow">{{item.data.data.description}}</span>
    {{/if}}
  </div>
</form>
