{{!-- Requires context:
isEditable: {Boolean}
isSendable: {Boolean}
item: {Item} = {
  data: {ItemData} = {
    data: {Object} = {
      description: {String}
    }
  },
  img: {String}
  name: {String}
  id: {String}
}
--}}
<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="flex flex-column flex-grow">
      <div class="flex flex-row">
        {{#if isEditable}}
          <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
          <h1 class="header-name">
            <input class="header-name" name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/>
          </h1>
        {{else}}
          <img src="{{item.img}}" title="{{item.name}}" height="64" width="64"/>
          <h1 class="flex flex-grow">{{item.name}}</h1>
        {{/if}}
      </div>
      {{#if isSendable}}
        <span class="flex flex-right ambersteel-item-to-chat-margin-right">
          {{> buttonSendToChat}}
        </span>
      {{/if}}
    </div>
  </header>
  <div class="flex item-description">
    {{#if isEditable}}
      <textarea name="data.description" spellcheck="false">{{item.data.data.description}}</textarea>
    {{else}}
      <span class="multiline flex-grow">{{item.data.data.description}}</span>
    {{/if}}
  </div>
</form>
