{{!-- Requires context:
isEditable: {Boolean},
isSendable: {Boolean},
item: {Item} where Item = {
  data: {ItemData} where ItemData = {
    data: {Object} where Object = {
      description: {String},
      groupName: {String},
      value: {Number},
      successes: {Number},
      failures: {Number},
      relatedAttribute: {String},
      requiredSuccessses: {Number},
      requiredFailures: {Number},
      abilities: {[Object]} where Object -> see item/parts/skill-ability-table.hbs,
      isExpanded: {Boolean}
    }
  },
  img: {String},
  name: {String},
  id: {String}
}
--}}
<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="flex flex-column flex-grow">
      <div class="flex flex-row">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1 class="header-name">
          {{#if isEditable}}
            <input class="header-name" name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}" />
          {{else}}
            {{item.name}}
          {{/if}}
        </h1>
      </div>
      {{#if isSendable}}
        <span class="flex flex-right ambersteel-item-to-chat-margin-right">
          {{> buttonSendToChat
            type="item"
            id=item.id
          }}
        </span>
      {{/if}}
    </div>
  </header>
  <div class="flex sheet-block">
    <div class="flex flex-column">
      <label class="line-height fancy-font pad-sm" for="data.description">{{localize "ambersteel.labels.relatedAttribute"}}</label>
      <label class="line-height fancy-font pad-sm" for="data.relatedAttribute">{{localize "ambersteel.labels.description"}}</label>
    </div>
    <div class="flex flex-column flex-grow">
    {{#if isEditable}}
      <select class="ambersteel-item-edit" name="data.relatedAttribute" data-field="data.relatedAttribute">
        {{#select item.data.data.relatedAttribute}}
        {{#each CONFIG.character.attributes as | att |}}
        <option value="{{att.name}}">{{localize att.localizableAbbreviation}}</option>
        {{/each}}
        {{/select}}
      </select>
      <textarea class="resize-vertical" name="data.description" spellcheck="false">{{item.data.data.description}}</textarea>
    {{else}}
      <span class="line-height pad-sm">{{item.data.data.relatedAttribute}}</span>
      <span class="line-height pad-sm">{{item.data.data.description}}</span>
    {{/if}}
  </div>
  </div>
  <div class="{{#if item.data.data.isExpanded}}{{else}}hidden{{/if}}">
    {{> "systems/ambersteel/templates/item/parts/skill-ability-table.hbs" 
      isEditable=isEditable 
      skillItemId=item.id 
      abilities=item.data.data.abilities
    }}
  </div>
  {{> buttonToggleSkillAbilityList
    itemId=item.id
    isToggled=item.data.data.isExpanded
  }}
</form>