{{!-- Requires context:
isEditable: {Boolean}
isSendable: {Boolean}
item: {Item} = {
  id: {String}
  name: {String}
  img: {String}
  data: {ItemData} = {
    data: {Object} = {
      description: {String}
      groupName: {String}
      value: {Number}
      successes: {Number}
      failures: {Number}
      relatedAttribute: {String}
      requiredSuccessses: {Number}
      requiredFailures: {Number}
      abilities: {[Object]} -> see item/skill-ability/skill-ability-table.hbs,
      isExpanded: {Boolean}
    }
  }
}
--}}
<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="flex flex-column flex-grow">
      <div class="flex flex-row">
        <img class="header-image" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1 class="header-name">
          {{> inputComponent type="single-line" propertyPath="name" isEditable=isEditable }}
        </h1>
        {{#if isSendable}}
          <div class="flex flex-center">
            {{> buttonSendToChat}}
          </div>
        {{/if}}
      </div>
    </div>
  </header>
  <div class="flex sheet-block">
    <div class="flex flex-column">
      <label class="line-height fancy-font pad-sm" for="data.description">{{localize "ambersteel.labels.relatedAttribute"}}</label>
      <label class="line-height fancy-font pad-sm" for="data.relatedAttribute">{{localize "ambersteel.labels.description"}}</label>
    </div>
    <div class="flex flex-column flex-grow">
      {{> inputComponent type="drop-down" propertyPath="data.data.relatedAttribute" 
        options=CONFIG.character.attributes
        optionValueProperty="name"
        optionDisplayProperty="localizableName"
        isEditable=isEditable
      }}
      {{> inputComponent type="multi-line" propertyPath="data.data.description" isEditable=isEditable readOnlyCssClass="multiline flex-grow"}}
  </div>
  </div>
  <div class="{{#if item.data.data.isExpanded}}{{else}}hidden{{/if}}">
    {{> "systems/ambersteel/templates/item/skill-ability/skill-ability-table.hbs" 
      isEditable=isEditable 
      skillItemId=item.id 
      abilities=item.data.data.abilities
    }}
  </div>
  {{> buttonToggleSkillAbilityList isToggled=item.data.data.isExpanded }}
</form>