{{!-- Parameters:
viewModel: {SkillChatMessageViewModel}
cssClass: {undefined | String}
--}}
<section class="custom-system-chat-message{{#if cssClass}} {{cssClass}}{{/if}}" 
  data-view-model-id="{{viewModel.id}}"
  data-document-id="{{viewModel.item.id}}"
>
  {{!-- Header --}}
  <div class="flex flex-row">
    <div class="flex flex-center">
      <img class="inline-img header-image margin-r-sm" name="img" src="{{viewModel.item.img}}" title="{{viewModel.item.name}}" height="35" width="35" />
    </div>
    <h2 class="flex-grow">
      {{viewModel.item.name}}
    </h2>
  </div>
  {{!-- Related Attribute --}}
  <div class="flex flex-row sheet-block margin-b-md">
    <div class="width-min-xl fancy-font">
      {{localize "ambersteel.labels.attribute"}}
    </div>
    <div class="flex-grow">
      {{viewModel.relatedAttribute}}
    </div>
  </div>
  {{!-- Category --}}
  <div class="flex flex-row sheet-block margin-b-md">
    <div class="width-min-xl fancy-font">
      {{localize "ambersteel.labels.category"}}
    </div>
    <div class="flex-grow">
      {{viewModel.item.data.data.category}}
    </div>
  </div>
  {{!-- Description --}}
  <div class="sheet-block scrollable-height-md">
    {{{viewModel.description}}}
  </div>
  {{!-- Skill Abilites --}}
  {{> "systems/ambersteel/templates/item/skill-ability/skill-ability-table.hbs" viewModel=viewModel.vmSkillAbilityTable cssClass=(ifThenElse viewModel.hasAbilities "" "hidden") }}
</section>