{{!-- Required context:
viewModel: {InputTextareaViewModel}
cssClass: {String | undefined}
readOnlyCssClass: {String | undefined}
--}}
{{#if viewModel.isEditable}}
  <textarea 
    class="custom-system-edit {{#if viewModel.allowResize}}resize-vertical{{else}}resize-none{{/if}} component-input-textarea {{cssClass}}"
    spellcheck="{{viewModel.spellcheck}}"
    data-property-path="{{viewModel.propertyPath}}"
    name="{{viewModel.id}}"
    id="{{viewModel.id}}"
    placeholder="{{viewModel.localizedPlaceholder}}"
    title="{{viewModel.localizedTitle}}"
  >{{viewModel.value}}</textarea>
{{else}}
  {{!-- Display read-only value --}}
  <div 
    class="custom-system-read-only pad-sm fill multiline component-input-textarea {{readOnlyCssClass}}" 
    name="{{viewModel.id}}"
    id="{{viewModel.id}}"
  >
    {{viewModel.localizedValue}}
  </div>
{{/if}}