{{!-- Required context:
cssClass: {String | undefined}
readOnlyCssClass: {String | undefined}
// If provided, "parent" and "id" must be undefined!
viewModel: {ViewModel | undefined}

// If provided, "viewModel" must be undefined!
parent: {ViewModel | undefined}
id: {String | undefined}
propertyOwner: {String | undefined}
propertyPath: {Object | undefined}
localizableTitle: {String | undefined}
placeholder: {String | undefined}
spellcheck: {Boolean | undefined}
--}}
{{#withViewModel parent id viewModel "InputTextareaViewModel" propertyOwner propertyPath localizableTitle placeholder spellcheck}}
{{#if isEditable}}
  <div style="display: grid;">
    <textarea 
      class="custom-system-edit component-input-textarea {{../cssClass}}"
      style="grid-area: 1 / 1 / 2/ 2;"
      spellcheck="{{spellcheck}}"
      data-property-path="{{propertyPath}}"
      name="{{id}}"
      id="{{id}}"
      placeholder="{{localizedPlaceholder}}"
      title="{{localizedTitle}}"
      >{{value}}</textarea>
    <div 
      class="textarea-auto-resize-sibling"
      aria-hidden="true"
      style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;"
      >{{value}}</div>
  </div>
{{else}}
  {{!-- Display read-only value --}}
  <div 
    class="custom-system-read-only pad-sm fill multiline component-input-textarea {{../readOnlyCssClass}}" 
    name="{{id}}"
    id="{{id}}"
  >
    {{localizedValue}}
  </div>
{{/if}}
{{/withViewModel}}