{{!-- Required context:
viewModel: {InputTextareaViewModel}
cssClass: {String | undefined}
readOnlyCssClass: {String | undefined}
--}}
{{#if viewModel.isEditable}}
  <div aria-hidden="true" style="display: grid;">
    <textarea 
      class="custom-system-edit component-input-textarea {{cssClass}}"
      style="grid-area: 1 / 1 / 2/ 2;"
      spellcheck="{{viewModel.spellcheck}}"
      data-property-path="{{viewModel.propertyPath}}"
      name="{{viewModel.id}}"
      id="{{viewModel.id}}"
      placeholder="{{viewModel.localizedPlaceholder}}"
      title="{{viewModel.localizedTitle}}"
      >{{viewModel.value}}</textarea>
    <div class="textarea-auto-resize-sibling" style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;">{{viewModel.value}}</div>
  </div>
{{else}}
  {{!-- Display read-only value --}}
  <div 
    class="custom-system-read-only pad-sm fill multiline component-input-textarea {{readOnlyCssClass}}" 
    name="{{viewModel.id}}"
    id="{{viewModel.id}}"
  >
    {{viewModel.localizedValue}}
  </div>
{{/if}}